<template>
    <Seguridad/>
</template>

<script>
import Seguridad from '../../components/Seguridad.vue';

    export default {
  components: { Seguridad },

        mounted() {
            console.log("lleog");
        }
    }
</script>
