<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-5">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Auditoria</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM 
                <div class="form-inline ml-3">
                  <div class="input-group input-group-sm"> 
                    <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-default-fix" @click="buscar">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div> 
                </div> 
                <div class="card-tools">
                    <a class="btn btn-success" href="#" v-b-modal.addUsuario @click="crearUsuarioModalAdm"><i class="fas fa-audit-plus fs-fw"></i>&nbsp; Nuevo Usuario</a>
                </div>-->
              </div> 

              <!-- /.card-header -->
              <!--<div class="card-body table-responsive p-0">-->
                <b-col lg="6" class="my-1 pt-2">
                  <b-form-group
                    label="Filtro"
                    label-for="filtro-input"
                    label-cols-sm="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-input-group size="sm">
                      <b-form-input
                        id="filtro-input"
                        v-model="filtro"
                        type="search"
                        placeholder="Buscar"
                      ></b-form-input>

                      <b-input-group-append>
                        <b-button :disabled="!filtro" @click="filtro = ''">Borrar</b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>

              <div class="card-body table-responsive p-0" id="tabla_audits">
                
                <b-table 
                 striped hover
                :items="audits"
                :fields="campos"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filtro"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
                >
                  <template #cell(actions)="row">
                    <b-button size="sm" @click="mostrarValores(row.item, row.index)" class="mr-1">
                      Mostrar
                    </b-button>
                  </template>
                </b-table>

                <b-modal size="xl" :id="infoModal.id" ok-only @hide="resetInfoModal">
                  <!--<pre>{{ infoModal.content }}</pre>-->
                  <div class="card-body table-responsive p-0">
                    <b-row>
                      <b-col lg="6" class="my-1">
                        <h4 class="text-center">Valores anteriores</h4>
                        <b-table stacked v-if="valores_viejos" hover :items="valores_viejos" :fields="campos_valores"></b-table>
                      </b-col>
                      <b-col lg="6" class="my-1">
                        <h4 class="text-center">Valores posteriores</h4>
                        <b-table stacked v-if="valores_nuevos" hover :items="valores_nuevos" :fields="campos_valores"></b-table>
                      </b-col>
                    </b-row>
                  </div>
                </b-modal>
                <!--<table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>Tipo de Usuario</th>
                    <th>Nombre de Usuario</th>
                    <th>Evento</th>
                    <th>auditable_type</th>
                    <th>auditable_id</th>
                    <th>old_values</th>
                    <th>new_values</th>
                    <th>url</th>
                    <th>ip_address</th>
                    <th>user_agent</th>
                    <th>tags</th>
                  </tr>

                    <tr v-for="audit in audits.data" :key="audit.id">
                    <td>{{ audit.user_type }}</td>
                    <td>{{ audit.user_id }}</td>
                    <td>{{ audit.event }}</td>
                    <td>{{ audit.auditable_type | upText }}</td>
                    <td>{{ audit.auditable_id | upText }}</td>
                    <td>{{ audit.old_values | upText }}</td>
                    <td>{{ audit.new_values | upText }}</td>
                    <td>{{ audit.url }}</td>
                    <td>{{ audit.ip_address }}</td>
                    <td>{{ audit.user_agent }}</td>
                    <td>{{ audit.tags }}</td>
                    <td>
                        <a href="#" v-b-modal.addUsuario @click="editarUsuarioModalAdm(audit)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                        <a href="#" @click="deleteaudit(audit.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table> -->
              </div>
              <!-- /.card-body -->
               <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                pills
                align="center"
                aria-controls="tabla_audits"
              ></b-pagination>

              <!--<div class="card-footer d-flex justify-content-center">
                <pagination :data="audits" @pagination-change-page="getResults">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
              </div>-->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        <!-- Modal -->
    </div>
</template>

<script>
    export default {
      data() {
        return {
          audits:[],
          valores_nuevos:[],
          valores_viejos:[],
          filtro:'',
          filterOn: [],
          currentPage: 1,
          totalRows: 1  ,
          perPage: 8,
          campos:[
            { key: 'user_id', label: 'ID Usuario' },
            { key: 'event', label: 'Evento' },
            { key: 'auditable_type', label: 'Modelo' },
            { key: 'auditable_id', label: 'ID del Item' },
            //{ key: 'old_values', label: 'Valores Antiguos' },
            //{ key: 'new_values', label: 'Valores Nuevos' },
            { key: 'url', label: 'URL' },
            { key: 'ip_address', label: 'Dirección IP' },
            { key: 'created_at', label: 'Fecha' },
            { key: 'actions', label: 'Valores' },
          ],
          campos_valores:[],
          infoModal: {
            id: 'info-modal',
            title: '',
            content: ''
          },
          form: new Form({
            id:'',
          })
        }
      },

      mounted(){
        console.log("mounted")
      },

      created() {
        this.loadAudits()
          /*Fire.$on('searching',() => {
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/findaudit?q=' + query)
            .then((data) => {
              this.audits = data.data
              this.$Progress.finish();
            })
            .catch(() => {
              this.$Progress.fail();
            })
          })
          this.loadaudits();
          Fire.$on('AfterCreate',() => {
          this.loadaudits();
          });*/
      },

       watch: {
        audits: {
            handler: function () {
                this.totalRows = this.audits.length
            },
          }
       },

      methods: {

        getResults(page = 1) {
        axios.get('api/audit?page=' + page)
          .then(response => {
            this.audits = response.data;
          });
        },

        mostrarValores(item, index)
        {
          this.infoModal.title = `Row index: ${index}`
          this.infoModal.content = JSON.stringify(item, null, 2)

          this.campos_valores = Object.keys(JSON.parse(this.audits[index].new_values))
          this.valores_nuevos.push(JSON.parse(this.audits[index].new_values))
          this.valores_viejos.push(JSON.parse(this.audits[index].old_values))

          this.$root.$emit('bv::show::modal', this.infoModal.id)
        },
        convertir_json_array(item, array)
        {
          var obj = JSON.parse(item); 
          var res = [];
              
            for(var i in obj) 
                array.push(obj[i]);
        },

        resetInfoModal() {
          this.infoModal.title = ''
          this.infoModal.content = ''
          this.valores_viejos = []
          this.valores_nuevos = []
        },

        onFiltered(filteredItems) {
          // Trigger pagination to update the number of buttons/pages due to filtering
          this.totalRows = filteredItems.length
          this.currentPage = 1
        },

        loadAudits(){
          if (this.$gate.esAdmin()) {
            axios.get("api/auditoria").then(({ data }) => (this.audits = data));
            this.totalRows = this.audits.length
          }
        },
      }, 
    }
</script>
