<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-5">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-8">
                    <h1 class="m-0 text-dark">Administración de Modos de Atención</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM -->
                <div class="form-inline ml-3">
                  <div class="input-group input-group-sm"> 
                    <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-default-fix" @click="buscar">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div> 
                </div>
                <div class="card-tools">
                    <a class="btn btn-success" href="#" @click="crearModoAModalAdm"><i class="fas fa-user-plus fs-fw"></i>&nbsp; Nuevo Canal</a>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Canal</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Edición</th>
                    <th>Editar</th>
                  </tr>

                    <tr v-for="modoa in modosa.data" :key="modoa.id">
                    <td>{{ modoa.id }}</td>
                    <td>{{ modoa.nombre }}</td>
                    <td>{{ modoa.created_at | myDate }}</td>
                    <td>{{ modoa.updated_at | myDate }}</td>
                    <td>
                        <a href="#" @click="editarModoAModalAdm(modoa)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                        <a href="#" @click="deleteModoA(modoa.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer d-flex justify-content-center">
                <pagination :data="modosa" @pagination-change-page="getResults">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-open" id="addModoA" tabindex="-1" role="dialog" aria-labelledby="addModoALabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 v-show="!editmode" class="modal-title" id="addModoALabel">Nuevo modo de atención</h5>
                <h5 v-show="editmode" class="modal-title" id="addModoALabel">Editar modo de atención</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form @submit.prevent="editmode ? updateModoA() : createModoA()">
              <div class="modal-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 

                  <input v-model="form.nombre" type="text" name="Nombre"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }" placeholder="Nombre del modo de atención">
                  <has-error :form="form" field="nombre"></has-error>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
                <button v-show="!editmode" type="submit" class="btn btn-success">Crear</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          editmode:false,
          modosa:{},
          form: new Form({
            id:'',
            nombre:'',
            search:'',
          })
        }
      },
      mounted(){
        this.cargarModoA();
      },

      created() {
          Fire.$on('searching',() => {
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/findUser?q=' + query)
            .then((data) => {
              this.users = data.data
              this.$Progress.finish();
            })
            .catch(() => {
              this.$Progress.fail();
            })
          })
          Fire.$on('AfterCreate',() => {
          this.cargarModoA();
          });/*setInterval(() => this.cargarModoA(), 3000); // Vue Refrescar los datos de la tabla cada 3s(Metodo alterno)*/
      },

      methods: {

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        getResults(page = 1) {
        axios.get('api/modo_atencion?page=' + page)
          .then(response => {
            this.modosa = response.data;
          });
        },

        cargarModoA(){
          if (this.$gate.esAdmin()) {
          axios.get("api/modo_atencion").then(({ data }) => (this.modosa = data));
          }
        },

        editarModoAModalAdm(modoa){
          this.editmode = true;
          this.form.reset();
          $('#addModoA').modal('show');
          this.form.fill(modoa);
        },

        crearModoAModalAdm(){
          this.editmode = false;
          this.form.reset();
          $('#addModoA').modal('show');
        },

        updateModoA(){
          this.$Progress.start();
          this.form.put('api/modo_atencion/'+this.form.id)
          .then(() => { // Validacion exitosa
          $('#addModoA').modal('hide')
          swal(
                  '¡Editado!',
                  'El modo de atención ha sido editado.',
                  'success'
                  )
          this.$Progress.finish();
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { // Validacion con error
            this.$Progress.fail();
            toast({
            type: 'error',
            title: 'Verifique los datos ingresados.'
            })
          });
        },

        deleteModoA(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/canal_compra/'+id).then(() => {
                swal(
                  '¡Eliminado!',
                  'El modo de atención ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
          }
        })
      },

        createModoA(){
          this.$Progress.start()
          this.form.post('api/modo_atencion')
          .then(() => { // Validacion exitosa
          $('#addModoA').modal('hide')
          swal(
                  '¡Creación exitosa!',
                  'Modo de atención creado con éxito.',
                  'success'
                  )
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          this.$Progress.finish();
          })
          .catch(() => { //Validacion con error
            toast({
              type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
            this.$Progress.fail();
          })
        },
      }, 
    }
</script>