<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-5">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Administración de Usuarios</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM -->
                <div class="form-inline ml-3">
                  <div class="input-group input-group-sm"> 
                    <input class="form-control form-control-navbar" @keyup.enter="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-default-fix" @click="buscar">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div> 
                </div>
                <div class="card-tools">
                    <a class="btn btn-success" href="#" v-b-modal.addUsuario @click="crearUsuarioModalAdm"><i class="fas fa-user-plus fs-fw"></i>&nbsp; Nuevo Usuario</a>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>V/E</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>E-Mail</th>
                    <th>Tipo</th>
                    <th>Canales de Soporte</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Edición</th>
                    <th>Editar</th>
                  </tr>

                    <tr v-for="user in users.data" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nacionalidad }}</td>
                    <td>{{ user.cedula }}</td>
                    <td>{{ user.name  }}</td>
                    <td>{{ user.email }}</td>
                    <td v-if="user.usertype !== null">{{ user.usertype.nombre }}</td>
                    <td v-else>N/A</td>

                    <td>
                      <ul v-for="canal_soporte in user.usersupportchannel">
                        <li>{{ canal_soporte.nombre }}</li>   
                      </ul>
                    </td>
                    <td>{{ user.created_at | myDate }}</td>
                    <td>{{ user.updated_at | myDate }}</td>
                    <td>
                        <a href="#" v-b-modal.addUsuario @click="editarUsuarioModalAdm(user)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                        <a href="#" @click="deleteUser(user.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer d-flex justify-content-center">
                <pagination :data="users" :limit="5" @pagination-change-page="getResults">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        <!-- Modal -->
        <b-modal  class="modal fade modal-open" id="addUsuario" ref="addUsuario" tabindex="-1" role="dialog" aria-labelledby="addUsuarioLabel" aria-hidden="true" hide-footer title="Diagnóstico para el caso: 'EJEMPLO'">
          <template slot="modal-title">
                <h5 v-show="!editmode" class="modal-title" id="addUsuarioLabel">Nuevo Usuario</h5>
                <h5 v-show="editmode" class="modal-title" id="addUsuarioLabel">Editar Usuario</h5>
          </template>
           
              <form @submit.prevent="editmode ? updateUser() : createUser()">
              <div class="modal-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <select v-model="form.nacionalidad" type="text" name="Nacionalidad" data-vv-as="Nacionalidad"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('nacionalidad') }">
                    <option value="" selected disabled hidden>Nacionalidad</option>
                    <option value="V">Venezuela</option>
                    <option value="E">Extranjero</option>
                  </select>
                  </div>
                  <input v-mask="'##########'" v-model="form.cedula" type="text" name="Cedula"
                    class="form-control" placeholder="Cedula" :class="{ 'is-invalid': form.errors.has('cedula') }">
                    <span class="input-group-append">
                    <button @click="cne" type="button" class="btn btn-info">Buscar</button>
                  </span>
                    <has-error :form="form" field="cedula"></has-error>
                </div>

                <div class="form-group">
                  <input v-model="form.name" type="text" name="Nombre"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Nombre">
                  <has-error :form="form" field="name"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.estado" @change="loadMunicipios" type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('estado') }" placeholder="Estado">
                    <option value="" selected disabled hidden>Seleccione un estado</option>
                    <option v-for="estado in estados" :value="estado.id" :key="estado.id">
                      {{ estado.estado }}
                    </option>
                  </select>
                  <has-error :form="form" field="estado"></has-error>
                </div>

                <div class="form-group">
                  <select disabled id="municipiod" v-model="form.municipio" @change="loadParroquias" type="text" name="Municipio"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('municipio') }" placeholder="Municipio">
                    <option value="" selected disabled hidden>Seleccione un municipio</option>
                    <option v-for="municipio in municipios" :value="municipio.id" :key="municipio.id">
                      {{ municipio.municipio }}
                    </option>
                  </select>
                  <has-error :form="form" field="municipio"></has-error>
                </div>

                <div class="form-group">
                  <select disabled id="parroquiad" v-model="form.parroquia" type="text" name="Parroquia"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('parroquia') }" placeholder="Parroquia">
                  <option value="" selected disabled hidden>Seleccione una parroquia</option>
                  <option v-for="parroquia in parroquias" :value="parroquia.id" :key="parroquia.id">
                    {{ parroquia.parroquia }}
                  </option>
                  </select>
                  <has-error :form="form" field="parroquia"></has-error>
                </div>

                <div class="form-group">
                  <textarea v-model="form.direccion" type="text" name="Direccion"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('direccion') }" placeholder="Dirección"></textarea>
                  <has-error :form="form" field="direccion"></has-error>
                </div>

                <div class="form-group">
                  <input v-model="form.email" type="text" name="E-Mail"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder="E-mail">
                  <has-error :form="form" field="email"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.user_type_id" type="text" name="Tipo"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('user_type_id') }">
                    <option value="" selected disabled hidden>Tipo de usuario</option>
                    <option v-for="user_type in user_types" :value="user_type.id" :key="user_type.id">
                      {{ user_type.nombre | upText }}
                    </option>
                  </select>
                  <has-error :form="form" field="user_type_id"></has-error>
                </div>

                <div class="form-group">
                  <b-form-select v-model="form.canales_soporte_id" :options="opciones_canales_soporte" multiple :select-size="4"></b-form-select>
                  <has-error :form="form" field="canal"></has-error>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" v-model="form.password" placeholder="Contraseña">
                  <has-error :form="form" field="password"></has-error>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" v-model="form.nick" placeholder="Nombre de Usuario">
                  <has-error :form="form" field="nick"></has-error>
                </div>
               <div class="form-group">
                  <select v-model="form.estado_user" type="text" name="Canal" data-vv-as="Canal de soporte"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('estado') }">
                    <option value="" selected disabled hidden>estado del usuario</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                  <has-error :form="form" field="estado"></has-error>
                </div>


              </div>
              <div class="modal-footer">
                <button @click="salir" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
                <button v-show="!editmode" type="submit" class="btn btn-success">Crear</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
              </div>
              </form>
            
        </b-modal>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          editmode:false,
          users:{},
          estados:{},
          municipios:{},
          parroquias:{},
          user_types:{},
          opciones_canales_soporte:[],
          support_channels:{},
          form: new Form({
            id:'',
            name:'',
            email:'',
            photo:'',
            user_type_id:'',
            canales_soporte_id:[],
            cedula:'',
            search:'',
            estado:'',
            municipio:'',
            parroquia:'',
            direccion:'',
            password:'',
            nacionalidad:'',
            nick:'',
            estado_user:''
          })
        }
      },
      mounted(){
        this.loadEstados();
        this.loadSupportChannels();
        this.loadUserTypes();
      },

      created() {
          Fire.$on('searching',() => {
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/findUser?q=' + query)
            .then((data) => {
              this.users = data.data
              this.$Progress.finish();
            })
            .catch(() => {
              this.$Progress.fail();
            })
          })
          this.loadUsers();
          Fire.$on('AfterCreate',() => {
          this.loadUsers();
          });/*setInterval(() => this.loadUsers(), 3000); // Vue Refrescar los datos de la tabla cada 3s(Metodo alterno)*/
      },

      methods: {

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        getResults(page = 1) {
        axios.get('api/user?page=' + page)
          .then(response => {
            this.users = response.data;
          });
        },

       async loadUsers(){
          if (this.$gate.esAdmin()) {
            
              await axios.get("api/user").then(({ data }) => (this.users = data));
          }
         // console.log(this.users);
        },
        loadUserTypes(){
          if (this.$gate.esAdmin()) {
          axios.get("api/user_types").then(({ data }) => (this.user_types = data));
          }
        },
        loadSupportChannels(){
          if (this.$gate.esAdmin()) {
            axios.get('api/support_channels').then(response => {
              this.support_channels = response.data
              for (var i = 0; i < 3; i++) {
                this.opciones_canales_soporte.push({value: this.support_channels[i].id, text: this.support_channels[i].nombre })
              }
            });
          }
        },

        editarUsuarioModalAdm(user){
          this.editmode = true;
          this.form.reset();
          $('#addUsuario').modal('show');
          this.form.fill(user);
          var a = user.municipio;
          var b = user.parroquia;
          this.loadMunicipios();
          this.form.municipio = a;
          this.loadParroquias();
          this.form.parroquia = b;
          
        },

        crearUsuarioModalAdm(){
          this.editmode = false;
          this.form.reset();
          $('#addUsuario').modal('show');
        },

        updateUser(){
          this.$Progress.start();
          this.form.put('api/user/'+this.form.id)
          .then(() => { // Validacion exitosa
          $('#addUsuario').modal('hide')
          swal(
                  '¡Editado!',
                  'El usuario ha sido editado.',
                  'success'
                  )
          this.$Progress.finish();
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { // Validacion con error
            this.$Progress.fail();
            toast({
            type: 'error',
            title: 'Verifique los datos ingresados.'
            })
          });
        },

        deleteUser(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/user/'+id).then(() => {
                swal(
                  '¡Eliminado!',
                  'El usuario ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
          }
        })
      },

        createUser(){
          this.$Progress.start()
          this.form.post('api/user')
          .then(() => { // Validacion exitosa
          $('#addUsuario').modal('hide')
          swal(
                  '¡Creación exitosa!',
                  'Usuario creado con éxito.',
                  'success'
                  )
          this.$Progress.finish()
          this.$refs['addUsuario'].hide()
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
            type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
          })
        },

        cne(){
          this.$Progress.start()
          this.form.post('api/cneUser')
        .then(response => { //Validacion con exito
            console.log(response.data);
            if (response.data.status === 200) {    
              this.form.name = response.data.response.completo;
              // this.form.estado = response.data.response.estado;
              // this.form.municipio = response.data.response.municipio;
              // this.form.parroquia = response.data.response.parroquia;
              toast({
              type: 'success',
              title: 'CNE - Los datos han sido encontrados con éxito.'
              })
              this.$Progress.finish()
            }else if(response.data.status === 404){
              this.$Progress.fail()
              toast({
              type: 'error',
              title: 'CNE - No existe o no se encuentra registrado.'
              })
            }else{
              console.log('Error de CNE');
            }
          })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
            type: 'error',
            title: 'Verifique la cedula o nacionalidad.'
            })
          })
        },
        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },
        loadEstados(){
          let url = 'api/estados';
          this.dynamicDropdown(url, 'estados')
        },
        loadMunicipios(){
          $('#municipiod').attr('disabled', false);
          $('#parroquiad').attr('disabled', true);
          let url = 'api/municipios/'+this.form.estado;
          this.form.parroquia = '';
          this.form.municipio = '';
          this.dynamicDropdown(url, 'municipios')
        },
        loadParroquias(){
          $('#parroquiad').attr('disabled', false);
          let url = 'api/parroquias/'+this.form.municipio;
          this.form.parroquia = '';
          this.dynamicDropdown(url, 'parroquias')
        },
        salir(){
          $('#municipiod').attr('disabled', true);
          $('#parroquiad').attr('disabled', true);
          this.$refs['addUsuario'].hide()
        }
      }, 
    }
</script>