<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-5">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gestion de llamadas</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM -->
                <div class="form-inline ml-3">
                  <div class="input-group input-group-sm"> 
                    <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-default-fix" @click="buscar">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div> 
                </div>
                <div class="card-tools">
                    <a class="btn btn-success" href="#" @click="crearCallModal"><i class="fas fa-user-plus fs-fw"></i>&nbsp; Nuevo solicitud</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                  </tr>
                    <tr v-for="call in calls.data" :key="call.id">
                    <td>{{ call.id }}</td>
                    <td>{{ call.tipo }}</td>
                    <td>{{ call.descripcion }}</td>
                    <td>
                        <a href="#" @click="editarLlamadaModal(call)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                        <a href="#" @click="deleteCall(call.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer d-flex justify-content-center">
                <pagination :data="calls" @pagination-change-page="getResults">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-open" id="addCall" tabindex="-1" role="dialog" aria-labelledby="addCallLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 v-show="!editmode" class="modal-title" id="addCallLabel">Nuevo solicitud</h5>
                <h5 v-show="editmode" class="modal-title" id="addCallLabel">Editar solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form @submit.prevent="editmode ? updateCall() : createReq()">
              <div class="modal-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 
                <div class="form-group">
                  <input v-model="form.descripcion" type="text" name="descripcion"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('descripcion') }" placeholder="Descripción">
                  <has-error :form="form" field="descripcion"></has-error>
                </div>
                
                <div class="form-group">
                    <select v-model="form.tipo" type="text" name="tipo" class="form-control" :class="{ 'is-invalid': form.errors.has('tipo') }">
                      <option value="" selected disabled hidden>Seleccione el tipo de Solicitud</option>
                      <option value="CABLES IDE/SATA">CABLES IDE/SATA</option>
                      <option value="DISCO DURO">DISCO DURO</option>
                      <option value="DISIPADOR/VENTILADOR">DISIPADOR/VENTILADOR</option>
                      <option value="MOUSE VIT">MOUSE VIT</option>
                      <option value="PROCESADOR">PROCESADOR</option>
                      <option value="TARJETA RED">TARJETA RED</option>
                      <option value="TARJETA MADRE">TARJETA MADRE</option>
                      <option value="TECLADO VIT">TECLADO VIT</option>
                      <option value="UNIDAD OPTICA DVD-RW/CD-RW">UNIDAD OPTICA DVD-RW/CD-RW</option>
                      <option value="Equipo para Diagnóstico">Equipo para Diagnóstico</option>
                      <option value="Otro">Otro</option>
                    </select><has-error :form="form" field="tipo"></has-error>
                </div>
              </div>

              <div class="modal-footer">
                <button @click="salir" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
                <button v-show="!editmode" type="submit" class="btn btn-success">Crear</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          editmode:false,
          call:false,
          calls:{},
          users:{},
          form: new Form({
            id:'',
            descripcion: '',
            tipo:'',
            
            
          })
        }
      },
      mounted(){
        this.loadUserTypes();
      },

      created() {
          Fire.$on('searching',() => {
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/findCall?q=' + query)
            .then((data) => {
              this.calls = data.data
              this.$Progress.finish();
            })
            .catch(() => {
              this.$Progress.fail();
            })
          })
          this.loadCalls();
          Fire.$on('AfterCreate',() => {
          this.loadCalls();
          });
      },

      methods: {

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        getResults(page = 1) {
        axios.get('api/call?page=' + page)
          .then(response => {
            this.calls = response.data;
          });
        },

        loadCalls(){
          if (this.$gate.esAdmin()) {
          axios.get("api/call").then(({ data }) => (this.calls = data));
          }
        },
        loadUserTypes(){
          if (this.$gate.esAdmin()) {
          axios.get("api/user_types").then(({ data }) => (this.user_types = data));
          }
        },
        
        editarLlamadaModal(call){
          this.editmode = true;
          this.form.reset();
          $('#addCall').modal('show');
          this.form.fill(call);
        },

        crearCallModal(){
          this.editmode = false;
          this.form.reset();
          $('#addCall').modal('show');
        },

        updateCall(id){
          this.$Progress.start();
          this.form.put('api/call/'+this.form.id)
          .then(() => { // Validacion exitosa
          $('#addCall').modal('hide')
          swal(
                  '¡Editado!',
                  'La informacion ha sido editada.',
                  'success'
                  )
          this.$Progress.finish();
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { // Validacion con error
            this.$Progress.fail();
            toast({
            type: 'error',
            title: 'Verifique los datos ingresados.'
            })
          });
        },

        deleteCall(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/call/'+id).then(() => {
                swal(
                  '¡Eliminado!',
                  'El usuario ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
          }
        })
      },

        createReq(){
          this.$Progress.start()
          this.form.post('api/call')
          .then(() => { // Validacion exitosa
          $('#addCall').modal('hide')
          swal(
                  '¡Creación exitosa!',
                  'Usuario creado con éxito.',
                  'success'
                  )
          this.$Progress.finish()
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
            type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
          })
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        salir(){
        }
        
      }, 
    }
</script>