<template>
    <div class="container col-xl-14">
        <div class="row justify-content-center no-print">
          <!-- v-if="$gate.esAdmin()" -->
            <div class="col-md-12 mt-5">
                <div class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Movimiento de Inventario</h1>
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><router-link to="/home"><p>Inicio</p></router-link></li>
                          <li class="breadcrumb-item active">SIPV</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-tools">
                    <b-button @click="$bvModal.show('crear-movimiento');loadInfoModal()" class="btn-success">Nuevo</b-button>
                </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0" style="display: block;">
                    <div class="table-responsive">
                      <table class="table table-striped m-0">
                        <tbody>
                        <tr>
                          <th>Código</th>
                          <th>Galpón Destino</th>
                          <th>Admin Almacen Origen</th>
                          <th>Seguridad Origen</th>
                          <th>Admin Almacen Destino</th>
                          <th>Seguridad Destino</th>
                          <th>Recibido</th>
                          <th>Fecha recepcion</th>
                          <th>Acciones</th>
                        </tr>
                          <tr v-for="mov in movimientos.data" :value="mov.id" :key="mov.id">
                          <td style="width: 150px">{{ mov.codigo }}</td>
                          <td>{{ mov.galpon_destino.iniciales }}</td>
                          <td>{{ mov.info_administrador_almacen_origen.nombre }} {{ mov.info_administrador_almacen_origen.apellido }}</td>
                          <td>{{ mov.seguridad_origen.nombre }} {{ mov.seguridad_origen.apellido }}</td>
                          <td v-if="mov.administrador_almacen_destino">{{ mov.administrador_almacen_destino.nombre }} {{ mov.administrador_almacen_destino.apellido }} </td>
                          <td v-if="mov.seguridad_destino">{{ mov.seguridad_destino.nombre }} {{ mov.seguridad_destino.apellido }}</td>
                          <td v-if="!mov.fecha_recepcion || !mov.administrador_almacen_destino"></td>
                          <td v-if="!mov.fecha_recepcion || !mov.seguridad_destino"></td>
                          <td v-if="!mov.fecha_recepcion" class="fa fa-times-circle text-red"></td>
                          <td v-if="mov.fecha_recepcion" class="fa fa-check-circle text-green"></td>
                          <td style="width: 100px">{{ mov.fecha_recepcion }}</td>
                          <td style="width: 250px">
                              <button type="button" class="btn btn-primary" @click="modalEditar(mov); loadInfoModal()"><i class="fas fa-pen"></i></button>
                              <button v-show="!mov.fecha_recepcion && !despachoAsociado(mov.id,true)" type="button" class="btn btn-warning" @click="modalProcesar(mov); loadInfoModal()"><i class="fas fa-truck"></i></button>
                              <button type="button" class="btn btn-danger" @click="eliminarMovimiento(mov.id)"><i class="fas fa fa-trash"></i></button>
                              <button v-show="!mov.fecha_recepcion && despachoAsociado(mov.id, true)" type="button" class="btn btn-success" @click="modalDespachar(mov.id)"><i class="fas fa fa-check"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table> 
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    
                    <div class="col-12">
                      <!-- <button type="button" class="btn btn-info float-right"><i class="fa fa-print"></i> Imprimir
                      </button> -->
                      <button @click.prevent="modalReporte" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fa fa-download"></i> Generar Reporte
                      </button>
                    </div>
                    <pagination :data="movimientos" :limit="5" @pagination-change-page="getResults">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                  </div>
                </div>
            </div>
        </div>
        <!-- <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div> -->

        <!-- Modal -->
        <b-modal id="crear-movimiento" ref="crear-movimiento" scrollable centered size="xl" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
           <h4><strong>Nuevo Movimiento</strong></h4>
          </template>
          <div class="modal-body">
            <div class="accordion" id="acordeon-cards">
               <div class="card">
                  <div id="infoBasica" class="collapse show" aria-labelledby="headingOne" data-parent="#acordeon-cards">
                     <div class="card-body">   
                        <label>INFORMACION BASICA DEL MOVIMIENTO</label>
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <label class="col-sm-12 control-label">Almacenista origen</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect
                                     @select=""
                                     v-model="form.administrador_almacen_origen" 
                                     :options="empleados_almacenistas" 
                                     :custom-label="label_empleados_almacen" 
                                     placeholder="Select one" 
                                     label="name" 
                                     track-by="name">
                                     </multiselect>
                                </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-12 control-label">Personal de seguridad origen</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect 
                                    v-model="form.seguridad_origen" 
                                    :options="empleados" 
                                    :custom-label="label_empleados" 
                                    placeholder="Select one" 
                                    label="name" 
                                    track-by="name">
                                    </multiselect>
                                </div>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <label class="col-sm-12 control-label">Almacen de destino</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect 
                                    v-model="form.almacen_destino" 
                                    :options="almacenes" 
                                    :custom-label="label_almacenes" 
                                    placeholder="Selecciona el galpón de destino" 
                                    label="name" 
                                    track-by="name">
                                    </multiselect>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-body">
                           <label>DATOS DEL TRANSPORTE</label>
                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="col-sm-6 control-label">Cédula/Nombre</label>
                                    <div class="input-group col-sm-12">
                                       <multiselect 
                                       v-model="form.conductores_id" 
                                       :options="conductores"
                                       open-direction="top" 
                                       :custom-label="label_conductores" 
                                       placeholder="Selecciona el conductor" 
                                       label="name" 
                                        track-by="name">
                                       </multiselect>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="col-sm-6 control-label">Placa-Vehículo</label>
                                    <div class="input-group col-sm-12">
                                       <multiselect 
                                       v-model="form.vehiculos_id" 
                                       :options="vehiculos"
                                       open-direction="top" 
                                       :custom-label="label_vehiculos" 
                                       placeholder="Selecciona el vehiculo" 
                                       label="name" 
                                       track-by="name">
                                       </multiselect>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> <!-- /collapse 1 -->
               </div>
               <div class="card">
                  <div id="infoPaletas" class="collapse" aria-labelledby="headingTwo" data-parent="#acordeon-cards">
                     <div class="card-body">
                        <label>BUSQUEDA DE PALETA</label>
                        <div class="card">
                           <div class="card-header">
                              <div class="row">
                                 <div class="col-11">
                                    Filtro
                                 </div>
                                 <button v-if="!flag_filtro" type="button" class="btn btn-success text-white" @click="flag_filtro=!flag_filtro"><i class="fas fa-plus"></i></button>
                                 <button v-else type="button" class="btn btn-info text-white" @click="flag_filtro=!flag_filtro"><i class="fas fa-minus"></i></button>
                              </div>
                           </div>
                           <div class="card-body">
                            <transition name="fade">
                              <div v-show="flag_filtro">
                                <div class="row" id="filter-row">
                                  <!-- Filtros para Piezas y partes -->                        
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                       <label class="col-sm-8 control-label">Fecha del movimiento</label>
                                       <div class="input-group col-sm-12">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                                          </div>
                                          <b-form-datepicker
                                          @input="loadLoteMax" 
                                          placeholder="Selecciona una fecha" 
                                          id="fecha_contenedor" 
                                          v-model="filtro.fecha_contenedor">
                                          </b-form-datepicker>
                                      </div>
                                    </div>
                                   </div>
                                   <!-- Es necesario el lote?
                                   <div v-show="filtro.fecha_contenedor" class="col-sm-4">
                                      <div class="form-group">
                                        <label class="col-sm-6 control-label">Lote</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect 
                                          v-model="filtro.lote" 
                                          :options="filtro_seleccion.lote"
                                          :close-on-select="true" 
                                          :show-labels="false" 
                                          placeholder="Seleccione el lote">                                         
                                          </multiselect>
                                        </div>
                                      </div>
                                   </div>-->
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                        <label class="col-sm-6 control-label">Piezas</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect
                                          @open="loadPiezas" 
                                          v-model="filtro.piezas" 
                                          :options="filtro_seleccion.piezas" 
                                          :custom-label="label_piezas" 
                                          placeholder="Selecciona la pieza" 
                                          label="nombre" 
                                          track-by="nombre">
                                          </multiselect>
                                        </div>
                                      </div>
                                   </div>
                                   <div class="col-sm-8">
                                      <div class="form-group">
                                        <label class="col-sm-6 control-label">Número de Parte (NP)</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect 
                                          v-model="filtro.numero_parte" 
                                          :options="filtro_seleccion.numero_parte"
                                          :close-on-select="true" 
                                          :show-labels="false"
                                          label="pn" 
                                          track-by="pn" 
                                          placeholder="">                                         
                                          </multiselect>
                                        </div>
                                      </div>
                                   </div>
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                        <label class="col-sm-8 control-label">Número de Calidad</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect 
                                          v-model="filtro.numero_calidad" 
                                          :options="filtro_seleccion.numero_calidad" 
                                          :searchable="false" 
                                          :close-on-select="true" 
                                          :show-labels="false" 
                                          placeholder="">                                         
                                          </multiselect>
                                        </div>
                                      </div>
                                   </div>
                                   <!-- Filtros estandar independientes -->
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                        <label class="col-sm-6 control-label">Almacenes</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect
                                          v-model="filtro.almacen" 
                                          :options="filtro_seleccion.almacenes" 
                                          :custom-label="label_almacenes" 
                                          placeholder="Selecciona el Almacen" 
                                          label="name" 
                                          track-by="name">
                                          </multiselect>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                        <label class="col-sm-8 control-label">Nivel</label>
                                        <div class="input-group col-sm-12">
                                          <multiselect 
                                          v-model="filtro.nivel" 
                                          :options="filtro_seleccion.nivel" 
                                          :searchable="false" 
                                          :close-on-select="true" 
                                          :show-labels="false" 
                                          placeholder="">                                         
                                          </multiselect>
                                        </div>
                                      </div>
                                   </div>
                                   <div class="col-sm-4">
                                      <div class="form-group">
                                       <label class="col-sm-8 control-label">Fecha Entrada</label>
                                       <div class="input-group col-sm-12">
                                          <div class="input-group-prepend">
                                             <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                                          </div>
                                          <b-form-datepicker
                                          placeholder="Selecciona una fecha" 
                                          id="fecha_entrada" 
                                          v-model="filtro.fecha_entrada">
                                          </b-form-datepicker>
                                      </div>
                                    </div>
                                   </div>
                                </div> 
                              </div> 
                              
                            </transition>
                           </div>
                           <div class="modal-footer">
                              <button @click="resetearFiltro" type="submit" class="btn btn-warning">Resetear</button>
                              <button @click="reloadItems" type="submit" class="btn btn-info">Filtrar</button>
                          </div>
                        </div>
                        <br></br>
                        <div v-if="form.piezas_partes_asociadas_movimiento" class="card">
                          <div class="card-body p-0" style="display: block;">
                            <div class="table-responsive">
                              <table class="table table-striped m-0">
                                <tbody>
                                  <tr>
                                    <th>Pieza</th>
                                    <th>Paleta</th>
                                    <th>Cantidad</th>
                                    <th>Etiquetadas</th>
                                    <th>Acciones</th>
                                  </tr>
                                  <tr v-for="(pieza,index) in form.piezas_partes_asociadas_movimiento" :value="pieza.id" :key="pieza.id"> 
                                    <td style="width: 100%">{{ pieza.info_existencia_pp.pieza.nombre }} - {{ pieza.info_existencia_pp.numero_parte.pn }}: {{ pieza.info_existencia_pp.numero_parte.caracteristica_p.descripcion }}</td>
                                    <td>{{ pieza.info_existencia_pp.paleta.paleta }}</td>
                                    <td>{{ pieza.cantidad }}</td>
                                    <td><a href="#" @click="modalEtiquetadas(pieza.etiquetadas)">{{ pieza.etiquetadas.length }}</a></td>
                                    <td>
                                      <button type="button" class="btn btn-danger" @click="form.piezas_partes_asociadas_movimiento.splice(index,1);"><i class="fas fa-trash"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table> 
                            </div>
                          </div>
                        </div>
                        <br></br>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                                 <label class="col-sm-6 control-label">MOTIVO</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect v-model="form.motivo" :options="motivos" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Selecciona un motivo"></multiselect>
                                 </div>
                              </div>
                          </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="col-sm-6 control-label">PIEZAS EN GALPÓN</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect 
                                    v-model="paleta_seleccionada_posicionada"
                                    @remove="resetearPaletaSeleccionada" 
                                    :options="existencias_pp_posicionadas" 
                                    open-direction="top"
                                    :custom-label="label_existencias_pp_posicionadas" 
                                    placeholder="Selecciona el conductor" 
                                    label="name" 
                                    track-by="name">
                                    </multiselect>
                                 </div>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="col-sm-6 control-label"> PIEZAS SIN POSICIÓN</label>
                                 <div class="input-group col-sm-12">
                                    <multiselect 
                                    v-model="paleta_seleccionada_no_posicionada" 
                                    @remove="resetearPaletaSeleccionada"
                                    :options="existencias_pp_no_posicionadas"
                                    open-direction="top" 
                                    :custom-label="label_existencias_pp_no_posicionadas" 
                                    placeholder="Selecciona la pieza" 
                                    label="name" 
                                    track-by="name">
                                    <template slot="option" slot-scope="props">
                                      <div class="option__desc">
                                        <span class="option__title"><b>Ubicacion:</b>{{`${props.option.posiciones.almacen.iniciales} -- ${props.option.posiciones.nivel}`}}</span>
                                        <p class="option__small"><b>Paleta:</b>{{`${props.option.paleta.paleta}`}}</p>
                                        <p v-if="props.option.pieza" class="option__small"><b>Pieza:</b>{{`${props.option.pieza.nombre}`}}</p>
                                        <p class="option__small"><b>Descripcion:</b>{{`${props.option.numero_parte.caracteristica_p.descripcion}`}}</p>
                                        <p class="option__small"><b>Cantidad sin NC:</b>{{`${props.option.cantidad}`}}</p>
                                        <p class="option__small"><b>Cantidad con NC:</b>{{`${props.option.exis_etiquetadas.length}`}}</p>
                                        <p v-if="props.option.exis_etiquetadas.length>=1" class="option__small">
                                          <b>Inicio: </b>{{`${props.option.exis_etiquetadas[0].qn}`}}
                                          <b>Final: </b>{{`${props.option.exis_etiquetadas[props.option.exis_etiquetadas.length-1].qn}`}}
                                        </p>
                                      </div>
                                    </template>
                                    </multiselect>
                                 </div>
                              </div>
                           </div>
                           <div v-if="paleta_seleccionada_no_posicionada || paleta_seleccionada_posicionada" class="card pl-1 ml-4">
                            <div class="card-body">
                              <div class="row">
                                <div v-if="paleta_seleccionada_no_posicionada.exis_etiquetadas.length > 0" class="col-sm">
                                  <div class="row">
                                    <label>Rango</label>
                                    <div v-show="etiquetas_paleta_seleccionada.length==0" class="col-sm">
                                      <label>Desde</label>
                                      <select v-model="desde_etiquetas_seleccionadas" class="custom-select">
                                        <option selected value=""></option>
                                        <option v-for="(etiqueta, i) in paleta_seleccionada_no_posicionada.exis_etiquetadas" :key="etiqueta.id" :value="i">{{etiqueta.qn}}</option>
                                      </select>  
                                    </div>
                                    <div v-show="etiquetas_paleta_seleccionada.length==0" class="col-sm">
                                      <label>Hasta</label>
                                      <select @change="rangoEtiquetasSeleccionadas()" v-model="hasta_etiquetas_seleccionadas" class="custom-select">
                                        <option selected value=""></option>
                                        <option v-for="(etiqueta, i) in paleta_seleccionada_no_posicionada.exis_etiquetadas" :key="etiqueta.id" :value="i">{{etiqueta.qn}}</option>
                                      </select>  
                                    </div>
                                    <div v-show="!desde_etiquetas_seleccionadas && !hasta_etiquetas_seleccionadas" class="col-sm-8">
                                      <label>Seleccion</label>
                                      <multiselect 
                                        v-model="etiquetas_paleta_seleccionada" 
                                        :options="paleta_seleccionada_no_posicionada.exis_etiquetadas" 
                                        :searchable="true"
                                        :multiple="true" 
                                        :close-on-select="false" 
                                        label="qn" 
                                        track-by="id">
                                        placeholder="">
                                        <template slot="option" slot-scope="props">
                                        <div class="option__desc">
                                          <span class="option__title"><b>qn:</b>{{`${props.option.qn}`}}</span>
                                      </div>
                                    </template>                                         
                                      </multiselect>  
                                    </div>
                                  </div>
                                  
                                </div> 
                                <div v-if="paleta_seleccionada_posicionada" class="col-sm">
                                  <div v-if="paleta_seleccionada_posicionada.exis_etiquetadas.length > 0" class="col-sm">
                                    <label>Rango</label>
                                    
                                  </div>                                  
                                </div> 
                                <div class="col-auto">
                                <label>Cantidad</label>
                                    <select v-model="cantidad_paleta_seleccionada" class="custom-select">
                                      <option selected disabled>Cantidad...</option>
                                      <option v-if="paleta_seleccionada_no_posicionada" v-for="numero in paleta_seleccionada_no_posicionada.cantidad" :value="numero">{{numero}}</option>
                                      <option v-else v-for="numero in paleta_seleccionada_posicionada.cantidad" :value="numero">{{numero}}</option>
                                    </select>
                                </div>                               
                              </div>
                            </div>
                            <div class="card-footer">
                              <button type="button" v-show="cantidad_paleta_seleccionada || etiquetas_paleta_seleccionada.length > 0 " @click="ingresarPaletaMovimiento" class="btn btn-success">Ingresar</button>
                            </div>                            
                           </div>
                        </div> 
                     </div>
                  </div>
               </div>
            </div>
          </div>
          <div class="modal-footer">
            <button  v-show="flag" @click="flag=!flag" data-target="#infoBasica" data-toggle="collapse" class="btn btn-info">Regresar</button>
            <button  v-show="procesarMode && !flag" @click="botonContinuar; flag=!flag" data-target="#infoPaletas" data-toggle="collapse" type="submit" class="btn btn-success">Continuar</button>
            <button  v-if="createMode" @click="crearMovimiento" type="submit" class="btn btn-success">Crear</button>
            <button  v-else-if="editarMode" @click="editarMovimiento" type="submit" class="btn btn-success">Editar</button>
            <button  v-else v-show="flag" @click="procesarMovimiento" type="submit" class="btn btn-success">Procesar</button>
            <button
              @click="cerrarModal"
              type="button"
              class="btn btn-outline-danger"
              data-dismiss="modal"
            >Salir</button>
          </div>
        </b-modal>
        <!-- Modal para piezas etiquetadas -->
        <div class="modal fade modal-open" id="piezasEtiquetadas" tabindex="-1" role="dialog" aria-labelledby="BusquedaLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" id="TamañoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Piezas etiquetadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>       
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body p-0">
                  <ul v-for="etiqueta in etiquetas_lista">
                        <li>{{ etiqueta.qn }}</li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal para CONFIRMAR piezas asignadaqs al movimiento -->
        <div class="modal fade modal-open" id="modalDespachar" tabindex="-1" role="dialog" aria-labelledby="BusquedaLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" id="TamañoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INFORMACION DE RECEPCION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>       
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label class="col-sm-6 control-label">Almacenista destino</label>
                           <div class="input-group col-sm-12">
                              <multiselect
                               @select=""
                               v-model="despacho.administrador_almacen_destino" 
                               :options="empleados" 
                               :custom-label="label_empleados" 
                               placeholder="Select one" 
                               label="name" 
                               track-by="name">
                               </multiselect>
                          </div>
                        </div>
                        <div class="form-group">
                         <label class="col-sm-6 control-label">Personal de seguridad destino</label>
                         <div class="input-group col-sm-12">
                            <multiselect 
                            v-model="despacho.seguridad_destino" 
                            :options="empleados" 
                            :custom-label="label_empleados" 
                            placeholder="Select one" 
                            label="name" 
                            track-by="name">
                            </multiselect>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
              <button  @click="confirmarDespacho()" type="submit" class="btn btn-success">Despachar</button>
              <button
                type="button"
                class="btn btn-outline-danger"
                data-dismiss="modal"
              >Salir</button>
            </div>
            </div>
          </div>
        </div>

        <!-- Apartado del pdf -->
        <div v-show="!dom" class="text-right">
          <div class="d-flex align-items-center justify-content-center" v-html="this.vista" id="vista-pdf">
          </div>
            <!-- Botones -->
          <div class="d-flex align-items-center justify-content-center row my-3">
              <div class="col-lg-10 justify-content-end d-flex text-right">
                <td>
                  <button  @click="AtrasPDF()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Atras</button> 
                  <button  @click="imprimir_pdf()" type="submit" class="btn btn-primary">Descargar PDF</button>
                </td>
              </div>
          </div>
        </div>
        <!-- Apartado del pdf (FIN) -->

        <!-- Modal para GENERAR REPORTE de movimientos de inventario -->
        <div v-show="dom" class="modal fade modal-open" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="BusquedaLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" id="TamañoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h4><strong>Generar Reporte</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>       
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label class="col-sm-8 control-label">Fecha de inicio</label>
                           <div class="input-group col-sm-12">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                              </div>
                              <b-form-datepicker 
                              placeholder="Selecciona una fecha" 
                              id="fecha_contenedor1" 
                              v-model="reporte.fecha_inicial">
                              </b-form-datepicker>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                           <label class="col-sm-8 control-label">Fecha de fin</label>
                           <div class="input-group col-sm-12">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                              </div>
                              <b-form-datepicker 
                              placeholder="Selecciona una fecha" 
                              id="fecha_contenedor2" 
                              v-model="reporte.fecha_final">
                              </b-form-datepicker>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                       <label class="col-sm-6 control-label">Motivo</label>
                       <div class="input-group col-sm-12">
                          <multiselect v-model="reporte.motivo" :options="motivos" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Selecciona un motivo"></multiselect>
                       </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label class="col-sm-6 control-label">Almacenes</label>
                        <div class="input-group col-sm-12">
                          <multiselect
                          v-model="reporte.almacen_destino" 
                          :options="filtro_seleccion.almacenes" 
                          :custom-label="label_almacenes" 
                          placeholder="Selecciona el Almacen" 
                          label="name" 
                          track-by="name">
                          </multiselect>
                         </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                       <label class="col-sm-6 control-label">Paleta</label>
                       <div class="input-group col-sm-12">
                          <multiselect v-model="reporte.paleta" :options="paletas" :searchable="true" :close-on-select="true" :show-labels="false" :custom-label="label_paletas" 
                               placeholder="Selecciona una paleta"
                               @open="loadPaletas"
                               label="name" 
                               track-by="name">              
                          </multiselect>
                       </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                       <label class="col-sm-6 control-label">NP</label>
                       <div class="input-group col-sm-12">
                          <multiselect v-model="reporte.np" :options="filtro_seleccion.numero_parte" @remove="reporte.serial=null" @select="loadSeriales" :searchable="true" :close-on-select="true" :custom-label="label_numero_partes" :show-labels="false" placeholder="Selecciona un np"></multiselect>
                       </div>
                      </div>
                    </div>
                    <div v-if="reporte.np" class="col-sm-4">
                      <div class="form-group">
                       <label class="col-sm-6 control-label">Serial</label>
                       <div class="input-group col-sm-12">
                          <multiselect v-model="reporte.serial" :options="seriales" :searchable="true" :close-on-select="true" :show-labels="false" :custom-label="label_seriales" placeholder="Selecciona un serial"></multiselect>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button  @click="procesarPDF" data-target="#infoPaletas" data-toggle="collapse" type="submit" class="btn btn-success">Continuar</button>
                <button @click="cerrarModal" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /container -->
</template>
<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import PDFObject from 'pdfobject'
  export default {
    components: {
        jsPDF
      },
    data(){
        return{
            editarMode:false,
            createMode:true,
            procesarMode:false,
            flag:false,
            flag_filtro:true,
            movimientos:{},
            despachos:{},
            paletas:[],
            seriales:[],
            existencias_pp_posicionadas: [],
            existencias_pp_no_posicionadas: [],
            empleados: [],
            empleados_almacenistas :[],
            vehiculos: [],
            conductores: [],
            almacenes: [],
            paleta_seleccionada_no_posicionada:'',
            paleta_seleccionada_posicionada:'',
            cantidad_paleta_seleccionada:0,
            desde_etiquetas_seleccionadas:null,
            hasta_etiquetas_seleccionadas:null,
            etiquetas_paleta_seleccionada:[],
            etiquetas_lista:[],
            info_despacho:{},
            info_reporte:null,
            array_info_reporte:[],
            dom:true,
            doc: new jsPDF('a','mm', 'A4'),
            vista:null,
            motivos:['Garantia', 'Prestamo','Presupuesto','Prueba','Dañada','Averiada', 'Otros'],
            filtro_seleccion: { // Contiene toda la información de los select
              almacenes: [],
              fecha_contenedor: [],
              lote: [],
              piezas: [],
              numero_parte: [],
              numero_calidad: ['Todos', 'NC', 'SinNC'],
              nivel: ['A','B','C'],
              fecha_entrada: [],
            },
            filtro: {
              partesMode:true,
              //Almacen por defecto
              almacen: {"id":15,"nombre":"ALMACÉN CANTV REMANUFACTURADO PV","iniciales":"ALMCR","clasificacion":"PV","dimensiones":"1x1x1","eliminado":false,"sep_column":null,"sep_fila":null,"estante":false,"gerencias_id":11,"otro":null},
              fecha_contenedor: null,
              lote: null,
              piezas: null,
              numero_parte: null,
              numero_calidad: 'Todos',
              nivel: 'A',
              fecha_entrada: null,
            },
            form: new Form({
              id:'',
              administrador_almacen_origen: '',
              administrador_almacen_destino: '',
              almacen_destino: '',
              conductores_id:'',
              seguridad_origen: '',
              seguridad_destino: '',
              vehiculos_id:'',
              piezas_partes_asociadas_movimiento:[],
              motivo:'',
            }),
            despacho: new Form({
              id:'',
              movimiento_inventario_id:'',
              administrador_almacen_destino: '',                 
              seguridad_destino: '',
            }),
            reporte: new Form({
              id:null,
              almacen_destino:null,
              fecha_inicial:null,
              fecha_final:null,
              motivo:null,
              serial:null,
              np:null,
              paleta:null,
            }),
        }
    },
    mounted()
    {
      this.$Progress.start();
      this.loadMovimientos();
      this.loadDespachos();
      this.loadInfoModal();
      this.loadExistenciasPPInventario(true, 'existencias_pp_no_posicionadas')
      this.loadExistenciasPPInventario(false, 'existencias_pp_posicionadas')
      this.$Progress.finish();
    },
    created()
    {
      Fire.$on('AfterCreate',() => {
      this.loadMovimientos();
      this.loadDespachos();
      });
    },
    methods:{
    //Etiquestas para las opciones de los Multiselect

    label_empleados({cedula, nombre, apellido })           {return `[${cedula}] ${nombre} ${apellido}`},

    label_empleados_almacen({cedula, nombre, apellido }) {return `[${cedula}] ${nombre} ${apellido}`},

    label_conductores({cedula, nombre_completo, telefono}) {return `[${cedula}] ${nombre_completo} Tlf: (${telefono})`},

    label_vehiculos({placa, modelo, color })               {return `[${placa}] ${modelo} (${color})`},

    label_almacenes({nombre, iniciales})                   {return `[${iniciales}] ${nombre}`},

    label_piezas({nombre, nomenclatura})                   {return `${nombre}-${nomenclatura}`},

    label_paletas({paleta})                   {return `${paleta}`},
    label_numero_partes({pn})                   {return `${pn}`},
    label_seriales({qn})                   {return `${qn}`},

    label_existencias_pp_no_posicionadas({posiciones,paleta})                   
      {return `( Ubicacion: ${posiciones.almacen.iniciales}---${posiciones.nivel}) Paleta:${paleta.paleta}`},

      label_existencias_pp_posicionadas({posiciones,paleta})                   
      {return `( Ubicacion: ${posiciones.almacen.iniciales} Posicion: ${posiciones.posicion} - ${posiciones.nivel}) Paleta:${paleta.paleta}`},

    dynamicDropdown(url, data)
    {
      axios.get(url)
      .then(response => this[data] = response.data)
      .catch(error => console.log(error))
    },

    botonContinuar(){
     this.createMode = !this.createMode;
     this.loadPiezas();
     //axios.get('api/sgp/existencias_pp_no_posicionadas').then(({ data }) => (this.existencias_pp_no_posicionadas = data));
    },

    cerrarModal(){
      this.form.reset()
      this.flag = false
      this.editarMode = false
      this.createMode = true
      this.procesarMode = false
      this.$bvModal.hide('crear-movimiento')
      this.reloadAlmacenesFiltro()
    },

    modalEditar(mov){
      console.log(mov)
      this.form.fill(mov)
      this.form.almacen_destino = mov.galpon_destino
      this.createMode = !this.createMode
      this.editarMode = !this.editarMode;
      this.loadMultiselectItem('vehiculos', 'vehiculos_id', this.form.vehiculos_id)
      this.loadMultiselectItem('conductores', 'conductores_id', this.form.conductores_id)
      this.loadMultiselectItem('empleados', 'administrador_almacen_origen', this.form.administrador_almacen_origen)
      this.$bvModal.show('crear-movimiento')
    },

    loadMultiselectItem(array_busqueda, variable_destino, id_busqueda)
    {
      var result = this[array_busqueda].filter(obj => {
        return obj.id === id_busqueda
      })
      this.form[variable_destino] = result[0]
    },

    modalProcesar(mov){
      this.form.fill(mov)
      console.log(this.filtro.almacen.id)
      //this.filtro_seleccion.almacenes = []
      //Buscar la manera de eliminar el almacen de destino de la lista de almacenes en el filtro
      this.form.almacen_destino = mov.galpon_destino
      this.form.piezas_partes_asociadas_movimiento = [];
      this.createMode = !this.createMode  
      this.procesarMode = !this.procesarMode;
      this.loadMultiselectItem('vehiculos', 'vehiculos_id', this.form.vehiculos_id)
      this.loadMultiselectItem('conductores', 'conductores_id', this.form.conductores_id)
      this.loadMultiselectItem('empleados', 'administrador_almacen_origen', this.form.administrador_almacen_origen)
      this.$bvModal.show('crear-movimiento')
    },

    eliminarAlmacenFiltro()
    {
      // Funcion que elimina el almacen de destino del filtro de seleccion de piezas según almacen
      
    },

    modalEtiquetadas(pieza){
      this.etiquetas_lista = pieza
      $('#piezasEtiquetadas').modal('show');
    },

    modalDespachar(movimiento_id){
      this.loadEmpleados();
      this.despacho.movimiento_inventario_id = movimiento_id;
      $('#modalDespachar').modal('show');
    },

    modalReporte(){
      $('#modalReporte').modal('show');
    },

    loadMovimientos()
    {
        axios.get('api/movimiento_inventario').then(({ data }) => (this.movimientos = data));
      /*let url = 'sgp/movimiento_inventario';
      this.dynamicDropdown(url, 'movimiento_inventario')*/
    },

    loadDespachos()
    {
      axios.get('api/despacho_movimiento_inventario').then(({ data }) => (this.despachos = data));
    },

    loadPaletas()
    {
      axios.get('api/sgp/paletas').then(({ data }) => (this.paletas = data));
    },

    loadSeriales(numero_parte)
    {
      axios.get('api/cargar_seriales/'+numero_parte.id).then(({ data }) => (this.seriales = data));
    },

    despachoAsociado(movimiento_id, $booleano=false)
    {
      if (this.despachos[0]) {
        let despacho = this.despachos.filter(obj => {
            return obj.movimiento_inventario_id === movimiento_id;
        })
        if ($booleano===true) {
          return despacho[0]?!despacho[0].despachado:null;
        }
        return despacho[0]?despacho[0]:null;
      }
    },
    resetearFiltro(){
      this.filtro = {
              //Almacen por defecto
              almacen: {"id":15,"nombre":"ALMACÉN CANTV REMANUFACTURADO PV","iniciales":"ALMCR","clasificacion":"PV","dimensiones":"1x1x1","eliminado":false,"sep_column":null,"sep_fila":null,"estante":false,"gerencias_id":11,"otro":null},
              fecha_contenedor: null,
              lote: null,
              piezas: null,
              numero_parte: null,
              numero_calidad: 'Todos',
              nivel: null,
              fecha_entrada: null,
              producto: null,
            }
    },

    resetearPaletaSeleccionada(){
      this.cantidad_paleta_seleccionada = 0
      this.desde_etiquetas_seleccionadas = null
      this.hasta_etiquetas_seleccionadas = null
      this.etiquetas_paleta_seleccionada = []
    },

    crearMovimiento()
    {
        this.$Progress.start();
        this.form
        .post("api/movimiento_inventario")
        .then(response => {
          // Validacion exitosa
          this.$refs['crear-movimiento'].hide();
          swal("¡Creación exitosa!", "Movimiento creado con éxito.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          //Validacion con error
          this.$Progress.fail();
          toast({
            type: "warning",
            title: "Verifique los datos ingresados."
          });
        });
        
    },

    editarMovimiento()
    {
        this.$Progress.start();
        this.form
        .put("api/movimiento_inventario/"+this.form.id)
        .then(response => {
          // Validacion exitosa
          this.$refs['crear-movimiento'].hide();
          swal("Edición exitosa!", "Movimiento editado con éxito.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          //Validacion con error
          this.$Progress.fail();
          toast({
            type: "warning",
            title: "Verifique los datos ingresados."
          });
        });
        
    },

    eliminarMovimiento(id)
    {
      swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Borrar'
      }).then((result) => {
        // Enviar request al servidor
        if (result.value) {
          this.$Progress.start();
          this.form.delete('api/movimiento_inventario/'+id).then(() => {
            swal(
              '¡Eliminado!',
              'El usuario ha sido eliminado.',
              'success'
              )
            Fire.$emit('AfterCreate');
            this.$Progress.finish();

          }).catch(() => {
            this.$Progress.fail();
            swal('¡Error!', 'Algo salio mal', 'warning');
        });
      }
    })
    },

    procesarMovimiento(){
      this.$Progress.start();
      this.form
        .post("api/procesar_movimiento")
        .then(response => {
          // Validacion exitosa
          swal("¡Creación exitosa!", "Movimiento procesado con éxito.", "success");
          this.$bvModal.hide('crear-movimiento')
          Fire.$emit('AfterCreate');
          this.$Progress.finish();
          this.cerrarModal();
        })
        .catch(() => {
          //Validacion con error
          this.$Progress.fail();
          toast({
            type: "warning",
            title: "Verifique los datos ingresados."
          });
        });

          Fire.$emit('AfterCreate');
        
    },

    confirmarDespacho()
    {
      swal({
        title: '¿Confirmas el despacho?',
        text: "¡Asegúrate de que la información sea correcta!",
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Aceptar'
      })
      .then((result) => {
        if (result.value) {
          this.$Progress.start();
          this.despacho
            .post("api/despachar_movimiento")
            .then(response => {
              // Validacion exitosa
              swal("¡Creación exitosa!", "Movimiento creado con éxito.", "success");
              Fire.$emit('AfterCreate');
              $('#modalDespachar').modal('hide');
              this.despacho.reset();
              this.$Progress.finish();
            })
            .catch(() => {
              //Validacion con error
              this.$Progress.fail();
              toast({
                type: "warning",
                title: "Verifique los datos ingresados."
              });
            });
          }
        })
    },

    rangoEtiquetasSeleccionadas(){
      let desde = this.desde_etiquetas_seleccionadas?this.desde_etiquetas_seleccionadas:0;
      let hasta = this.hasta_etiquetas_seleccionadas;
      if (hasta) {
        for (var i = desde; i < hasta; i++) {
          if (this.paleta_seleccionada_no_posicionada) {
            this.etiquetas_paleta_seleccionada.push(this.paleta_seleccionada_no_posicionada.exis_etiquetadas[i])
          }
          else{
            this.etiquetas_paleta_seleccionada.push(this.paleta_seleccionada_posicionada.exis_etiquetadas[i])
          }
        }
      }
      this.desde_etiquetas_seleccionadas = null
      this.hasta_etiquetas_seleccionadas = null
    },

    ingresarPaletaMovimiento(){
      this.form.piezas_partes_asociadas_movimiento.push({
        info_existencia_pp: this.paleta_seleccionada_no_posicionada?this.paleta_seleccionada_no_posicionada:this.paleta_seleccionada_posicionada,
        cantidad: this.cantidad_paleta_seleccionada,
        etiquetadas: this.etiquetas_paleta_seleccionada
      })
      this.resetearPaletaSeleccionada();
      this.paleta_seleccionada_posicionada = ''
      this.paleta_seleccionada_no_posicionada = ''
    },

    loadInfoModal()
    {
        //Carga la información de los Multiselect de Empleados, Conductores y Vehiculos únicamente cuando se abre el modal
        this.loadEmpleados();
        this.loadAlmacenistas();
        this.loadConductores();
        this.loadVehiculos();
        this.loadAlmacenes();
        this.loadNumeroPartes();
        this.reloadAlmacenesFiltro();
    },
    reloadItems(){
      this.loadExistenciasPPInventario(true, 'existencias_pp_no_posicionadas')
      this.loadExistenciasPPInventario(false, 'existencias_pp_posicionadas')
    },

    loadExistenciasPPInventario(posicionada, variable){
      let filtro = JSON.stringify(this.filtro);
      // La variable "posicionada" es un booleano que indica si está o no
      axios.get('api/sgp/existencias_pp_inventario/'+posicionada+'/'+filtro).then(({ data }) => (this[variable] = data));
    },

    loadAlmacenistas()
    {
      axios.get('api/sgp/usuarios_almacenistas').then(({ data }) => (this.empleados_almacenistas = data));
    },

    loadEmpleados()
    {
        axios.get('api/sgp/indexEmpleados').then(({ data }) => (this.empleados = data));
    },

    loadVehiculos()
    {
        axios.get('api/sgp/vehiculos').then(({ data }) => (this.vehiculos = data));
    },

    loadConductores()
    {
        axios.get('api/sgp/conductores').then(({ data }) => (this.conductores = data));
    },

    loadAlmacenes()
    {
        axios.get('api/sgp/almacen').then(({ data }) => (this.almacenes = data));
    },

    reloadAlmacenesFiltro()
    {
      axios.get('api/sgp/almacen').then(({ data }) => (this.filtro_seleccion.almacenes = data));
    },

    loadPiezas()
    {
        axios.get('api/sgp/piezas').then(({ data }) => (this.filtro_seleccion.piezas = data));
    },

    loadNumeroPartes()
    {
        axios.get('api/sgp/numeros_partes').then(({ data }) => (this.filtro_seleccion.numero_parte = data));
    },

    loadLoteMax(fecha)
    {
      axios.get('api/sgp/lote/'+fecha)
      .then(response => {
        for (var i = 1; i < response.data; i++) {
        this.filtro_seleccion.lote.push(i)
        }
      })
    },

    getResults(page = 1) {
      axios.get('api/movimiento_inventario?page=' + page)
        .then(response => {
          this.movimientos = response.data;
        });
      },

    /* ********* FUNCIONES DE ELABORACION DEL PDF DE REPORTE ********** */

    procesarPDF() {
      this.doc = new jsPDF('a','mm', 'A4');
      this.reporte.post('/api/crear_reporte_inventario').then((response) => {
        this.info_reporte = response.data;
        PDFObject.embed(this.crearPDF(), "#vista-pdf", {height: "40rem", width: "90%"});
      });
    },
    iterar_info_pdf(item, index) {
      // El controlador devuelve la información en un json como un objeto, esta función itera cada uno de las propiedades para convertir el objeto en un array
      this.array_info_reporte.push(
        [item.codigo, 
        item.fecha, 
        item.admin_almacen_origen, 
        item.motivo, 
        item.np, 
        item.almacen_origen, 
        item.almacen_destino
        ])
    },
    crearPDF(){
      this.array_info_reporte = [];
      this.info_reporte.forEach(this.iterar_info_pdf)
      this.redactarPDF()
      //return this.doc.output('datauristring');//  <---- Esta función manda el url para que se vea en la vista
      return this.doc.output('dataurlnewwindow');// <---- Esta función lo abre directamente en otra ventana
    },
    redactarPDF(){
      // Variables de diseño de página
      var ancho_de_pagina = this.doc.internal.pageSize.width;
      var largo_de_pagina = this.doc.internal.pageSize.height;
      var titulo_informe = "INFORME: ";

      var cabecera_tabla = [['Código', 'Fecha', 'Administrador de almacen de origen',' Motivo', 'NP', 'Almacen origen', 'Almacen destino']]
    
      this.doc.setFont('Nunito-Regular');
      this.doc.setProperties({
      title: "Reporte",
      subject: 'Reporte Movimiento de Inventario',
      author: "VIT",
      keywords: 'Movimiento de Inventario, VIT',
      creator: 'VIT'
      });

      // INFORMACION DEL CLIENTE 

      this.doc.setFont('Nunito-Regular');
      this.doc.setFontSize(9);
      this.doc.rect(1, 29, ancho_de_pagina-2, 20);

      this.doc.text("DESDE: "+((this.reporte.fecha_inicial) ? this.reporte.fecha_inicial : 'NO APLICA'), 15, 33, 'left')
      this.doc.text("HASTA: "+((this.reporte.fecha_final) ? this.reporte.fecha_final : 'NO APLICA'), 15, 38, 'left')
      this.doc.text("MOTIVO: "+((this.reporte.motivo) ? this.reporte.motivo : 'NO APLICA'), 15, 43, 'left')

      // Contacto
      this.doc.text("ALMACEN: "+((this.reporte.almacen) ? this.reporte.almacen : 'NO APLICA'), ancho_de_pagina/2, 33, 'left')
      this.doc.text("PALETA: "+((this.reporte.paleta) ? this.reporte.paleta : 'NO APLICA'), ancho_de_pagina/2, 38, 'left')
      this.doc.text("NUMERO PARTE: "+((this.reporte.np) ? this.reporte.np : 'NO APLICA'), ancho_de_pagina/2, 43, 'left')

      // TABLA PRESUPUESTO

        this.doc.autoTable({  
            startY: 50,
            margin:{
                top:30
            },
            theme: 'plain', 
            head: cabecera_tabla,
            body: this.array_info_reporte,
            headStyles: { font: "Nunito-Bold"},
            styles: {font: "Nunito-Regular"},
            alternateRowStyles: {
            fillColor: [201, 201, 201],
            },

            //Funcion que permite agregar información una vez formateada la tabla en la respectiva página, útil para cabeceras, pies de páginas e información adicional

            didDrawPage: (data) => {
            // CABECERA 
            this.doc.setFont('Nunito-Regular');
            this.doc.setFontSize(15);
            this.doc.rect(1, 1, ancho_de_pagina-2, 20);
            this.doc.text("VENEZOLANA DE INDUSTRIA TECNOLÓGICA, C.A", ancho_de_pagina/2, 10, 'center')
            this.doc.setFontSize(10);
            this.doc.text("RIF: G-20009831-1", ancho_de_pagina/2, 15, 'center')
            this.doc.text("MOVIMIENTO DE INVENTARIO", ancho_de_pagina/2, 19, 'center')
            //this.doc.setFont('Nunito-Bold', 'bold');
            //this.doc.text("Numero de Presupuesto: "+this.info_pdf.cabecera_pdf.numero_presupuesto, 60+ancho_de_pagina/2, 27, 'center')
            this.doc.setFont('Nunito-Regular', 'normal');
            this.doc.setFontSize(9);
            this.doc.text("El Computador Bolivariano", ancho_de_pagina/2, 24, 'center')
            // CABECERA FIN
            // PIE DE PAGINA
            
            // PIE DE PAGINA FIN
            },
        })
    },
  },
}
</script>
<style>
  .modal-dialog-lg:{
    max-width: 70%
  }
  .fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
