<template>
    <div class="container">
        <div class="row justify-content-center no-print" v-if="$gate.esAdmin()">
            <div class="col-md-12 mt-5">

                <div class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Inventario de Equipos</h1>
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><router-link to="/home"><p>Inicio</p></router-link></li>
                          <li class="breadcrumb-item active">SIPV Bonito</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <!-- SEARCH FORM -->
                    <div class="form-inline ml-3">
                      <div v-show="!crearMod" class="input-group input-group-sm"> 
                        <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                        <div class="input-group-append">
                        </div>
                      </div>

                      <div class="input-group input-group-sm ml-3">
                        <multiselect style="width: 490px;" v-model="form.searchs" deselect-label="" @select="buscarg" @remove="cargarEquipos" :custom-label="labelGalpones" track-by="nombre" label="nombre" placeholder="Seleccione un Galpón" :options="galpones" :searchable="true" :allow-empty="true">
                        <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.nombre }}</strong></template>
                        </multiselect>
                      </div> 

                      <div class="input-group input-group-sm ml-3">
                        <multiselect v-model="form.searchc" deselect-label="" @select="buscarc" @remove="cargarEquipos" :custom-label="labelCategorias" track-by="categorias_codigo" label="categorias_codigo" placeholder="Seleccione una categoría" :options="categorias" :searchable="true" :allow-empty="true">
                        <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.categorias_codigo }}</strong></template>
                        </multiselect>
                      </div>   
                    </div>
                    <ul v-show="(crearMod === true)&&(editMod === false)" class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Registro de equip</a>
                      </li>
                    </ul>
                    <ul v-show="editMod" class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Editar equipo</a>
                      </li>
                    </ul>


                    <div class="card-tools">
                     <!--    <a v-show="!crearMod" class="btn btn-success" href="#" @click="crearEquipo"><i class="fas fa-box-open fs-fw"></i>&nbsp;Registrar Equipo</a> -->
                    </div>

                    <!--<div class="form-inline ml-3">
                      <p>Total de resultados {{equipos.total}}</p>
                    </div>-->
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table v-show="!crearMod" class="table table-striped">
                      <tbody>
                      <tr>
                        <!-- <th>Imagen</th> -->
                        <th>Serial</th>
                        <th>Modelo</th>
                        <th>Versión</th>
                        <th>Categoria</th>
                        <th>Galp&oacute;n</th>
                       <!--  <th>Descripción</th> -->
                       <!--  <th>Editar</th> -->
                      </tr>
                       
                        <tr v-for="equipo in equipos.data" :value="equipo.id" :key="equipo.id">
                     <!--    <td><img :src="'images/equipos/'+equipo.imagen" width="96px"></td> -->
                        <td style="text-align: center; vertical-align: middle;">{{ equipo.sn_equipo }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ equipo.version.modelos.modelo }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ equipo.version.version }}</td>
                         <td style="text-align: center; vertical-align: middle;">{{ equipo.version.modelos.categorias_codigo }}</td>
                         <td style="text-align: center; vertical-align: middle;">{{ equipo.posiciones == null ? 'N/A' : equipo.posiciones.almacenpt.nombre}}</td>
                     <!--    <td style="text-align: center; vertical-align: middle;">{{ equipo.version | upText}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ equipo.descripcion | upText }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="#" @click="llenarForm(equipo)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                            <a href="#" @click="borrarEquipo(equipo.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                        </td> -->
                      </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div v-show="crearMod" class="row justify-content-md-center">
                          <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 
                          <div class="col-md-10 order-md-1">
                            <h4 class="mb-3"></h4>
                            <form>
                              <div class="row">
                                <div class="col-md-6 text-center">
                                  <img :src="this.form.url" alt="equipo" class="img-thumbnail" width="250px">
                                </div>
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label for="firstName">Modelo</label>
                                    <input v-model="form.version.modelos" type="text" name="modelo" class="form-control" :class="{ 'is-invalid': form.errors.has('modelo') }" placeholder="Modelo del equipo">
                                    <has-error :form="form" field="modelo"></has-error>
                                  </div>
                                  
                                  <div class="mb-3">
                                    <label for="lastName">Versión</label>
                                    <input v-model="form.version.version" type="text" name="version" class="form-control" :class="{ 'is-invalid': form.errors.has('version') }" placeholder="Version del equipo">
                                    <has-error :form="form" field="version"></has-error>
                                  </div>
                               <!--    <div class="mb-3">
                                    <label for="lastName">Imagen</label>
                                    <input @change="imagenEquipo" type="file" class="form-control" :class="{ 'is-invalid': form.errors.has('imagen') }" id="lastName" placeholder="Imagen del equipo">
                                    <has-error :form="form" field="imagen"></has-error>
                                  </div> -->
                                </div>
                              </div>

                           <!--    <div class="mb-3">
                                <label for="email">Componentes <span v-show="editMod" class="text-muted">(Nuevos)</span></label>
                                <select v-model="form.ppcategory" @change="loadppSubCategories" type="text" name="offpp1" id="offpp1" 
                                    class="form-control custom-select" :class="{ 'is-invalid': form.errors.has('ppcategory') }">
                                    <option value="" selected disabled hidden>Seleccione una categoría</option>
                                    <option v-for="ppcategory in ppcategories" :value="ppcategory.id" :key="ppcategory.id">
                                      {{ ppcategory.name }}
                                    </option>
                                </select>
                                <has-error :form="form" field="ppcategory"></has-error>
                              </div> -->

                             <!--  <div class="mb-3">
                                <select v-model="form.pp_description_id" type="text" name="offpp2" id="offpp2"
                                  class="form-control custom-select" :class="{ 'is-invalid': form.errors.has('pp_description_id') }" disabled="true">
                                    <option value="" selected disabled hidden>Seleccione una sub categoría</option>
                                    <option v-for="ppdescription in ppdescriptions" :value="ppdescription.pp_description" :key="ppdescription.id">
                                      {{ ppdescription.pp_description }}
                                    </option>
                                  </select>
                                  <has-error :form="form" field="pp_description_id"></has-error>
                              </div> -->

                              <div class="mb-3">
                                <button class="btn btn-dark" @click="agregarDescripcion" type="button">Agregar</button>
                              </div>

                              <div class="mb-3">
                                <label for="address">Descripción</label>
                                <br>
                                  <input disabled v-model="form.descripciones" type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('descripciones') }" placeholder="Descripción">
                                  <has-error :form="form" field="descripciones"></has-error>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="text-center">
                      <button v-show="crearMod" class="btn btn-danger" @click="atrasForm">Atras</button>
                      <button v-if="(crearMod === true)&&(editMod === false)" class="btn btn-success" @click="guardarEquipo" type="submit">Guardar</button>
                      <button v-show="editMod" class="btn btn-success" @click="editarEquipo" type="submit">Editar</button>
                    </div>
                    <pagination :data="equipos" :limit="5" @pagination-change-page="getResults">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                  </div>
                </div>
            </div>
        </div>

        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
              text:'',
                equipos:{},
                crearMod: false, editMod:false,
 
                ppcategories:[],
                ppdescriptions:[],
                galpones:[],
                categorias:[],

                form: new Form({
                    id:'',
                    ppcategory:'',
                    pp_description_id:'',

                    search:'',
                    searchs:'',
                    searchc:'',

                    descripciones:[],
                    modelo:'',
                    version:'',
                    imagen:'',
                    url:'images/vitlogo.png',
                })
            }
        },
        mounted(){
          this.$Progress.start();
          this.cargarEquipos();
          this.loadppCategories();
          this.$Progress.finish();
          this.loadGalpones();
          this.loadCategorias();
        },
        created(){
          Fire.$on('searching',() =>{
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/search_equipo?q=' + query)
            .then((data) => {
              this.equipos = data.data;
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          Fire.$on('searchingg',() =>{
            this.$Progress.start();
            let query = this.form.searchs.id;
            axios.get('api/ptxgalpon?q=' + query)
            .then((data) => {
              this.equipos = data.data;
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          Fire.$on('searchinc',() =>{
            this.$Progress.start();
            let query = this.form.searchc.categorias_codigo;
            axios.get('api/ptxcategoria?q=' + query)
            .then((data) => {
              this.equipos = data.data;
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          /*this.cargarEquipos();*/
          Fire.$on('AfterCreate',() => {
          this.cargarEquipos();
          });
        },
        methods:{
          cargarEquipos(){
            axios.get('api/equipos').then(({ data }) => (this.equipos = data));
          },

        loadppCategories(){
          $('#offpp1').change(function(){
            $('#offpp2').removeAttr('disabled');
          });
          let url = 'api/ppcategories';
          this.dynamicDropdown(url, 'ppcategories')
        },

        loadppSubCategories(){
          let url = 'api/ppdescriptions/'+this.form.ppcategory;
          this.form.pp_description_id = '';
          this.dynamicDropdown(url, 'ppdescriptions')
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        buscarg:_.debounce(() => {
          Fire.$emit('searchingg');
        },500),

        buscarc:_.debounce(() => {
          Fire.$emit('searchinc');
        },500),

        getResults(page = 1) {
          axios.get('api/equipos?page=' + page)
            .then(response => {
              this.equipos = response.data;
            });
          },

          borrarEquipo(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
          }).then((result) => {
            if(result.value){
              this.$Progress.start();
              this.form.delete('api/equipo/'+ id).then(() => {
                  swal(
                    '¡Eliminada!',
                    'La pieza ha sido eliminada.',
                    'success'
                    )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();
              }).catch(() => {
                swal('¡Error!', 'Algo salio mal', 'warning');
                this.$Progress.fail();
              });
            }
          })
        },

        labelGalpones ({ nombre }) {
          return `${nombre}`
        },

        labelCategorias ({ categorias_codigo }) {
          return `${categorias_codigo}`
        },
        
        llenarForm(equipos){
          this.editMod = true;
          this.crearMod = true;
          this.form.fill(equipos);
          this.form.descripciones = [];
          this.form.ppcategory = '';
          this.form.pp_description_id = '';
          this.form.url = 'images/equipos/'+this.form.imagen;
        },
        editarEquipo(){
          this.$Progress.start();
          this.form.put('api/equipo/'+this.form.id)
          .then(() => {
            this.editMod = false;
            this.crearMod = false;
            Fire.$emit('AfterCreate');
            this.$Progress.finish();
            swal(
                  '¡Editado!',
                  'El equipo ha sido editado.',
                  'success'
                  )
          })
          .catch(() => {
            toast({
              type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
            this.$Progress.fail();
          });
        },
        agregarDescripcion(){
          if(this.form.pp_description_id != ''){
            this.form.descripciones.push(this.form.pp_description_id);
          }else{
            swal(
                  'Atención!',
                  'Debes seleccionar componentes.',
                  'warning'
                  )
          }
        },
        crearEquipo(){
          this.crearMod = true;
        },
        imagenEquipo(e){
          let file = e.target.files[0];
          let reader = new FileReader();
          this.form.url = URL.createObjectURL(file);

          reader.onloadend = (file) => {
              this.form.imagen = reader.result;
          }
          reader.readAsDataURL(file);
        },
        guardarEquipo(){
          this.$Progress.start();
          this.form.post('api/equipo').then(() =>{
            this.form.reset();
            this.crearMod = false;
            this.$Progress.finish();
            Fire.$emit('AfterCreate');
            swal(
                  '¡Editado!',
                  'El equipo ha sido editado.',
                  'success'
                  )
          }).catch(() => {
            toast({
              type: 'warning',
              title: 'Verifique los datos ingresados.'
            })
            this.$Progress.fail();
          })
        },
        atrasForm(){
          this.crearMod = false;
          this.editMod = false;
          this.form.reset();
        },
        loadGalpones(){
          axios.get("api/ptgalpones").then(({ data }) => (this.galpones = data));
        },
        loadCategorias(){
          axios.get("api/ptcategorias").then(({ data })=>(this.categorias = data));
        }
      },
    }
</script>
