<template>
    <div class="container">
        <div class="row justify-content-center no-print">
          <!-- v-if="$gate.esAdmin()" -->
                      <div class="col-md-12 mt-5">

                <div class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Inventario de Partes y Piezas</h1>
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><router-link to="/home"><p>Inicio</p></router-link></li>
                          <li class="breadcrumb-item active">SIPV Bonito</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card" v-show="!printMode">
                  <div class="card-header">
                    <!-- SEARCH FORM -->
                    <div class="form-inline ml-3">
                      <div class="input-group input-group-sm"> 
                        <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                        <div class="input-group-append">
                          <!-- <button class="btn btn-default-fix" type="button" @click="busquedaModal" data-toggle="tooltip" data-target=".bd-example-modal-lg" data-placement="top" title="Busqueda avanzada de información.">
                            <i class="fa fa-search"></i>
                          </button> -->
                        </div>
                      </div> 

                       <div class="input-group input-group-sm ml-3">
                        <multiselect style="width:550px" v-model="form.searchs" deselect-label="" @select="buscarg" @remove="loadPieces" :custom-label="labelGalpones" track-by="nombre" label="nombre" placeholder="Seleccione un Galpón" :options="galpones" :searchable="true" :allow-empty="true">
                        <template slot="singleLabel" slot-scope="{ option }"><strong>{{ option.nombre }}</strong></template>
                        </multiselect>
                      </div> 
                    </div>
                 <!--    <div class="card-tools">
                        <a class="btn btn-success" href="#" @click="createPieceModal"><i class="fas fa-box-open fs-fw"></i>&nbsp;Registrar Parte/Pieza</a>
                    </div> -->
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th>Código / NP</th>
                        <!-- <th>Tipo</th> -->
                        <th>Descripción</th>
                        <th>Etiquetados</th>
                        <th>Sin Etiquetar</th>
                       <!--  <th>Condición</th> -->
                       <!--  <th>Procedencia</th> -->
                        <th>Paleta</th>
                        <th>Almacen</th>
                        <!--<th>Editar</th>-->
                      </tr>
                        <tr v-for="pp in ppList.data" :value="pp.id" :key="pp.id">
                        <td>{{ pp.numero_parte.pn }}</td>
                        <td>{{ pp.numero_parte.descripciones }}</td>
                        <td><a href="#" @click="piezasEtiquetadasModal(pp.id)">{{ pp.exis_etiquetadas.length }}</a></td>
                        <td>{{ pp.cantidad == -1 ? 0 : pp.cantidad}}</td>
                        <td>{{ pp.paleta.paleta}}</td>
                        <td>{{ pp.posiciones.almacen.nombre}}</td>
                 <!--        <td v-if="(pp.pp_serial === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ pp.pp_serial }}</td>
                        <td>{{ pp.pp_tipo }}</td>
                        <td>{{ pp.pp_description }}</td>
                        <td>{{ pp.pp_cantidad }}</td>
                        <td>{{ pp.pp_cond | upText}}</td>
                        <td>{{ pp.origin | upText }}</td> -->
                        <!--<td>
                            <a href="#" @click="updatePieceModal(pp)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                            <a href="#" @click="deletePiece(pp.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                        </td>-->
                      </tr>
                    </tbody></table>

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    
                    <!--<div class="col-12">
                       <button type="button" class="btn btn-info float-right"><i class="fa fa-print"></i> Imprimir
                      </button> 
                      <button @click.prevent="printActivar" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fa fa-download"></i> Generar Reporte
                      </button>
                    </div>-->
                    <pagination :data="ppList" :limit="5" @pagination-change-page="getResults">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                  </div>
                </div>
            </div>
        </div>

        <section class="content printing" v-show="printMode">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 mt-2">
                        
                    <div class="callout callout-info no-print">
                      <h5><i class="fa fa-info"></i> Note:</h5>
                      This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>

                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                      <!-- title row -->
                      <div class="row">
                        <div class="col-12">
                          <h4>
                            <img src="/images/logo-vit-doc.png" alt="VIT Logo" class="brand-image" style="opacity: .8">
                            Venezolana de Industria Tecnológica C.A.
                            <small class="float-right">Fecha: {{ this.dia }} / {{ this.mes + 1 }} / {{ this.año }}</small>
                          </h4>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                          <br>
                          <address>
                            <strong>De: Admin, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (804) 123-5432<br>
                            Email: info@almasaeedstudio.com
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          <br>
                          <address>
                            <strong>Para: John Doe</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (555) 539-1037<br>
                            Email: john.doe@example.com
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          <br>
                          <address>
                            <strong>Reporte: #007612</strong><br>
                            Orden ID: 4F3S8J<br>
                            Usuario: Admin<br>
                            Revisión: __________<br>
                            Edición: ___________
                          </address>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row printing">
                        <div class="col-12 table-responsive">
                          <table class="table table-striped">
                              <tbody>
                              <tr>
                                <th>Código</th>
                                <th>Serial</th>
                                <th>Tipo</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Condición</th>
                                <th>Procedencia</th>
                              </tr>

                                <tr v-for="pp in ppList.data" :value="pp.id" :key="pp.id">
                                <td>{{ pp.numero_parte.pn }}</td>
                              <!--   <td v-if="(pp.pp_serial === null)"><i class="fas fa-ban"></i></td>
                                <td v-else>{{ pp.pp_serial }}</td>
                                <td>{{ pp.pp_tipo }}</td>
                                <td>{{ pp.pp_description }}</td>
                                <td>{{ pp.pp_cantidad }}</td>
                                <td>{{ pp.pp_cond | upText}}</td>
                                <td>{{ pp.origin | upText }}</td> -->
                              </tr>
                            </tbody></table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-12">
                          <p class="lead">Aprobación:</p>
                          <!-- <img src="../../dist/img/credit/visa.png" alt="Visa">
                          <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                          <img src="../../dist/img/credit/american-express.png" alt="American Express">
                          <img src="../../dist/img/credit/paypal2.png" alt="Paypal"> -->
                          <div class="table-responsive">
                            <table class="table">
                              <tbody><tr>
                                <th>Despachado por:<br>División de Tecnológia</th>
                                <th>Revisado y Aprobado:<br>Ing. Jose Mendoza</th>
                                <th>Recibido por:<br>"Javier Hernandez"</th>
                              </tr>
                              <tr>
                                <td>
                                  <div class="card">
                                    <div class="card-body">
                                      Imagen de firma.
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="card">
                                    <div class="card-body">
                                      Imagen de firma.
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="card">
                                    <div class="card-body">
                                      Imagen de firma.
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <!-- <tr>
                                <th>Tax (9.3%)</th>
                                <td>$10.34</td>
                              </tr>
                              <tr>
                                <th>Shipping:</th>
                                <td>$5.80</td>
                              </tr>
                              <tr>
                                <th>Total:</th>
                                <td>$265.24</td>
                              </tr> -->
                                </tbody>
                              </table>
                            <hr>
                          </div>
                        </div>
                        <!-- /.col -->
                        <!-- <div class="col-5">
                          <p class="lead">Detalles del Material y/o Servicio:</p>

                          <div class="table-responsive">
                            <table class="table">
                              <tbody><tr>
                                <th style="width:50%">Total:</th>
                                <td>666</td>
                              </tr>
                               <tr>
                                <th>Tax (9.3%)</th>
                                <td>$10.34</td>
                              </tr>
                              <tr>
                                <th>Shipping:</th>
                                <td>$5.80</td>
                              </tr>
                              <tr>
                                <th>Total:</th>
                                <td>$265.24</td>
                              </tr>
                            </tbody></table>
                            <hr>
                          </div>
                        </div> -->
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; text-align: center;">
                            Centro de Gestión de Documentos (CGD). Gerencia de Gestión de la Calidad. Venezolana de Industria Tecnológica C.A (VIT C.A).
                          </p>
                      <!-- this row will not appear when printing -->
                      <div class="row no-print">
                        <div class="col-12">
                          <a href="#" @click.prevent="print" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                          <button @click.prevent="cerrar" type="button" class="btn btn-danger float-right"> Atras
                          </button>
                          <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fa fa-download"></i> Descargar PDF
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- /.invoice -->
                    
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            <div>
        </div>
        </section>

        <!-- <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div> -->

        <!-- Modal usado para crear/editar -->
        <div class="modal fade modal-open" id="Piece" tabindex="-1" role="dialog" aria-labelledby="PieceLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 v-show="!editMode" class="modal-title" id="PieceLabel">Registar Parte/Pieza</h5>
                <h5 v-show="editMode" class="modal-title" id="PieceLabel">Editar Pieza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form @submit.prevent="editMode ? updatePiece() : createPiece()">
              <div class="modal-body">
                <div class="form-group">
                  
                  <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 

                  <select v-model="form.ppcategory" @change="loadppSubCategories" type="text" name="offpp1" id="offpp1" 
                    class="form-control" :class="{ 'is-invalid': form.errors.has('ppcategory') }">
                    <option value="" selected disabled hidden>Seleccione una categoría</option>
                    <option v-for="ppcategory in ppcategories" :value="ppcategory.id" :key="ppcategory.id">
                      {{ ppcategory.name }}
                    </option>
                  </select>
                  <has-error :form="form" field="ppcategory"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.pp_description_id" type="text" name="offpp2" id="offpp2"
                   class="form-control" :class="{ 'is-invalid': form.errors.has('pp_description_id') }" disabled="true">
                    <option value="" selected disabled hidden>Seleccione una sub categoría</option>
                    <option v-for="ppdescription in ppdescriptions" :value="ppdescription.id" :key="ppdescription.id">
                      {{ ppdescription.pp_description }}
                    </option>
                  </select>
                  <has-error :form="form" field="pp_description_id"></has-error>
                </div>
                
                <div class="form-group">
                  <select v-model="form.tipo_registro" type="text" name="offppc" id="offppc"
                   class="form-control" :class="{ 'is-invalid': form.errors.has('tipo_registro') }" disabled="false">
                    <option value="" selected disabled hidden>Seleccione tipo de registro</option>
                    <option v-show="(form.pp_cantidad === '' && editMode != true)" value="1">Serial</option>
                    <option v-show="(form.pp_serial === '' && editMode != true)" value="2">Cantidad</option>
                  </select>
                  <has-error :form="form" field="tipo_registro"></has-error>
              </div>

                <div v-if="(form.tipo_registro == 1)" class="form-group">
                  <input v-model="form.pp_serial" type="text" name="pp_serial"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_serial') }" placeholder="Serial de la pieza">
                <has-error :form="form" field="pp_serial"></has-error>
                </div>

                <div v-if="(form.tipo_registro == 2)" class="form-group">
                  <input v-model="form.pp_cantidad" type="number" min="1" oninput="validity.valid||(value='');" name="CantidadPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_cantidad') }" placeholder="Cantidad">
                <has-error :form="form" field="pp_cantidad"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.pp_cond" type="text" name="EstadoPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_cond') }" placeholder="Indique el estado">
                    <option value="" selected disabled hidden>Indique el estado</option>
                    <option value="nuevo">Nuevo</option>
                    <option value="usado">Usado</option>
                  </select>
                  <has-error :form="form" field="pp_cond"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.origin_id" type="number" name="ProcPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('origin_id') }">
                    <option value="" selected disabled hidden>Procedencia</option>
                    <option v-for="pporigin in pporigins" :value="pporigin.id" :key="pporigin.id">
                      {{ pporigin.origin }}
                    </option>
                  </select>
                  <has-error :form="form" field="origin_id"></has-error>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                <button v-show="!editMode" type="submit" class="btn btn-success">Crear</button>
                <button v-show="editMode" type="submit" class="btn btn-primary">Editar</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal para piezas etiquetadas -->
        <div class="modal fade modal-open" id="piezasEtiquetadas" tabindex="-1" role="dialog" aria-labelledby="BusquedaLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered" id="TamañoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Piezas etiquetadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>       
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <tbody>
                      <tr>
                        <th>Código</th>
                      </tr>
                      <tr v-for="etiqueta in piezasEtiquetadas.data">
                        <td>{{ etiqueta.qn }}</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
              </div>
              <div class="modal-footer">
                <pagination :data="piezasEtiquetadas" :limit="5" @pagination-change-page="getResultsEtiquetadas">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal para busqueda avanzada -->
        <div class="modal fade modal-open" id="Busqueda" tabindex="-1" role="dialog" aria-labelledby="BusquedaLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" id="TamañoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Búsqueda avanzada de Parte/Pieza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>       
                </button>
              </div>
              <div class="modal-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 
                <div v-show="!busquedaMode" class="input-group input-group-lg">
                  <input v-mask="'XXXXXXXXXXXXXX'" v-model="form.busquedaA" type="text" class="form-control" placeholder="Código de pieza">
                  <has-error :form="form" field="busquedaA"></has-error>
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-info btn-flat" @click="busquedaA">Buscar</button>
                  </span>
                </div>
                <div v-show="busquedaMode" class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <tbody>
                      <tr>
                        <th>Código</th>
                        <th>Serializados</th>
                        <th>Sin Serial</th>
                        <th>Nuevos</th>
                        <th>Usados</th>
                        <th>Total</th>
                      </tr>

                        <tr>
                        <td>{{ this.form.busquedaA }}</td>
                        <td v-if="(this.busquedaAresult.total_cs === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ this.busquedaAresult.total_cs }}</td>
                        <td v-if="(this.busquedaAresult.total_ss === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ this.busquedaAresult.total_ss }}</td>
                        <td v-if="(this.busquedaAresult.total_nuevo === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ this.busquedaAresult.total_nuevo }}</td>
                        <td v-if="(this.busquedaAresult.total_usado === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ this.busquedaAresult.total_usado }}</td>
                        <td><a href="#" @click="mostrar">{{ this.busquedaAresult.total_all }} <i class="fas fa-search-plus"></i></a></td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                  <div v-show="mostrarMode" class="alert alert-info alert-dismissible fade show" role="alert">
                  <button type="button" class="close" @click="cerrar" aria-hidden="true">×</button>
                  <h4><i class="icon fa fa-info"></i>Piezas serializadas:</h4>
                  Tener en cuenta lo siguiente [<b>Serial</b>, <b>Procedencia</b>].
                  <hr>
                  <div v-for="(m,index) in busquedaAresult2" :value="m.id" :key="m.id">
                    <th v-if="(index === 0)">Nuevas:</th>
                    <th v-if="(index === 1)">Usadas:</th>
                    <!-- <th v-if="(index === 2)">Serializados:</th> -->
                    <template v-if="m.length < 1">
                        <p>No hay piezas serializadas de este tipo.</p>
                    </template>
                    <template v-else>
                    <p1>
                      <span  v-for="v in busquedaAresult2[index]" :value="v.id2" :key="v.id2">
                      &nbsp;[<b>{{ v.pp_serial }}</b>, <b>{{ v.origin }}</b>]
                      </span>
                      <hr>                 
                    </p1>    
                    </template>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                editMode:false,
                mostrarMode:false,
                busquedaMode:false,
                printMode:false,
                piezasEtiquetadas: {},
                piezaSeleccionada: {},
                busquedaAresult:{},
                busquedaAresult2:{},
                ppcategories:[],
                galpones:[],
                ppdescriptions:[],
                pporigins:[],
                ppList:{},
                dia:null,
                mes:null,
                año:null,
                form: new Form({
                    id:'',
                    ppcategory:'',
                    pp_description_id:'',
                    pp_serial:'',
                    pp_cantidad:'',
                    pp_cond:'',
                    origin_id:'',
                    search:'',
                    searchs:'',
                    tipo_registro:'',
                    respuesta:'',
                    search:'',
                    pp_np:'',
                    busquedaA:'',
                })
            }
        },
        mounted(){
          this.$Progress.start();
          this.loadppCategories();
          this.loadOrigins();
          this.$Progress.finish();
          this.loadGalpones();
        },
        created(){
          Fire.$on('searching',() =>{
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/filtro?q=' + query)
            .then((data) => {
              this.ppList = data.data;
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          Fire.$on('searchingg',() =>{
            this.$Progress.start();
            let query = this.form.searchs.id;
            axios.get('api/filtrog?q=' + query)
            .then((data) => {
              this.ppList = data.data;
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          this.loadPieces();
          Fire.$on('AfterCreate',() => {
          this.loadPieces();
          });
        },
        methods:{

        loadppCategories(){
          $('#offpp1').change(function(){
            $('#offpp2').removeAttr('disabled');
          });
          let url = 'api/ppcategories';
          this.dynamicDropdown(url, 'ppcategories')
        },

        loadGalpones(){
          axios.get("api/ppgalpones").then(({ data }) => (this.galpones = data));
        },

        loadppSubCategories(){
          let url = 'api/ppdescriptions/'+this.form.ppcategory;
          this.form.pp_description_id = '';
          this.dynamicDropdown(url, 'ppdescriptions')
        },
        
        loadOrigins(){
          let url = 'api/pporigins';
          this.dynamicDropdown(url, 'pporigins')
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        buscarg:_.debounce(() => {
          Fire.$emit('searchingg');
        },500),

        loadPieces(){
          axios.get("api/pieces").then(({ data }) => (this.ppList = data));
        },

        labelGalpones ({ nombre }) {
          return `${nombre}`
        },

        getResults(page = 1) {
          axios.get('api/pieces?page=' + page)
            .then(response => {
              this.ppList = response.data;
            });
          },
        deletePiece(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
          }).then((result) => {
            if(result.value){
              this.$Progress.start();
              this.form.delete('api/pieces/'+ id).then(() => {
                  swal(
                    '¡Eliminada!',
                    'La pieza ha sido eliminada.',
                    'success'
                    )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();
              }).catch(() => {
                swal('¡Error!', 'Algo salio mal', 'warning');
                this.$Progress.fail();
              });
            }
          })
        },
        createPiece(){
          this.$Progress.start();
          if(this.form.pp_serial != ''){this.form.pp_cantidad = 1;}
          if(this.form.pp_cantidad > 1){this.form.pp_serial = '';}
          this.form.post('api/pieces')
          .then((data) => {
            this.form.respuesta = data.data[0];
              this.$Progress.finish();
              if(this.form.respuesta === 'existe'){
                swal({
                title: '¡Pieza ya existente!',
                text: "¿Quieres adicionarle esta cantidad?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Agregar'
            }).then((result) => {
                if(result.value){
                  this.form.respuesta = 'si';
                  this.form.post('api/pieces').then(() => {
                  this.form.reset();
                  Fire.$emit('AfterCreate');
                  $('#Piece').modal('hide');
                    swal(
                      '¡Carga exitosa!',
                      'El total de la pieza ha sido modificado.',
                      'success'
                      )
                  this.$Progress.finish();
                  }).catch(() => {
                    swal('¡Error!', 'Algo salio mal', 'warning');
                    this.$Progress.fail();
                  });
                }else{
                this.form.reset();
                toast({
                  type: 'info',
                  title: 'No ha habido cambios.'
                  })
                  this.$Progress.finish(); 
                }
              })
            }else{
              this.form.reset();
              Fire.$emit('AfterCreate');
              $('#Piece').modal('hide');
              swal(
                '¡Creación exitosa!',
                'Pieza creada con éxito.',
                'success'
                )
                this.$Progress.finish();
              }
            })
          .catch(() => {
            this.form.pp_cantidad = '';
            this.form.respuesta = '';
            this.$Progress.fail()
            toast({
            type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
          });
        },
        updatePiece(){
          this.$Progress.start();
          this.form.put('api/pieces/'+this.form.id)
          .then(() => {
            $('#Piece').modal('hide')
            swal(
                  '¡Editado!',
                  'La pieza ha sido editada.',
                  'success'
                  )
            Fire.$emit('AfterCreate');
            this.$Progress.finish();
          })
          .catch(() => {
            toast({
              type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
            this.$Progress.fail();
          });
        },
        createPieceModal(){
          this.editMode = false;
          this.form.reset();
          $('#offppc').attr('disabled', false);
          $('#offpp2').attr('disabled', true);
          $('#Piece').modal('show');
        },
        updatePieceModal(ppList){
          this.editMode = true;
          this.form.reset();
          this.form.fill(ppList);
          if(this.form.pp_cantidad > 1){this.form.tipo_registro = 2;}else{this.form.tipo_registro = 1;}
          this.form.ppcategory = ppList.pp_category_id;
          this.loadppSubCategories();
          this.form.pp_description_id = ppList.pp_description_id;
          $('#offpp2').attr('disabled', false);
          $('#offppc').attr('disabled', true);
          $('#Piece').modal('show');
        },

        // Piezas etiquetadas

        piezasEtiquetadasModal(pieza){
          $ ('#piezasEtiquetadas').modal('show');
          this.piezaSeleccionada = pieza
          this.getResultsEtiquetadas();
        },

        getResultsEtiquetadas( page = 1) {
          axios.get(`api/indexPiezasEtiquetadas/${this.piezaSeleccionada}?page=${page}`)
            .then(response => {
              this.piezasEtiquetadas = response.data;
            });
        },

        busquedaModal(){
          this.mostrarMode = false;
          this.form.busquedaA = this.form.search;
          this.busquedaMode = false;
          var element = document.getElementById("TamañoModal");
          element.classList.remove("modal-lg");
          element.classList.add("modal-dialog-centered");
          $('#Busqueda').modal('show');
        },
        busquedaA(){
          this.$Progress.start();
          this.form.post('api/busqueda').then((data) =>{
            toast({
              type: 'success',
              title: '¡Búsqueda exitosa!'
            })
            var element = document.getElementById("TamañoModal");
            element.classList.remove("modal-dialog-centered");
            element.classList.add("modal-lg");
            this.busquedaMode = true;
            this.busquedaAresult = data.data[0];
            this.busquedaAresult2 = data.data[1];
            this.$Progress.finish();
          }).catch(() =>{
            toast({
              type: 'error',
              title: '¡El código ingresado no existe!'
            })
            this.$Progress.fail();
          });
        },
        mostrar(){
           this.mostrarMode = true;
        },
        cerrar(){
          this.mostrarMode = false;
          this.printMode = false;
        },
        printActivar(){
            this.printMode = true;
            this.fechaActual();
        },
        print() {
          window.print()
          
        },
        fechaActual(){
          var f = new Date();
          this.dia = f.getDate();
          this.mes = f.getMonth();
          this.año = f.getFullYear();
          // document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
        }
      },
    }
</script>
<style>
  .modal-dialog-lg:{
    max-width: 70%
  }
</style>
