<template>
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-5">
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header text-white" style="background-image: url('./images/perfil/perfil-cover.jpeg')">
                <b-row>
                  <b-col>
                    <h4 class="widget-user-username" style="font-weight: bold;">
                      {{this.form.nick | upText }}
                    </h4>
                    <h5 class="widget-user-desc">
                      Tipo: {{ this.form.usertype.nombre }}
                    </h5>
                  </b-col>
                </b-row>
              </div>
              <div class="widget-user-image">
                <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
              </div>
            </div>
          <!-- /.widget-user -->
                  <div class="card">
                    <div class="card-header p-2">
                      <b-row class="text-center"> 
                        <b-col cols="11">
                          <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                              <a class="nav-link active show" href="#datosPersonales" data-toggle="tab">Datos Personales</a>
                            </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#config" data-toggle="tab">Configuración</a>
                              </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                      <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
                      <div class="tab-content">
                        <div class="tab-pane active show" id="datosPersonales">
                          <form class="form-horizontal">

                            <b-col>
                                <label for="cedula" class="col-sm-4 control-label">Cedula</label>
                                <div class="input-group col-sm-12"> 
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                          <select disabled v-model="form.nacionalidad" type="text" name="Nacionalidad" data-vv-as="Nacionalidad"
                                          class="form-control" :class="{ 'is-invalid': form.errors.has('nacionalidad') }">
                                            <option value="" selected disabled hidden>Nacionalidad</option>
                                            <option value="V">V</option>
                                            <option value="E">E</option>
                                          </select>
                                          <has-error :form="form" field="nacionalidad"></has-error>
                                      </div>
                                      <input v-mask="'##########'" readonly="readonly" v-model="form.cedula" type="text" name="Cedula"
                                    class="form-control" placeholder="Cedula" :class="{ 'is-invalid': form.errors.has('cedula') }">
                                      <has-error :form="form" field="cedula"></has-error>
                                  </div>
                                </div>
                              </b-col>

                            <b-col>
                              <div class="form-group">
                                <label for="correo" class="col-sm-8 control-label">Nombre completo</label>
                                  <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                     <span class="input-group-text"><i class="fa fa-user-tie"></i></span>
                                    </div>
                                    <input readonly="readonly" v-model="form.name" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                                  </div>
                              </div>
                             </b-col>


                            <b-col>
                              <div class="form-group">
                                <label for="telefonos" class="col-sm-4 control-label">Telefonos</label>
                                <div class="input-group col-sm-12">

                                  <div class="input-group-prepend" title="Telefono Personal">
                                    <span class="input-group-text" ><i class="fa fa-mobile-alt"></i></span>
                                  </div>
                                  <input v-mask="'+58 (###) ### ####'" v-model="form.tlfPersonal" type="text" name="TlfPersonal" class="form-control" id="tlfPersonal" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlfPersonal') }" data-vv-as="Telefono Personal">
                                  
                                  <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>

                                    <div class="input-group-prepend" title="Telefono de Habitación">
                                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input v-mask="'+58 (###) ### ####'" v-model="form.tlfHabitacion" type="text" name="TlfHabitacion" class="form-control" id="tlfHabitacion" placeholder="Telefono de habitación" :class="{ 'is-invalid': form.errors.has('tlfHabitacion') }" data-vv-as="Telefono Habitacion">
                                 </div>
                              </div>
                             </b-col>

                            <b-col>
                              <div class="form-group">
                                <label for="correo" class="col-sm-8 control-label">Correo personal</label>
                                <div class="input-group col-sm-12" title="Correo Electronico">
                                  <div class="input-group-prepend" >
                                    <span class="input-group-text"><i class="fa fa-at"></i></span>
                                  </div>
                                  <input v-model="form.correoPersonal" type="email" name="CorreoPersonal" class="form-control" id="correoPersonal" placeholder="Correo personal" :class="{ 'is-invalid': form.errors.has('correoPersonal') }" data-vv-as="Correo Personal">
                                </div>
                              </div>
                            </b-col>

                            <b-col>
                              <div class="form-group">
                                <label for="ubicacion" class="col-sm-4 control-label">Ubicación</label>
                                <div class="input-group col-sm-12">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Estado</span>
                                  </div>
                                  <select v-model="form.estado" @change="loadMunicipios" type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('estado') }" placeholder="Estado">
                                    <option value="" selected disabled hidden>Seleccione un estado</option>
                                    <option v-for="estado in estados" :value="estado.id" :key="estado.id">
                                      {{ estado.estado }}
                                    </option>
                                  </select>
                                  <has-error :form="form" field="estado"></has-error>
                                  <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Municipio</span>
                                  </div>
                                  <select v-model="form.municipio" @change="loadParroquias" type="text" name="Municipio"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('municipio') }" placeholder="Municipio">
                                    <option value="" selected disabled hidden>Seleccione un municipio</option>
                                    <option v-for="municipio in municipios" :value="municipio.id" :key="municipio.id">
                                      {{ municipio.municipio }}
                                    </option>
                                  </select>
                                  <has-error :form="form" field="municipio"></has-error>
                                  <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Parroquia</span>
                                  </div>
                                  <select v-model="form.parroquia" type="text" name="Parroquia"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('parroquia') }" placeholder="Parroquia">
                                    <option value="" selected disabled hidden>Seleccione una parroquia</option>
                                    <option v-for="parroquia in parroquias" :value="parroquia.id" :key="parroquia.id">
                                      {{ parroquia.parroquia }}
                                    </option>
                                  </select>
                                  <has-error :form="form" field="parroquia"></has-error>
                                  </div>
                              </div>
                          </b-col>

                            <b-col>
                              <div class="form-group">
                                <label for="direccion" class="col-sm-4 control-label">Dirección</label>
                                <div class="input-group col-sm-12">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-map-marked-alt"></i></span>
                                  </div>
                                  <textarea v-model="form.direccion" type="text" name="Direccion" class="form-control" id="direccion" placeholder="Dirección" :class="{ 'is-invalid': form.errors.has('direccion') }"></textarea>
                                </div>
                              </div>
                             </b-col>

                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-12 col-center text-center">
                                <button @click.prevent="updateInfo" type="submit" class="btn btn-danger">Actualizar</button>
                              </div>
                            </div>
                          </form>
                        </div>

                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="config">
                          <b-row>
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label for="Password" class="col-sm-12 control-label">Información de usuario</label>
                              <div class="input-group col-sm-12">
                                <div class="input-group-prepend col-sm-4">
                                  <span class="input-group-text"><i class="fa fa-user-tag"></i></span>
                                <input v-model="form.nick" type="text" name="Nick" class="form-control" id="Nick" placeholder="Nick" :class="{ 'is-invalid': form.errors.has('nick') }">
                                <has-error :form="form" field="nick"></has-error>
                                </div>

                                <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>

                                <div class="input-group-prepend col-sm-4">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                  
                                  <input v-model="form.email" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                </div> 
                                <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                
                                <div class="input-group-prepend col-sm-3">
                                    <span class="input-group-text"><i class="fa fa-camera-retro"></i></span>
                                  <div class="custom-file">
                                    <input type="file" @change="actPerfil" name="Foto" class="custom-file-input form-input">
                                    <label class="custom-file-label col-sm-12 control-label" for="exampleInputFile">Foto</label>
                                  </div>
                                </div>
                                <has-error :form="form" field="password"></has-error>
                                <has-error :form="form" field="password_confirmation"></has-error>
                                </div>
                            </div>


                          <b-col>
                            <div class="form-group">
                              <label for="Password" class="col-sm-4 control-label">Contraseña</label>
                              <div class="input-group col-sm-12">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input id="password" v-model="form.password" type="password" name="password"
                                class="form-control" data-toggle="tooltip" data-placement="top" title="Usar una contraseña mayor a 6 digitos." placeholder="Contraseña" :class="{ 'is-invalid': form.errors.has('password') }">
                                <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input v-model="form.password_confirmation" type="password" name="password_confirmation"
                                class="form-control" data-toggle="tooltip" data-placement="top" title="Usar una contraseña mayor a 6 digitos." placeholder="Confirmar contraseña" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                                <has-error :form="form" field="password_confirmation"></has-error>
                                </div>
                            </div>
                          </b-col>

                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-12 text-center">
                                <button @click.prevent="updateInfo" type="submit" class="btn btn-danger">Actualizar</button>
                              </div>
                            </div>
                          </form>
                        </b-row>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
              </div>
      <!-- /.row -->
          </div>
</template>

<script>
    export default {
        data(){
          return {
            estados:{},
            municipios:{},
            parroquias:{},
            form: new Form({
            id:'',
            name:'',
            nick:'',
            email:'',
            photo:'',
            password:'',
            password_confirmation:null,
            user_type_id:'',
            canal:'',
            cedula:'',
            nacionalidad:'',
            search:'',
            estado:'',
            municipio:'',
            parroquia:'',
            direccion:'',
            correoPersonal:'',
            tlfPersonal:'',
            tlfHabitacion:'',
            usertype:'',
            })
          }
        },
        mounted(){
          this.loadEstados();
        },

        created(){
          axios.get("api/perfil").then(({ data }) => (
            this.form.fill(data),
            this.loadMunicipiosPre(),
            this.loadParroquiasPre()
            ));
        },

        methods:{

          getProfilePhoto(){
            let photo = (this.form.photo.length > 100) ? this.form.photo : "images/perfil/"+ this.form.photo;
            return photo;
          },

          updateInfo(){
            this.$Progress.start()
            // this.$validator.validateAll().then((result) => {
            // if (result) {
            //   if(this.form.password == ''){
            //       this.form.password = undefined;
            //   }
            this.form.put('api/perfil').then((data) => {
              Fire.$emit('AfterCreate');
                  swal(
                      '¡Editado!',
                      'Tu perfil ha sido editado.',
                      'success'
                      )
                this.$Progress.finish();
              }).catch(() =>{
              toast({
                type: 'error',
                title: 'Verifique los datos ingresados.'
                })
                this.$Progress.fail();
              });
            },

          actPerfil(e){
          let file = e.target.files[0];
          let reader = new FileReader();
          let limit = 1024 * 1024 * 2;

          if(file['size'] > limit){
              return false;
          }
          reader.onloadend = (file) => {
              this.form.photo = reader.result;
          }
          reader.readAsDataURL(file);
        },
        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },
        loadEstados(){
          let url = 'api/estados';
          this.dynamicDropdown(url, 'estados')
        },
        loadMunicipios(){
          let url = 'api/municipios/'+this.form.estado;
          this.form.parroquia = '';
          this.form.municipio = '';
          this.dynamicDropdown(url, 'municipios')
        },
        loadParroquias(){
          let url = 'api/parroquias/'+this.form.municipio;
          this.form.parroquia = '';
          this.dynamicDropdown(url, 'parroquias')
        },
        loadMunicipiosPre(){
          let url = 'api/municipios/'+this.form.estado;
          this.dynamicDropdown(url, 'municipios')
        },
        loadParroquiasPre(){
          let url = 'api/parroquias/'+this.form.municipio;
          this.dynamicDropdown(url, 'parroquias')
        },
      }
    }
</script>
