/* CLASES CSS DE LA VISTA LOGIN VIT*/
a:link{
  text-decoration: none;
}

.login-block{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0074D9, #001f3f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0074D9, #001f3f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:center;
width:100%;
padding : 200px 0;
}
.logo-login{text-align: center; margin-top: -25px; margin-bottom: 25px;}
.margen-footer-vit{padding: 10px;}
.banner-sec{background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.efecto{background:#fff; border-radius: 10px; box-shadow:8px 8px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #e3342f; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
/*(FIN) CLASES CSS DE LA VISTA LOGIN VIT*/

/*FIX VISTA MASTER*/
.asidefix{opacity: 1 !important; margin-left: 0px !important;}

/*FIX PROBLEMA CON LA SIDE BAR DE LA IZQUIERDA A LA HORA DE ABRIR EL MODAL*/
/*.main-sidebar {z-index: 0 !important;}*/


/*FIX PARA EL BOTON DE SEARCH DE LA PAGINA DE ADM USUARIOS Y PROBLEMA CON EL SCROLLBAR AL ABRIR EL MODAL*/
.btn-default-fix {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}
  .modal-open{
  padding: 0 !important;
  overflow-y: auto;
}
 /*CLASES DEE LA VISTA DEL PERFIL*/
  .widget-user-header{
  background-position: center center;
  background-size: cover;
  height: 200px !important;
}
 .text-align-center{
	text-align: center;
}
/*IMPUT FILE DEL PERFIL*/
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Buscar" !important;
}
/*ACTIVE COLOR BARRA LATERAL*/
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  color: #ffffff;
  background-color: #007bff;
}
/*ACOMODANDO EL SELECT*/
/*.dropdown-toggle::after {border-right: 0 !important;border-left: 0 !important;}*/

/* Color de los botones activos */
.router-link-exact-active {
  background-color: #007bff;
  color: #FFFFFF !important;
}