<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
            <div class="col-md-12 mt-5">
                <passport-clients></passport-clients>
                <passport-authorized-clients></passport-authorized-clients>
                <passport-personal-access-tokens></passport-personal-access-tokens>
            </div>
            <div v-if="!$gate.esAdmin()">
                <seguridad></seguridad>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
