<template>
    <div>
        <div class="row justify-content-center no-print">
            <div class="col-md-12 mt-5">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-1">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">{{ this.titulo }}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><router-link to="/home"><p>Inicio</p></router-link></li>
                                <li class="breadcrumb-item active">SIPV</li>
                            </ol>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

                <Panelreception></Panelreception>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                titulo: 'Recepción y asignación',
            }   
        },
        mounted() {
            console.log('Vista cargada.')
        }
    }
</script>