<template>
    <div class="container-fluid">
        <div>
          <div class="row">
            <div class="col-3" v-b-tooltip.html title="<strong>Nota:</strong> Casos generados apartir de una Llamada y no han sido preasignados a un Tecnico">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-folder"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>En espera</strong></span>
                  <span class="info-box-number">{{count_waiting}}</span>
                </div>
              </div>
            </div>
            <div class="col-3" v-b-tooltip.html title="<strong>Nota:</strong> Casos ya Asignados o Re-Asignados a un Tecnico">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-folder-plus"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>Abierto</strong></span>
                  <span class="info-box-number">{{count_asig}}</span>
                </div>
              </div>
            </div>
            <div class="col-3" v-b-tooltip.html title="<strong>Nota:</strong> Casos Re-Abierto despues de su Posterior Cierre">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-folder-open"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>Re-Abiertos</strong></span>
                  <span class="info-box-number">{{count_reasig}}</span>
                </div>
              </div>
            </div>
            <div class="col-3" v-b-tooltip.html title="<strong>Nota:</strong> Casos ya Cerrados por el Tencnio o Supervisor">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-folder-minus"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><strong>Cerrados</strong></span>
                  <span class="info-box-number">{{count_closed}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form @submit.prevent>
        <div class="card">
          <div class="card-head">
            <div class="col-12 col-sm-12 col-md-12">
              <br>
              <form class="form-horizontal">
                <div class="form-inlile ml-3">
                  <div class="col-6">
                    <div class="input-group input-group-sm">
                      <div class="input-group col-md-12 mb-1">
                        <span class="input-group-text"><i class="fa fa-search" ></i></span>
                        <input class="form-control" v-model="searchCase"  @keyup="filterAutoCase()" type="text" id="searchCase" name="searchCase" placeholder="Buscar" aria-label="searchCase">
                      </div>
                    </div>
                  </div>
                  <div class="col-6"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-body">
            <!--TABLE PARA MOSTRAR DETALLES-->
            <div class="table-responsive table-hover">
              <table class="table m-0">
                <thead align="center">
                <tr>
                  <th>Nº de caso</th>
                  <th>Serial del equipo</th>
                  <th>Cliente</th>
                  <th>Estatus</th>
                  <th>Fecha</th>
                  <th>Opciones</th>
                  <th>Comentarios</th>
                </tr>
                </thead>
                <tbody>
                  <tr v-for="caso in casos" :key="caso.id">
                    <td>{{caso.numero_caso}}</td>
                    <td v-if="caso.serial_equipo != null">{{caso.serial_equipo}}</td>
                    <td v-if="caso.serial_equipo == null">
                      <button v-b-modal.add_serial @click="catchDat_serial(caso)" type="button" class="btn btn-link">S/N</button>
                    </td>
                    <td>
                      <div>
                        <button v-b-modal.detalles-cliente @click="modal_detClient(caso)" type="text" class="btn btn-light"><i class="fas fa-search-plus"></i></button>
                      </div>
                    </td>
                    <!-- <td><span class="badge badge-success">{{caso.case_status}}</span></td> -->
                    <div class="d-flex justify-content-center" v-if="caso.case_status == 'Abierto'">
                      <td><span class="badge badge-success">{{caso.case_status}}</span></td>
                    </div>
                     <div class="d-flex justify-content-center" v-if="caso.case_status == 'En espera'">
                      <td><span class="badge badge-warning">{{caso.case_status}}</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.case_status == 'Cerrado'">
                      <td><span class="badge badge-danger">{{caso.case_status}}</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.case_status == 'Aprobado'">
                      <td><span class="badge badge-primary">{{caso.case_status}}</span></td>
                    </div>
                    <!-- <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 2">
                      <td><span class="badge badge-success">{{caso.case_status}}</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 1">
                      <td><span class="badge badge-warning">En Espera</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 2 && caso.preasignacion == true">
                      <td><span class="badge badge-primary">Aprobado</span></td>
                    </div> -->
                    <!--<div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 3">
                      <td><span class="badge badge-danger">{{caso.case_status}}</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 4">
                      <td><span class="badge badge-secondary">{{caso.case_status}}</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 5">
                      <td><span class="badge badge-warning">{{caso.case_status}}</span></td>
                    </div>-->
                    <div class="d-flex justify-content-center" v-if="caso.fecha_recepcion">
                      <td><span class="badge badge-success">Recibido</span></td>
                    </div>
                     <div class="d-flex justify-content-center" v-if="!caso.fecha_recepcion">
                      <td><span class="badge badge-danger">No Recibido</span></td>
                    </div>
                    <td>{{caso.created_at}}</td>
                    <td>
                      <div class="btn-group btn-group-sm justify-content-center" role="group">
                        <div class="px-1">
                          <button v-b-modal.detalles-caso @click="modal_detCaso(caso)" type="button" class="btn btn-primary"><i class="fas fa-search-plus"></i></button>
                        </div>
                        <div class="px-1" v-if="caso.preasignacion != false">
                          <button v-b-modal.asig @click="modal_asig(caso)" type="button" class="btn btn-secondary"><i class="fas fa-user-cog"></i></button>
                        </div>
                        <div class="px-1" v-if="!caso.fecha_recepcion">
                          <button  @click="confirmar_recepcion(caso)" type="button" class="btn btn-success"><i class="fas fa-truck-loading"></i></button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div>
                        <button v-b-modal.comment @click="comments(caso)" v-show="$store.state.crear === 'crear'" type="text" class="btn btn-primary"><i class="fas fa-comment"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot align="center">
                  <ul class="pagination nav justify-content-center">
                    <li class="page-item" v-if="pagination.current_page > 1">
                      <a href="#" class="page-link" @click.prevent="changePage(pagination.current_page - 1)">
                        <span>Atras</span>
                      </a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '' ]">
                      <a href="#" class="page-link" @click.prevent="changePage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                      <a href="#" class="page-link" @click.prevent="changePage(pagination.current_page + 1)">
                        <span>Siguiente</span>
                      </a>
                    </li>
                  </ul>
                </tfoot>
              </table>
            </div>
            <!-- FIN PARA TABLE PARA MOSTRAR DETALLES-->

          </div>
        </div>

        <!--modal para mostrar comentarios del caso seleccioando-->
        <b-modal id="comment" ref="comment" centered size="xl" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
            <h4><strong>COMENTARIOS DEL CASO</strong></h4>
          </template>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Fecha y Hora</th>
                            <th>Usuario</th>
                            <th>Tipo</th>
                            <th>Comentario u Observacion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(coment, index) in comentarios.data" :value="coment.id" :key="index">
                            <td>{{coment.created_at}}</td>
                            <td>{{coment.usuario}}</td>
                            <td>{{coment.tipo.tipo}}</td>
                            <td>{{coment.comentario}}</td>
                             <td>
                       
                        <a href="#" @click="deleteComent(coment.id, index)" v-show="$store.state.borrar === 'borrar'"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                      <b-col>
                          <label>Tipo</label>
                          <select v-model="form.tipos" class="form-control excep custom-select" type="text" :class="{ 'is-invalid': form.errors.has('tipos')}">
                            <option v-for="tipos in tip_comment.data" :value="tipos.id" :key="tipos.id">{{tipos.tipo}}</option>
                          </select>
                          <has-error :form="form" field="tipos"></has-error>
                      </b-col>
                  </div>
                  <div class="form-group">
                    <b-col>
                      <div class="md-form">
                        <i class="fas fa-pencil-alt prefix"></i><b> Comentario</b>
                        <textarea v-model="form.comentario" id="comentario" class="md-textarea form-control excep" :class="{ 'is-invalid': form.errors.has('comentario')}" rows="3" name="Comentario" maxlength="140"></textarea><has-error :form="form" field="comentario"></has-error>
                      </div>
                    </b-col>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <button  @click="add_comment" type="submit" class="btn btn-success btn-circle"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <div class="d-flex justify-content-center">
                <pagination :data="comentarios" @pagination-change-page="getResults"></pagination>
              </div>
              <div  >
                <button class="btn btn-outline-danger" type="button" @click="cerrar">Cerrar</button>
                <button class="btn btn-success" @click="botton_comment()" href="#" data-target="#collapseOne" data-toggle="collapse" v-if="!show">Agregar</button>
                <button class="btn btn-primary" @click="botton_comment()" href="#" data-target="#collapseTwo" data-toggle="collapse" v-else>Mostrar</button>
              </div>
          </div>
        </b-modal>
        <!--modal para casos-->
        <b-modal id="detalles-caso" ref="detalles-caso" centered size="xl" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
           <h4><strong>DETALLES DEL CASO</strong></h4>
          </template>
          <div class="modal-body">
            <div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="numeroCaso" class="col-sm-6 control-label">Nº CASO</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><strong>#</strong></span>
                      </div>
                      <input v-model="this.numeroCaso" type="text" name="numeroCaso" class="form-control" id="numeroCaso" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="serialEquipo" class="col-sm-6 control-label">SERIAL</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                      </div>
                      <input v-model="this.serialEquipo" type="text" name="serialEquipo" class="form-control" id="serialEquipo" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="modeloEquipo" class="col-sm-6 control-label">MODELO DEL EQUIPO</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-desktop"></i></span>
                      </div>
                      <input v-model="this.modeloEquipo" type="text" name="modeloEquipo" class="form-control" id="modeloEquipo" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="operadorSoporte" class="col-sm-6 control-label">OPERADOR DE SOPORTE</label>
                    <div class="input-group col-sm-12"> 
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                      </div>
                      <input v-model="this.tecnico.name" type="text" name="operadorSoporte" class="form-control" id="operadorSoporte" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="formAtencion" class="col-sm-6 control-label">FORMA DE ATENCION</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-store"></i></span>
                      </div>
                      <input v-model="this.formAtencion" type="text" name="formAtencion" class="form-control" id="formAtencion" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="fallasPre" class="col-sm-6 control-label">FALLAS PRESENTADAS</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                      </div>
                      <textarea v-model="this.fallasPre" type="text" name="fallasPre" class="form-control" id="fallasPre" disabled></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="observacion" class="col-sm-6 control-label">OBSERVACION</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-eye"></i></span>
                      </div>
                      <textarea v-model="this.observacion" type="text" name="Observacion" class="form-control" id="observacion" disabled></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="piezasSug" class="col-sm-6 control-label">PIEZAS SUGERIDAS</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-desktop"></i></span>
                      </div>
                      <textarea v-model="this.piezasSug" type="text" name="PiezasSug" class="form-control" id="piezasSug" disabled></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="piezasSug" class="col-sm-6 control-label">FECHA DE RECEPCION</label>
                    <div class="input-group col-sm-12">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                      </div>
                      <textarea v-model="this.fecha_recepcion" type="text" name="PiezasSug" class="form-control" id="piezasSug" disabled></textarea>
                    </div>
                  </div>
                  <br><br>
                  <div class="form-group">
                    <button type="button" @click="cerrar" class="btn btn-danger btn-lg btn-block">CERRAR</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-modal>
        <!--modal para mostrar casos de clientes-->
        <b-modal id="detalles-cliente" ref="detalles-cliente" centered size="xl" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
            <h4><strong>DETALLES DEL CLIENTE</strong></h4>
          </template>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ciCliente" class="col-sm-6 control-label">CEDULA</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input v-model="this.ciCliente" type="text" name="ciCliente" class="form-control" id="ciCliente" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nombClient" class="col-sm-6 control-label">NOMBRES</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input v-model="this.nombClient" type="text" name="nombClient" class="form-control" id="nombClient" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="cellPrin" class="col-sm-6 control-label">TELEFONO PRINCIPAL</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                  </div>
                  <input v-model="this.cellPrin" type="text" name="cellPrin" class="form-control" id="cellPrin" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="emailPrin" class="col-sm-10 control-label">CORREO ELECTRONICO PRINCIPAL</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                  </div>
                  <input v-model="this.emailPrin" type="email" name="emailPrin" class="form-control" id="emailPrin" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="direccionClient" class="col-sm-2 control-label">Dirección</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marked-alt"></i></span>
                  </div>
                  <textarea v-model="this.direccionClient" type="text" name="DireccionClient" class="form-control" id="direccionClient" disabled></textarea>
                </div>
              </div>
            </div>
            <!--SEPARACION COLUMNAS TAB DETALLES CLIENTE-->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="apellClient" class="col-sm-6 control-label">APELLIDOS</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input v-model="this.apellClient" type="text" name="apellClient" class="form-control" id="apellClient" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="cellSecon" class="col-sm-6 control-label">TELEFONO SECUNDARIO</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-mobile"></i></span>
                  </div>
                  <input v-model="this.cellSecon" type="text" name="cellSecon" class="form-control" id="cellSecon" disabled>
                </div>
              </div>
              <div v-show="correo" class="form-group">
                <label for="emailSec" class="col-sm-10 control-label">CORREO ELECTRONICO SECUNDARIO</label>
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                  </div>
                  <input v-model="this.emailSec" type="email" name="emailSec" class="form-control" id="emailSec" disabled>
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <button type="button" @click="cerrar" class="btn btn-danger btn-lg btn-block">CERRAR</button>
              </div>
            </div>
          </div>
        </b-modal>
        <!--modal para mostrar asignar clientes-->
        <b-modal id="asig" ref="asig" centered size="xl" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
            <h4><strong>PRE-ASIGNACION DE TECNICO AL CASO</strong></h4>
          </template>
          <div class="modal-body">
            <div class="row">
              <div class="input-group input-group-lg">
                <div class="input-group col-md-12">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="sel_store">SELECCIONE TIENDA</label>
                  </div>
                  <select v-model="form.support_channel" @change="searchTec" class="browser-default custom-select form-control" type="text" name="support_channel" id="support_channel">
                    <option value="" disabled selected>TIENDAS</option>
                    <option v-for="support_channel in support_channels" :value="support_channel.id" :key="support_channel.id">{{ support_channel.nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Cedula</th>
                      <th>Correo</th>
                      <th>Seleccione</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="tecnico_id in users" :value="tecnico_id.id" :key="tecnico_id.id">
                      <td>{{tecnico_id.name}}</td>
                      <td>{{tecnico_id.cedula}}</td>
                      <td>{{tecnico_id.email}}</td>
                      <td>
                          <input id="tecnico_id.id" type="radio" :value="tecnico_id.id" v-model="check">
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-danger" @click="cerrar()">Cerrar</button>
            <button class="btn btn-success" @click="assing_user()">Agregar</button>
          </div>
        </b-modal>
        <b-modal id="add_serial" ref="add_serial" centered size="sm" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
            <h4><strong>AGREGAR SERIAL</strong></h4>
          </template>
          <div class="modal-body">
            <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
            <div class="input-group mb-3">
              <b-form-input type="text" v-model="form.serial_equipo" class="form-control" placeholder="Agregar Serial" aria-label="form.serial_equipo" :class="{ 'is-invalid': form.errors.has('serial_equipo')}"></b-form-input>
              <has-error :form="form" field="serial_equipo"></has-error>
              <div class="input-group-append">
                <button @click="add_serial" :state="status_serial" class="btn btn-primary" type="button"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger btn-block" @click="cerrar()">Cerrar</button>
          </div>
        </b-modal>
      </form>


        <!-- fin modal para casos-->
    </div>
</template>
<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import PDFObject from 'pdfobject'
export default {
  data(){
    return{
      tabIndex: 0,
      offset: 3,
      selected: null,
      nacionalidad: null,
      rif_emp: null,
      cedula: null,
      numero_caso: null,
      serial_equipo: null,
      status_serial: null,
      fecha_recepcion: null,
      users:'',
      tecnico: '',
      ciCliente:'',
      nombClient:'',
      apellClient:'',
      cellPrin:'',
      cellSecon:'',
      emailPrin:'',
      emailSec:'',
      direccionClient:'',
      numeroCaso:'',
      serialEquipo:'',
      formAtencion:'',
      modeloEquipo:'',
      fallasPre:'',
      observacion:'',
      piezasSug:'',
      searchCase:'',
      company_id:'',
      client_id:'',
      count_waiting:'',
      count_asig:'',
      count_reasig:'',
      count_closed:'',
      check:'',
      hide: true,
      correo:true,
      open: false,
      show: false,
      tip_comment:{},
      support_channels:{},
      comentarios:{},
      users:{},
      casos:{},
      doc: new jsPDF('a','mm', 'A4'),
      info_recibo:null,
      array_info_recibo:[],   
      pagination:{
        'total':0,
        'current_page':0,
        'per_page':0,
        'last_page':0,
        'from':0,
        'to':0,
      },
      form: new Form({        
        support_channel:'',
        tecnico_id:'',
        fecha_recepcion:'',
        id:'',
        cedula: null,
        nacionalidad: null,
        rif_emp: null,
        tipo_emp: null,
        serial_equipo: null,
        tipos: null,
        comentario: null,
        numero_caso: null,
        value:[],
      })
    }
  },

  created(){

   this.$store.commit('increment')
    // this.$store.dispatch('cambio')
    this.loadSupportCh_Reception();
    this.loadAuto_Case();
    this.loadTipo_Comentario();
    this.Autoload_waiting();
    this.Autoload_asig();
    this.Autoload_reasig();
    this.Autoload_closed();
    Fire.$on('AfterCreate',() => {
      this.loadSupportCh_Reception();
      this.loadAuto_Case();
      this.loadTipo_Comentario();
      this.Autoload_waiting();
      this.Autoload_asig();
      this.Autoload_reasig();
      this.Autoload_closed();
    });
  },

  computed: {
    isActived: function(){
      return this.pagination.current_page;
    },
    pagesNumber: function(){
      if(!this.pagination.to){
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if(from < 1){
        from = 1;
      }

      var to= from + (this.offset * 2); //TODO
      if(to >= this.pagination.last_page){
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while(from <= to){
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },

  methods: {


    deleteComent(id, index){
     
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/comentario/'+id).then(() => {
                
                swal(
                  '¡Eliminado!',
                  'El comentario ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
           this.comentarios.data.splice(index, 1) //hecho aqui
          }
        })
      },

      getResults(page = 1) {
        this.form.post('api/RecepComent?page=' + page)
          .then(response => {
            this.comentarios = response.data;
          });
      },
      toggleModal(){
        this.modal = !this.modal
      },
      botton_comment() {
        this.show =  !this.show
      },
      cerrar(){
        this.$refs['detalles-cliente'].hide()
        this.$refs['detalles-caso'].hide()
        this.$refs['asig'].hide()
        this.$refs['comment'].hide()
        this.$refs['add_serial'].hide()
        //CORRELACCION DE ID ESPECIFICO
        this.form.support_channel = '';
        this.form.tecnico_id = '';
        this.users = '';
        this.form.id = '';
        //DETALLES DE CLIENTE
        this.apellClient = '';
        this.nombClient = ''
        this.cellPrin = '';
        this.cellSecon = '';
        this.ciCliente = '';
        this.direccionClient = '';
        this.emailPrin = '';
        this.emailSec = '';
        this.formAtencion = '';
        this.modeloEquipo = '';
        this.numeroCaso = '';
        this.observacion = '';
        this.correo = true;
        //COMENTARIO 
        this.show = false;
        this.form.comentario = '';
        this.form.tipos = '';
        //AGREGAR SERIAL
        this.form.numero_caso = '';
        this.form.serial_equipo = '';
        this.tecnico = '';
      },
      loadSupportCh_Reception(){
        axios.get('api/support_channels').then(({ data }) => (this.support_channels = data));
      },
      loadAuto_Case(page){
        axios.get('api/loadAuto_Case?page='+page).then(({ data }) => (
          this.casos = data.Search_case.data,
          this.pagination = data.pagination
        ));
      },
      loadTipo_Comentario(){
        axios.get('api/tipo_comentario').then(({ data }) => (this.tip_comment = data));
      },
      Autoload_waiting(){
        axios.get('api/autoload_waiting').then(({ data }) => (this.count_waiting = data));
      },
      Autoload_asig(){
        axios.get('api/autoload_asig').then(({ data }) => (this.count_asig = data));
      },
      Autoload_reasig(){
        axios.get('api/autoload_reasig').then(({ data }) => (this.count_reasig = data));
      },
      Autoload_closed(){
        axios.get('api/autoload_closed').then(({ data }) => (this.count_closed = data));
      },
      searchTec(){
        axios.get('api/searchTec/'+this.form.support_channel).then((response) => (this.users = response.data));
      },
      modal_asig(caso){
        this.form.id = caso.id;
      },
      comments(caso){
        console.log(caso)
        //let c = caso.numero_caso;
        this.form.numero_caso = caso.numero_caso;
        //console.log(c);//this.form.post('api/RecepComent/'+c).then(({ data }) => (this.comentarios = data));
        this.form.post('api/RecepComent').then(({ data }) => (this.comentarios = data));

      },
      confirmar_recepcion(caso){
        swal({
          title: '¿Estás seguro/a de haber recibido el equipo?',
          text: "¡No podrás revertir esto!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirmar'
          })
        .then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.put("api/confirmarRecepcion/"+caso.id).then(() => {
                swal(
                  'Confirmado!',
                  'La recepcion del equipo se ha confirmado exitosamente',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.crearReciboRecepcion(caso);
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
          }
        })
      },

      crearReciboRecepcion(caso){
        if (caso.tecnico_id) {
          this.procesarPDF(caso);
        }
        else{
          swal(
              'Error',
              'Por favor asigne primero un técnico',
              'error'
            )
        }
      },

      /* ********* FUNCIONES DE ELABORACION DEL PDF DE REPORTE ********** */

      procesarPDF(caso) {
        this.doc = new jsPDF('a','mm', 'A4');

        axios.get('api/crearRecibo/'+caso.id).then((response) => {
              this.info_recibo = response.data;
              PDFObject.embed(this.crearPDF(), "#vista-pdf", {height: "40rem", width: "90%"});
        });

        /*this.reporte.post('/api/crear_reporte_inventario').then((response) => {
          this.info_reporte = response.data;
          PDFObject.embed(this.crearPDF(), "#vista-pdf", {height: "40rem", width: "90%"});
        });*/

      },
      iterar_info_pdf(item, index) {
        // El controlador devuelve la información en un json como un objeto, esta función itera cada uno de las propiedades para convertir el objeto en un array
        this.array_info_recibo.push(
          [[
            item.modelo, 
            item.serial, 
            item.caso, 
            item.modo_atencion, 
            item.tecnico
          ]],
          [[ 
            item.nombre_cliente, 
            item.cedula_cliente,
            item.telefono_cliente,
          ]])
      },
      crearPDF(){
        this.array_info_recibo = [];
        this.info_recibo.forEach(this.iterar_info_pdf)
        this.redactarPDF()
        //return this.doc.output('datauristring');//  <---- Esta función manda el url para que se vea en la vista
        return this.doc.output('dataurlnewwindow');// <---- Esta función lo abre directamente en otra ventana
      },
      redactarPDF(){
        // Variables de diseño de página
        var ancho_de_pagina = this.doc.internal.pageSize.width;
        var largo_de_pagina = this.doc.internal.pageSize.height;
        var titulo_informe = "NOTA RECEPCION DE EQUIPO: ";

        var cabecera_tabla_equipo = [['Modelo', 'Serial', 'Caso',' Garantia', 'Tecnico']]
        var cabecera_tabla_cliente = [['Persona de Contacto', 'Cedula', 'Telefonos']]

        const CUERPO_NOTA_RECEPCION = "Por medio de la presente se hace constar que el equipo abajo mencionado ha sido entregado por parte del usuario al personal de la empresa."
        const TERMINOS = "IMPORTANTE:\n1.La recepción del equipo en el centro de soporte técnico genera un cobro por hora de servicio correspondiente al diagnostico del equipo.\n2.Solo el titular del equipo está autorizado para la entrega del equipo, para el retiro del equipo sí el titular no puede asistir debe notificar al 0800 infovit de la persona autorizada a retirar el equipo con la nota de recepción.\n3.Los equipos sin garantía serán reparados luego de conformado el pago por la pieza presupuestada.\n4.Después de 90 días, Venezolana de Industria Tecnológica. C.A (VIT) tendrá derecho a disponer del equipo y de sus partes como retribución convencional de los gastos de reparación y/o revisión por presupuesto, cuidado, depósito y prejuicios que ha generado como incumplimiento e el retiro del equipo o pieza reparada o devuelta, sin que el mismo tenga derecho a indemnización alguna.\n5. El límite de garantía será de tres (3) meses a partir de la fecha de reparación del equipo, sin embargo Venezolana de Industria Tecnológica. C.A (VIT), se reserva el derecho de reducirla en equipos expuestos a uso muy intenso."

        this.doc.setFont('Nunito-Regular');
        this.doc.setProperties({
        title: "Recibo",
        subject: 'Nota de recepcion de equipo',
        author: "VIT",
        keywords: 'Postventa, VIT',
        creator: 'VIT'
        });

        this.doc.setFontSize(10)
        this.doc.text("EQUIPO A REPARAR", ancho_de_pagina/2, 66, 'center')

        // TABLA PRESUPUESTO

          this.doc.autoTable({  
              startY: 70,
              margin:{
                  top:30
              },
              theme: 'plain', 
              head: cabecera_tabla_equipo,
              body: this.array_info_recibo[0],
              headStyles: { font: "Nunito-Bold"},
              styles: {font: "Nunito-Regular"},
              alternateRowStyles: {
              fillColor: [201, 201, 201],
              },          
          })


          var finalY = this.doc.lastAutoTable.finalY+20;

          this.doc.setFontSize(10)
          this.doc.text("DATOS DEL CLIENTE", ancho_de_pagina/2, finalY-4 , 'center')

          this.doc.autoTable({  
              startY: finalY,
              margin:{
                  top:30
              },
              theme: 'plain', 
              head: cabecera_tabla_cliente,
              body: this.array_info_recibo[1],
              headStyles: { font: "Nunito-Bold"},
              styles: {font: "Nunito-Regular"},
              alternateRowStyles: {
              fillColor: [201, 201, 201],
              },

              //Funcion que permite agregar información una vez formateada la tabla en la respectiva página, útil para cabeceras, pies de páginas e información adicional

              didDrawPage: (data) => {
              let cursorY = data.cursor.y
              // CABECERA 
              this.doc.setFont('Nunito-Regular');
              this.doc.setFontSize(15);
              this.doc.rect(1, 1, ancho_de_pagina-2, 20);
              this.doc.text("VENEZOLANA DE INDUSTRIA TECNOLÓGICA, C.A", ancho_de_pagina/2, 10, 'center')
              this.doc.setFontSize(10);
              this.doc.text("RIF: G-20009831-1", ancho_de_pagina/2, 15, 'center')
              this.doc.text("SOPORTE DE POST VENTA", ancho_de_pagina/2, 19, 'center')
              //this.doc.setFont('Nunito-Bold', 'bold');
              //this.doc.text("Numero de Presupuesto: "+this.info_pdf.cabecera_pdf.numero_presupuesto, 60+ancho_de_pagina/2, 27, 'center')
              this.doc.setFont('Nunito-Regular', 'normal');
              this.doc.setFontSize(9);
              this.doc.text("El Computador Bolivariano", ancho_de_pagina/2, 24, 'center')
              this.doc.text("Fecha: "+this.info_recibo[0].fecha, ancho_de_pagina-20, 34, 'center')
              this.doc.setFontSize(12);
              this.doc.text("NOTA DE RECEPCION DE EQUIPO", ancho_de_pagina/2, 34, 'center')
              this.doc.text(this.doc.splitTextToSize(CUERPO_NOTA_RECEPCION, ancho_de_pagina-30), 15, 44, 'left');
              // CABECERA FIN
              // PIE DE PAGINA
              this.doc.setFontSize(9)
              this.doc.text("Observación: "+this.doc.splitTextToSize(this.info_recibo[0].observacion, ancho_de_pagina-30), 15, cursorY+20, 'left');
              this.doc.text(this.doc.splitTextToSize(TERMINOS, ancho_de_pagina-30), 15, cursorY+28, 'left');
              this.doc.text("Firman conformes: ", 15, largo_de_pagina-50, 'left')
              this.doc.text("ENTREGA: ", 50, largo_de_pagina-36, 'center')
              this.doc.text("RECIBE: ", ancho_de_pagina-50, largo_de_pagina-36, 'center')
              this.doc.setDrawColor(0,0,0)
              this.doc.line(35.5,largo_de_pagina-16,65.5,largo_de_pagina-16)
              this.doc.line(ancho_de_pagina-35.5,largo_de_pagina-16,ancho_de_pagina-65.5,largo_de_pagina-16)
              this.doc.text(this.info_recibo[0].nombre_cliente, 50, largo_de_pagina-10, 'center')
              this.doc.text("Lucia Perozo", ancho_de_pagina-50, largo_de_pagina-10, 'center')
              // PIE DE PAGINA FIN
              },
          })
      },

      add_comment(caso){
        this.$Progress.start()
        console.log(this.form.numero_caso)
        this.form.post('api/add_comment').then(({ data }) => {
          Fire.$emit('AfterCreate');
            swal(
              'Éxito',
              '¡Su comentario ya fue agregado!',
              'success'
            )
            this.$Progress.finish();
            this.form.comentario = '';
            this.form.tipos = '';
            this.form.post('api/RecepComent').then(({ data }) => (this.comentarios = data));
        });
        //this.comments(caso);
        //console.log(this.form.comentario+'---'+this.form.tip_comments+'---'+this.form.num_case);
      },
      catchDat_serial(caso){
        this.form.numero_caso = caso.numero_caso;
        //console.log(this.form.numero_caso);
      },
      add_serial(catchDat_serial){
        if((this.form.serial_equipo === null)||(this.form.serial_equipo === "")){
          this.status_serial = null;
        }else{
          this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
            this.status_serial = true;
            if(this.status_serial === true){
              this.form.post('api/add_serial').then(({ data }) => {
                Fire.$emit('AfterCreate');
                  swal(
                    'Éxito',
                    '¡Serial Agregado Exitosamente!',
                    'success'
                  )
                  this.$Progress.finish();
              });
            }
          }).catch(() => {
            this.status_serial = false;
          });
        }
      },
      filterAutoCase(page){
            let e = this.searchCase;
            if (e == ''){
              e = "vacio"}
            axios.get('api/filterAutoCase/'+e+'?page='+page).then(({ data }) => {
              this.casos = data.Search_case.data,
              this.pagination = data.pagination
        });
      },
      modal_detClient(caso){
        if(caso.company_id == null){
          this.ciCliente = caso.cedula;
          this.nombClient = caso.nombres;
          this.apellClient = caso.apellidos;
          this.cellPrin = caso.tlf1;
          this.cellSecon = caso.tlf2;
          this.emailPrin = caso.email1;
          this.emailSec = caso.email2;
          this.direccionClient = caso.direccion;
            toast({type:'info',title:'Detalles'})
        }
        if(caso.client_id == null){
          this.ciCliente = caso.rif_emp;
          this.nombClient = caso.nombre_emp;
          this.apellClient = caso.nombre_se;
          this.cellPrin = caso.tlf1_emp;
          this.cellSecon = caso.tlf2_emp;
          this.emailPrin = caso.email_emp;
          this.direccionClient = caso.direccion_emp;
          this.correo = false;
            toast({type:'info',title:'Detalles'})
        }
      },
      modal_detCaso(caso){
        this.numeroCaso = caso.numero_caso;
        this.serialEquipo = caso.serial_equipo;
        this.formAtencion = caso.tipo_atencion;
        this.modeloEquipo = caso.modelo_equipo;
        this.fallasPre = caso.falla_equipo;
        this.observacion = caso.obser_caso;
        this.piezasSug = caso.piezas_sugeridas;
        var fecha = new Date(caso.fecha_recepcion)
        console.log(fecha)
        this.fecha_recepcion = fecha.toLocaleDateString("es-ES", { year: 'numeric', month: 'long', day: 'numeric' })
        if (caso.tecnico_id) {
          axios.get('api/indexTecnico/'+caso.tecnico_id).then(({ data }) => (this.tecnico = data));
        }
        this.id = caso.id;
          toast({type:'info',title:'Detalles'})
      },
      assing_user(){
        let check = this.check
        let id = this.form.id
        //console.log(check,id);
        this.$Progress.start()
        this.form.put('api/asigTec/'+id+'/'+check).then(({ data }) => {
          Fire.$emit('AfterCreate');
            swal(
                'Éxito',
                '¡Tecnico Asignado!',
                'success'
              )
            this.$Progress.finish();
            this.$refs['asig'].hide()
            this.form.support_channel = '';
            this.form.tecnico_id = '';
            this.form.id = '';
            this.check = '';
        });
      },
      changePage: function(page){
        this.pagination.current_page = page;
        this.loadAuto_Case(page);
      }
    }
  };
</script>
<style lang="css" scoped>

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
</style>