<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="container-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6 mt-2">
                <h2 class="m-0 text-dark">{{ this.titulo }}</h2>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                  <li class="breadcrumb-item active">Página principal</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        <tecnico></tecnico>
        </div>
        <!-- /.content-header -->
    </div>
</template>

<script>
    export default {
      data(){
        return{
          titulo: 'Dashboard Usuario Técnico',
        }
      },
        mounted() {
            console.log('Vista cargada.')
        },
    }
</script>