<template>
    <div class="container">
        <div class="row justify-content-center" v-if="$gate.esAdmin()">
            <div class="col-md-12 mt-5">

                <div class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Inventario de Partes y Piezas</h1>
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><router-link to="/home"><p>Inicio</p></router-link></li>
                          <li class="breadcrumb-item active">SIPV Bonito</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <!-- SEARCH FORM -->
                    <div class="form-inline ml-3">
                      <div class="input-group input-group-sm"> 
                        <input class="form-control form-control-navbar" @keyup="buscar" v-model="form.search" type="search" placeholder="Buscar" aria-label="Search">
                        <div class="input-group-append">
                          <button class="btn btn-default-fix">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div> 
                    </div>
                    <div class="card-tools">
                        <a class="btn btn-success" href="#" @click="createPieceModal"><i class="fas fa-box-open fs-fw"></i>&nbsp;zdfzsfzsf Parte/Pieza</a>
                    </div>
                  </div>

                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <tbody>
                      <tr>
                        <th>Código / NP</th>
                        <th>Serial</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>condición</th>
                        <th>Procedencia</th>
                        <th>Editar</th>
                      </tr>

                        <tr v-for="pp in ppList.data" :value="pp.id" :key="pp.id" v-show="(pp.pp_status === true)">
                        <td>{{ pp.pp_np }}</td>
                        <td v-if="(pp.pp_serial === null)"><i class="fas fa-ban"></i></td>
                        <td v-else>{{ pp.pp_serial }}</td>
                        <td>{{ pp.pp_tipo }}</td>
                        <td>{{ pp.pp_description }}</td>
                        <td>{{ pp.pp_cantidad }}</td>
                        <td>{{ pp.pp_cond | upText}}</td>
                        <td>{{ pp.origin | upText }}</td>
                        <td>
                            <a href="#" @click="updatePieceModal(pp)"><i class="btn btn-primary fa fa-pen blue"></i></a>
                            <a href="#" @click="deletePiece(pp.id)"><i class="btn btn-danger fa fa-trash red"></i></a>
                        </td>
                      </tr>
                    </tbody></table>

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <pagination :data="ppList" @pagination-change-page="getResults">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                  </div>
                </div>

            </div>
        </div>

        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-open" id="Piece" tabindex="-1" role="dialog" aria-labelledby="PieceLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 v-show="!editmode" class="modal-title" id="PieceLabel">Registar Parte/Pieza</h5>
                <h5 v-show="editmode" class="modal-title" id="PieceLabel">Editar Pieza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form @submit.prevent="editmode ? updatePiece() : createPiece()">
              <div class="modal-body">
                <div class="form-group">
                  
                  <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 

                  <select v-model="form.ppcategory" @change="loadppSubCategories" type="text" name="offpp1" id="offpp1" 
                    class="form-control" :class="{ 'is-invalid': form.errors.has('ppcategory') }">
                    <option value="" selected disabled hidden>Seleccione una categoría</option>
                    <option v-for="ppcategory in ppcategories" :value="ppcategory.id" :key="ppcategory.id">
                      {{ ppcategory.name }}
                    </option>
                  </select>
                  <has-error :form="form" field="ppcategory"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.pp_description_id" type="text" name="offpp2" id="offpp2"
                   class="form-control" :class="{ 'is-invalid': form.errors.has('pp_description_id') }" disabled="true">
                    <option value="" selected disabled hidden>Seleccione una sub categoría</option>
                    <option v-for="ppdescription in ppdescriptions" :value="ppdescription.id" :key="ppdescription.id">
                      {{ ppdescription.pp_description }}
                    </option>
                  </select>
                  <has-error :form="form" field="pp_description_id"></has-error>
                </div>
                
                <div class="form-group">
                  <select v-model="form.tipo_registro" type="text" name="offppc" id="offppc"
                   class="form-control" :class="{ 'is-invalid': form.errors.has('tipo_registro') }" disabled="false">
                    <option value="" selected disabled hidden>Seleccione tipo de registro</option>
                    <option v-show="(form.pp_cantidad === '' && editmode != true)" value="1">Serial</option>
                    <option v-show="(form.pp_serial === '' && editmode != true)" value="2">Cantidad</option>
                  </select>
                  <has-error :form="form" field="tipo_registro"></has-error>
              </div>

                <div v-if="(form.tipo_registro == 1)" class="form-group">
                  <input v-model="form.pp_serial" type="text" name="pp_serial"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_serial') }" placeholder="Serial de la pieza">
                <has-error :form="form" field="pp_serial"></has-error>
                </div>

                <div v-if="(form.tipo_registro == 2)" class="form-group">
                  <input v-model="form.pp_cantidad" type="number" min="1" oninput="validity.valid||(value='');" name="CantidadPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_cantidad') }" placeholder="Cantidad">
                <has-error :form="form" field="pp_cantidad"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.pp_cond" type="text" name="EstadoPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('pp_cond') }" placeholder="Indique el estado">
                    <option value="" selected disabled hidden>Indique el estado</option>
                    <option value="nuevo">Nuevo</option>
                    <option value="usado">Usado</option>
                  </select>
                  <has-error :form="form" field="pp_cond"></has-error>
                </div>

                <div class="form-group">
                  <select v-model="form.origin_id" type="number" name="ProcPieza"
                    class="form-control" :class="{ 'is-invalid': form.errors.has('origin_id') }">
                    <option value="" selected disabled hidden>Procedencia</option>
                    <option v-for="pporigin in pporigins" :value="pporigin.id" :key="pporigin.id">
                      {{ pporigin.origin }}
                    </option>
                  </select>
                  <has-error :form="form" field="origin_id"></has-error>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                <button v-show="!editmode" type="submit" class="btn btn-success">Crear</button>
                <button v-show="editmode" type="submit" class="btn btn-primary">Editar</button>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return{
                editmode:false,
                ppcategories:[],
                ppdescriptions:[],
                pporigins:[],
                ppList:{},
                form: new Form({
                    id:'',
                    ppcategory:'',
                    pp_description_id:'',
                    pp_serial:'',
                    pp_cantidad:'',
                    pp_cond:'',
                    origin_id:'',
                    search:'',
                    tipo_registro:'',
                    respuesta:'',
                    search:'',
                    pp_np:'',
                })
            }
        },
        mounted(){
          this.loadppCategories();
          this.loadOrigins();
        },
        created(){
          Fire.$on('searching',() =>{
            this.$Progress.start();
            let query = this.form.search;
            axios.get('api/findPiece?q=' + query)
            .then((data) => {
              this.ppList = data.data;
              console.log(this.ppList);
              this.$Progress.finish();
            })
            .catch(() =>{
              this.$Progress.fail();
            })
          })
          this.loadPieces();
          Fire.$on('AfterCreate',() => {
          this.loadPieces();
          });
        },
        methods:{

        loadppCategories(){
          $('#offpp1').change(function(){
            $('#offpp2').removeAttr('disabled');
          });
          let url = 'api/ppcategories';
          this.dynamicDropdown(url, 'ppcategories')
        },

        loadppSubCategories(){
          let url = 'api/ppdescriptions/'+this.form.ppcategory;
          this.form.pp_description_id = '';
          this.dynamicDropdown(url, 'ppdescriptions')
        },
        
        loadOrigins(){
          let url = 'api/pporigins';
          this.dynamicDropdown(url, 'pporigins')
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        buscar:_.debounce(() => {
          Fire.$emit('searching');
        },500),

        loadPieces(){
          axios.get("api/pieces").then(({ data }) => (this.ppList = data));
        },
        getResults(page = 1) {
          axios.get('api/pieces?page=' + page)
            .then(response => {
              this.ppList = response.data;
            });
          },
        deletePiece(id){
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar'
          }).then((result) => {
            if(result.value){
              this.$Progress.start();
              this.form.delete('api/pieces/'+ id).then(() => {
                swal(
                  '¡Eliminada!',
                  'La pieza ha sido eliminada.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();
              }).catch(() => {
                swal('¡Error!', 'Algo salio mal', 'warning');
                this.$Progress.fail();
              });
            }
          })
        },
        createPiece(){
          this.$Progress.start();
          if(this.form.pp_serial != ''){this.form.pp_cantidad = 1;}
          if(this.form.pp_cantidad > 1){this.form.pp_serial = '';}
          this.form.post('api/pieces')
          .then((data) => {
            this.form.respuesta = data.data[0];
              this.$Progress.finish();
              if(this.form.respuesta === 'existe'){
                swal({
                title: '¡Pieza ya existente!',
                text: "¿Quieres adicionarle esta cantidad?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Agregar'
            }).then((result) => {
                if(result.value){
                  this.form.respuesta = 'si';
                  this.form.post('api/pieces').then(() => {
                  this.form.reset();
                  Fire.$emit('AfterCreate');
                  $('#Piece').modal('hide');
                    swal(
                      '¡Carga exitosa!',
                      'El total de la pieza ha sido modificado.',
                      'success'
                      )
                  this.$Progress.finish();
                  }).catch(() => {
                    swal('¡Error!', 'Algo salio mal', 'warning');
                    this.$Progress.fail();
                  });
                }else{
                this.form.reset();
                toast({
                  type: 'info',
                  title: 'No ha habido cambios.'
                  })
                  this.$Progress.finish(); 
                }
              })
            }else{
              this.form.reset();
              Fire.$emit('AfterCreate');
              $('#Piece').modal('hide');
              swal(
                '¡Creación exitosa!',
                'Pieza creada con éxito.',
                'success'
                )
                this.$Progress.finish();
              }
            })
          .catch(() => {
            this.form.pp_cantidad = '';
            this.form.respuesta = '';
            this.$Progress.fail()
            toast({
            type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
          });
        },
        updatePiece(){
          this.$Progress.start();
          this.form.put('api/pieces/'+this.form.id)
          .then(() => {
            $('#Piece').modal('hide')
            swal(
                  '¡Editado!',
                  'La pieza ha sido editada.',
                  'success'
                  )
            Fire.$emit('AfterCreate');
            this.$Progress.finish();
          })
          .catch(() => {
            toast({
              type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
            this.$Progress.fail();
          });
        },
        createPieceModal(){
          this.editmode = false;
          this.form.reset();
          $('#offppc').attr('disabled', false);
          $('#offpp2').attr('disabled', true);
          $('#Piece').modal('show');
        },
        updatePieceModal(ppList){
          this.editmode = true;
          this.form.reset();
          this.form.fill(ppList);
          if(this.form.pp_cantidad > 1){this.form.tipo_registro = 2;}else{this.form.tipo_registro = 1;}
          console.log(ppList);
          this.form.ppcategory = ppList.pp_category_id;
          this.loadppSubCategories();
          this.form.pp_description_id = ppList.pp_description_id;
          $('#offpp2').attr('disabled', false);
          $('#offppc').attr('disabled', true);
          $('#Piece').modal('show');
        }
      },
    }
</script>
