<template>
  <div>
    <!-- Infobox -->
    <div class="row" v-show="dom">
      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Casos asignados a un operador técnico para su atención.">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-flag"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Asignados</span>
              <span class="info-box-number">{{ 0 }}</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Es el caso en el cual un equipo cuenta con una garantía valida.">
        <div class="info-box mb-4">

          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-check"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Con garantía</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Es el caso en el cual un equipo pasa el tiempo definido en su garantía.">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-exclamation-circle"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Sin garantía</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Casos en los que el presupuesto ha sido pagado.">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-double"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Pagado</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Casos en los que el tiempo estipulado en el presupuesto se ha expirado.">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-times"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Expirado</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2" v-b-tooltip.html title="<strong>Nota:</strong> Casos en los que el tiempo de atención ha sobrepasado el estipulado.">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-calendar-times"></i></span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Sin atención</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- Infobox (FIN) -->

    <form class="form-horizontal" v-show="dom">
      <!-- Bandeja de presupuestos en espera -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Bandeja de casos en espera de presupuesto</h3>

          <div class="card-tools">
            <!--  -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th scope="col">Numero de caso</th>
                  <th scope="col">Serial del equipo</th>
                  <th scope="col">Modelo del equipo</th>
                  <th scope="col">Diagnostico Técnico</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                  <th scope="col">Comentarios</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="diagnostico in diagnosticos.data" :key="diagnostico.id">
                  <template v-if = "diagnostico.diagnostico_caso.length ">
                    <td>{{diagnostico.numero_caso}}</td>
                    <td>{{diagnostico.serial_equipo}}</td>
                    <td>{{diagnostico.modelo_equipo}}</td>
                    <td>{{diagnostico.diagnostico_caso[0].diagnostico_caso}}</td>
                   <div class="d-flex justify-content-center" v-if="diagnostico.estado_caso_id == 2">
                      
                      <td><span class="badge badge-warning">En espera</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-else-if="diagnostico.estado_caso_id == 1">
                      <td><span class="badge badge-success">Abierto</span></td>
                    </div>
                    <td>{{diagnostico.updated_at}}</td>
                    <td><button v-b-modal.diagnostico type="button" class="btn btn-primary" @click="diagnosticoModal(diagnostico)"><i class="fas fa-file-invoice-dollar"></i></button>
                    </td>
                    <td>
                      <a class="btn btn-primary" href="#" v-b-modal.Comentario @click="ComentarioModalDiagnostico(diagnostico)"><i class="fas fa-comment"></i></a>
                    </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix" style="display: block;">
        <!--  -->
         <pagination :data="diagnosticos" @pagination-change-page="getResults2">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
        </pagination>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- Bandeja de presupuestos en espera (FIN) -->

    <!-- Modal para el diagnóstico -->
    <b-modal id="diagnostico" ref="diagnostico" centered size="xl" hide-footer no-close-on-backdrop>
      <template slot="modal-header" slot-scope="{ close }">
        <h5 id="BuscarCasoLabel" class="modal-title">Numero de Caso: <b>{{ form.numero_caso }}</b> - <b>{{ form.datosCliente }}</b></h5>
      </template>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label>Serial del equipo</label>
            <input disabled  v-model="form.serial_equipo" type="text" readonly="readonly" class="form-control" placeholder="Serial del Equipo" :class="{ 'is-invalid': form.errors.has('serial_equipo') }">
          </div>
          <div v-show = "manage">
            <div class="form-group">
              <label>Seleccione un Almacen</label>
              <select class="custom-select"   @change="onChange()" v-model="form.almacen">
                <option :value="null" disabled="true">Seleccione un almacén</option>
                <option v-for ="almacen in almacenes" :key="almacen.id">{{ almacen.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Seleccione una Pieza</label>
              <select  v-model="form.pieza" id="pieza" class="form-control custom-select"  disabled="true" @change="onChange2()" :class="{ 'is-invalid': form.errors.has('pieza')}">
                <option v-for="pieza in piezas" :key="pieza.id" v-if="pieza.pieza !==null">
                {{ pieza.pieza.nombre+' - '+pieza.numero_parte.pn }}</option>
              </select>
              <has-error :form="form" field="pieza"></has-error>
            </div>         
          </div>
          <div class="table-responsive">
          <table class="table table-striped table-light">
            <thead v-show = "piece">
              <tr>
                <th scope="col">Pieza</th>
                <th scope="col">Numero de Parte</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="inventario in inventarios" :key="inventario.id">
                <td>{{ inventario.pieza.nombre }}</td>
                <td>{{ inventario.numero_parte.pn }}</td>
                <td>{{ cantidadPieza }}</td>
                  <button @click="cantidadPiecePlus()" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                  <button @click="cantidadPieceMinus" type="button" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                  <button id="boton-agregar-pieza" type="button" @click="agregarPieza" class="btn btn-success"><i class="fa fa-check"></i></button>
                  <b-tooltip :show.sync="tooltip_precio" triggers="click blur" target="boton-agregar-pieza" variant="danger" placement="right">
                    La pieza seleccionada<strong> no tiene un precio asignado</strong>
                  </b-tooltip>
                  <button type="button" @click="quitarPieza" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </tr>
          </tbody>
        </table>
        </div>
        <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
        <div class="table-responsive">
          <table class="table table-striped table-light">
              <thead v-show="piece2">
                <tr>
                  <th scope="col">Pieza</th>
                  <th scope="col">Numero de Parte</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio Unit</th>
                  <th v-show = "manage" scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="arreglo in arregloStock" :key="arreglo.id">
                  <td><span>{{ arreglo.piezas }}</span></td>
                  <td><span class="badge badge-light">{{ arreglo.np_piezas }}</span></td>
                  <td><span>{{ arreglo.cant_piezas }}</span></td>
                  <td><span>{{ arreglo.precio_piezas }}</span></td>
                    <button v-show = "manage" type="button" @click="quitarPiezaSelected(arreglo)" class="btn btn-danger"><i class="fa fa-times"></i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Modelo del equipo</label>
        <input disabled v-model="form.modelo_equipo" type="text" readonly="readonly" class="form-control" placeholder="Modelo del equipo" :class="{ 'is-invalid': form.errors.has('cedula') }">
      </div>
        <label>Observaciones del presupuesto</label>
        <div class="form-group">
          <b-form-textarea
          id="textarea"
          v-model="form.presupuesto"
          size = "1"
          maxlength="140"
          placeholder="Observación general del presupuesto..."
          rows="6"
          max-rows="1"
          :class="{ 'is-invalid': form.errors.has('presupuesto')}">
          </b-form-textarea><has-error :form="form" field="presupuesto"></has-error>
        </div>
      </div>
    </div>
    <div class="card-footer clearfix" >
      <div class="row">
        <div class="col-sm-6">
          <button  @click="crearPresupuesto()" type="submit" class="btn btn-success">Crear Presupuesto</button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end"> 
          <button  @click="AtrasMD()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Salir</button> 
        </div>
      </div>
    </div>   
  </b-modal>
  <!-- Modal para el diagnóstico (FIN) -->
</form>

<!-- Apartado del pdf -->
<div v-show="!dom" class="text-right">
  <div class="d-flex align-items-center justify-content-center" v-html="this.vista" id="vista-pdf">
  </div>
    <!-- Botones -->
  <div class="d-flex align-items-center justify-content-center row my-3">
      <div class="col-lg-10 justify-content-end d-flex text-right">
        <td>
          <button  @click="AtrasPDF()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Atras</button> 
          <button  @click="imprimir_pdf()" type="submit" class="btn btn-primary">Descargar PDF</button>
        </td>
      </div>
  </div>
</div>
<!-- Apartado del pdf (FIN) -->

<form class="form-horizontal" v-show="dom">
      <!-- Bandeja de presupuestos -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Bandeja de presupuestos</h3>
          <div class="card-tools">
            <!--  -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th scope="col">Numero de presupuesto</th>
                  <th scope="col">Observación</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                  <th scope="col">Comentarios</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="presupuesto in presupuestos.data" :key="presupuesto.id">
                    <td>{{presupuesto.numero_presupuesto}}</td>
                    <td>{{presupuesto.presupuesto}}</td>
                    <div class="d-flex justify-content-center" v-if="presupuesto.status_id == 1">
                      <td><span class="badge badge-success">Activo</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="presupuesto.status_id == 3">
                      <td><span class="badge badge-primary">Procesado</span></td>
                    </div>
                    <td>{{presupuesto.updated_at}}</td>
                    <td>
                      <button v-b-modal.presupuesto v-if="presupuesto.status_id == 1" type="button" class="btn btn-primary" @click="presupuestoModal(presupuesto)"><i class="fas fa-file-invoice-dollar"></i></button>
                      <button v-b-modal.presupuesto v-if="presupuesto.status_id == 3" type="button" class="btn btn-primary" @click="presupuestoModal(presupuesto)"><i class="fas fa-search"></i></button>
                      <button  target="_blank" v-if="presupuesto.status_id == 3" type="button" class="btn btn-danger" @click="exportpdf(presupuesto)" ><i class="fas fa-file-pdf"></i></button>
                    </td>
                    <td>
                      <button class="btn btn-primary"  type="button" href="#" v-b-modal.Comentario @click="ComentarioModalPresupuesto(presupuesto)"><i class="fas fa-comment"></i></button>
                    </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix" style="display: block;">
        <!--  -->
        <pagination :data="presupuestos" @pagination-change-page="getResults">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
        </pagination>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- Bandeja de casos (FIN) -->

    <!-- Modal para procesar los presupuestos -->
    <b-modal id="presupuesto" ref="presupuesto" centered size="xl" hide-footer no-close-on-backdrop>
      <template slot="modal-header" slot-scope="{ close }">
        <h5 id="BuscarCasoLabel" class="modal-title">Numero de Presupuesto: <b>{{ form.numero_presupuesto }}</b> - <b>{{ form.datosCliente }}</b></h5>
      </template>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label>Serial del equipo</label>
            <input disabled  v-model="form.serial_equipo" type="text" readonly="readonly" class="form-control" placeholder="Serial del Equipo" :class="{ 'is-invalid': form.errors.has('serial_equipo') }">
          </div>
          <div v-show = "manage">
            <div class="form-group">
              <label>Seleccione un Almacen</label>
              <select class="custom-select"   @change="onChange()" v-model="form.almacen">
                <option :value="null" disabled="true">Seleccione un almacén</option>
                <option v-for ="almacen in almacenes" :key="almacen.id">{{ almacen.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Seleccione una Pieza</label>
              <select  v-model="form.pieza" id="pieza" class="form-control custom-select"  disabled="true" @change="onChange2()" :class="{ 'is-invalid': form.errors.has('pieza')}">
                <option v-for="pieza in piezas" :key="pieza.id" v-if="pieza.pieza !==null">
                {{ pieza.pieza.nombre+' - '+pieza.numero_parte.pn+' - '+ pieza.numero_parte.caracteristica_p.descripcion }}</option>
              </select>
              <has-error :form="form" field="pieza"></has-error>
            </div>         
          </div>
          <div class="tablet-responsive">
          <table class="table table-striped table-light">
            <thead v-show = "piece">
              <tr>
                <th scope="col">Pieza</th>
                <th scope="col">Numero de Parte</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="inventario in inventarios" :key="inventario.id">
                <td>{{ inventario.pieza.nombre }}</td>
                <td>{{ inventario.numero_parte.pn }}</td>
                <td>{{ cantidadPieza }}</td>
                  <button @click="cantidadPiecePlus()" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                  <button @click="cantidadPieceMinus" type="button" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                  <button id="boton-agregar-pieza" type="button" @click="agregarPieza" class="btn btn-success"><i class="fa fa-check"></i></button>
                  <b-tooltip :show.sync="tooltip_precio" triggers="click blur" target="boton-agregar-pieza" variant="danger" placement="right">
                    La pieza seleccionada<strong> no tiene un precio asignado</strong>
                  </b-tooltip>
                  <button type="button" @click="quitarPieza" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </tr>
          </tbody>
        </table>
          </div>
        <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
        <div class="table-responsive">
          <table class="table table-striped table-light">
            <thead v-show="piece2">
              <tr>
                <th scope="col">Pieza</th>
                <th scope="col">Numero de Parte</th>
                <th scope="col">Precio Unit</th>
                <th scope="col">Cantidad</th>
                <th v-show = "manage" scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="arreglo in arregloStock" :key="arreglo.idObj">
                <td><span>{{ arreglo.piezas }}</span></td>
                <td><span class="badge badge-light">{{ arreglo.np_piezas }}</span></td>
                <td><span>{{ arreglo.precio_piezas }}</span></td>
                <td><span>{{ arreglo.cant_piezas }}</span></td>
                <button v-show = "manage" @click="cantidadPiecePlusM(arreglo)" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                <button v-show = "manage" @click="cantidadPieceMinusM(arreglo)" type="button" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                <button v-show = "manage" type="button" @click="quitarPiezaSelected(arreglo)" class="btn btn-danger"><i class="fa fa-times"></i></button>
              </tr>
          </tbody>
        </table>

        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Modelo del equipo</label>
        <input disabled v-model="form.modelo_equipo" type="text" readonly="readonly" class="form-control" placeholder="Modelo del equipo" :class="{ 'is-invalid': form.errors.has('cedula') }">
      </div>
        <label>Observaciones del presupuesto</label>
        <div class="form-group">
          <b-form-textarea
          id="textarea"
          v-model="form.presupuesto"
          size = "1"
          maxlength="140"
          placeholder="Observación general del presupuesto..."
          rows="6"
          max-rows="1"
          :readonly="Disabled"
          :class="{ 'is-invalid': form.errors.has('presupuesto')}">
          </b-form-textarea><has-error :form="form" field="presupuesto"></has-error>
        </div>
        <div class="form-group">
         <label v-show="procesar">Asignar condiciones</label>
         <label v-show="!procesar">Condiciones</label>
          <template>
            <div>
              <label class="float-left">PC</label>
              <b-form-checkbox :disabled="disable" class="float-left ml-2" v-model="form.condiciones" name="check-button" switch>
                <label>Servidor</label>
              </b-form-checkbox>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="card-footer clearfix" >
      <div class="row">
        <div class="col-sm-6">
          <!-- change-->
          <button  v-show="procesar" @click="procesarPresupuesto()" type="submit" class="btn btn-success">Procesar Presupuesto</button>
          <template v-if="actualizar">
            <button v-show="!update"  @click="gestionar()" type="submit" class="btn btn-primary">Editar</button>
            <button v-show="update" @click="updatePresupuesto()" type="submit" class="btn btn-primary">Editar</button>
          </template>
        </div>
        <div class="col-sm-6 d-flex justify-content-end"> 
          <button  @click="AtrasMP()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Salir</button> 
        </div>
      </div>
    </div>
  </b-modal>
  <!-- Modal (FIN) -->
</form>

<form class="form-horizontal" >
  <b-modal  size="xl" centered id="Comentario" ref="Comentario" tabindex="-1" role="dialog"  aria-hidden="true" hide-footer no-close-on-backdrop>
    <template slot="modal-header" slot-scope="{ close }">
      <h5 class="modal-title" id="addUsuarioLabel">Comentarios del caso {{ numero_caso }}</h5>
    </template>
    <div class="content table-responsive">
      <table class="table table-striped table-condensed" id="tblGrid">
        <thead id="tblHead">
          <tr>
            <th>Fecha y Hora</th>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Comentario u Observación</th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="(coment, index) in comentarios.data" :value="coment.id" :key="index">
            <td>{{coment.created_at}}</td>
            <td>{{coment.usuario}}</td>
            <td>{{coment.tipo.tipo}}</td>
             <td>{{coment.comentario}}</td>
             <td>
                       
                <a href="#" @click="deleteComent(coment.id, index)" v-show="$store.state.borrar === 'borrar'"><i class="btn btn-danger fa fa-trash red"></i></a>
            </td>
         </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <div>
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6 d-flex justify-content-center">
            <pagination :data="comentarios" @pagination-change-page="getResultsComentarios">
              <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
              <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
            </pagination>
          </div>
          <div class="col-sm-3 container text-right">
            <button @click="AtrasMC" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
            <button href="#" type="button" class="btn btn-success" v-b-modal.addComentario @click="NuevoComentarioModal()">Comentar</button>
          </div>
        </div>
      </div>
    </div>
  </b-modal>

  <!-- Modal  AGREGAR COMENTARIO AL  CASO -->
  <b-modal  class="modal fade modal-open" centered id="addComentario" ref="addComentario" tabindex="-1" role="dialog" aria-labelledby="addUsuarioLabel" aria-hidden="true" hide-footer title="Diagnóstico para el caso: 'EJEMPLO'" no-close-on-backdrop>
    <template slot="modal-header" slot-scope="{ scape }">
      <h5 class="modal-title" id="addUsuarioLabel">Agregar Comentario al caso</h5>
    </template>
    <div class="form-group">
      <b-col>
        <div class="md-form">
          <label>Tipo</label>
          <select v-model="form.tipos" class="form-control excep custom-select" type="text" :class="{ 'is-invalid': form.errors.has('tipos')}">
            <option v-for="tipo in tipos.data" :value="tipo.id" :key="tipo.id">{{tipo.tipo}}</option>
          </select>
          <has-error :form="form" field="tipos"></has-error>         
        </div>
      </b-col>
    </div>
    <div class="form-group">
      <b-col>
        <div class="md-form">
          <i class="fas fa-pencil-alt prefix"></i><b> Comentario</b>
          <textarea v-model="form.comentario" id="comentario" class="md-textarea form-control excep" :class="{ 'is-invalid': form.errors.has('comentario')}" rows="3" name="Comentario" maxlength="140"></textarea><has-error :form="form" field="comentario"></has-error>
        </div> 
      </b-col>                     
    </div>
    <div class="modal-footer">
      <button   @click="crearComentario()" type="submit" class="btn btn-success">Comentar</button>
      <button  @click="salir()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
    </div>   
  </b-modal>
</form>
</div>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import PDFObject from 'pdfobject'
  export default {
    components: {
        jsPDF
      },
  data () { 
    return {
      text:null,
      casos:{},
      diagnosticos:{},
      presupuestos:{},
      almacenes:{},
      piezas:{},
      tipos:{},
      comentarios:{},
      inventarios:{},
      numero_caso:null,
      caseNumber:0,
      cantidadPieza:1,
      cantidadPiezaM:1,
      PiezasEliminar:[],
      stockPiece:{},
      arregloStock:[],
      piece:false,
      piece2:false,
      manage:false,
      piece_id:0,
      diagnostico:'',
      precios:null,
      pdf:null,
      Disabled:true,
      printMode:false,
      checked:null,
      update:false,
      procesar:true,
      actualizar:true,
      disable:false,
      datosCliente:null,
      documento:null,
      telefonos:null,
      correo:null,
      direccion:null,
      analista_presupuesto:null,
      date:null,
      dia:null,
      mes:null,
      año:null,
      variable:null,
      vista:null,
      dom:true,
      iva_id:null,
      doc: new jsPDF('a','mm', 'A4'),
      info_pdf:null,
      array_info_pdf:[],    
      tooltip_precio: false,
      form: new Form({
        id:null,
        tecnico_id:null,
        numero_caso:null,
        arregloStock:[],
        PiezasEliminar:[],
        pieza:{},
        presupuesto:null,
        condiciones:null, 
      })
    }
  },

  created() {
    Fire.$on('AfterCreate',() => {
      this.loadPresupuestos();
      this.loadCasoComentarios();
    });

    axios.get("api/perfil").then(({ data }) => (
      this.analista_presupuesto = data.name
      ));
  },

  mounted(){
    this.loadCasosDiagnosticos();
    this.loadAlmacenes();
    this.loadPreciosProductos();
    this.loadPresupuestos();
    this.loadTiposComentarios();
  },

  methods:{

    getResults(page = 1) {
          axios.get('/api/presupuestos?page=' + page)
            .then(response => {
              this.presupuestos = response.data;
            });
          },

    getResults2(page = 1) {
          axios.get('/api/diagnosticosTecnicos?page=' + page)
            .then(response => {
              this.diagnosticos = response.data;
            });
          },
          deleteComent(id, index){
     
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/comentario/'+id).then(() => {
                
                swal(
                  '¡Eliminado!',
                  'El comentario ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
           this.comentarios.data.splice(index, 1) //hecho aqui
          }
        })
      },


    crearPresupuesto(){
      this.$Progress.start()
      this.$Progress.finish();
      this.form.post('api/presupuesto').then(() => {
        Fire.$emit('AfterCreate');
        swal(
          'Presupuesto!',
          'Creado con éxito.',
          'success'
          ).then(() =>{
            this.AtrasMD();
          })
        
      }).catch(() => {
        this.$Progress.fail();
        toast({
          type: 'warning',
          title: 'Verifique los datos ingresados.'
        })
      });
    },

    crearComentario(){
      this.$Progress.start()
      this.form.post('api/comentario')
          .then((response) => { // Validacion exitosa
            this.$refs['addComentario'].hide()
            swal(
              '¡Creación exitosa!',
              'Comentario creado con éxito.',
              'success'
              )
            this.form.tipos = null;
            this.form.comentario = null;
            this.$Progress.finish()
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
        })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
              type: 'warning',
              title: 'Verifique los datos ingresados.'
            })
          })
        },

    updatePresupuesto(){
      this.$Progress.start();
      this.form.put('api/presupuesto/'+this.form.id)
    .then(() => { // Validacion exitosa
    this.$Progress.finish();// Funcion para recargar nuevos datos en la pagina sin refrescar
    Fire.$emit('AfterCreate');
    swal(
      '¡Editado!',
      'La informacion ha sido editada.',
      'success'
      ).then(() =>{
        this.Disabled = true;
        this.manage = false;
        this.update = false;
        this.quitarPieza();
      })
    })
    .catch(() => { // Validacion con error
      this.$Progress.fail();
      toast({
        type: 'error',
        title: 'Verifique los datos ingresados.'
      })
    });
    console.log(this.form.PiezasEliminar);
    if (this.form.PiezasEliminar.length > 0) {
      console.log('CANTIDAD DE PIEZAS MAYOR A CERO');
      console.log(this.form.PiezasEliminar);
      this.form.post('api/eliminarPiezas/'+this.form.PiezasEliminar).then(() => {
        console.log('THEN');
        console.log('this.form.PiezasEliminar');
        this.PiezasEliminar = [];
        this.form.PiezasEliminar = [];
    }).catch(() => { // Validacion con error
      this.form.PiezasEliminar = [];
      this.PiezasEliminar = [];
    });
    }
  },

  cerrar(){
    this.$refs['pdf'].hide()
    
  },

  printActivar(pdf){
    $('#diagnostico').modal('show');
    this.fechaActual();
  },

  print() {
    window.print();
  },

  exportpdf(presupuesto){

    //Manda la información a PresupuestoController, la procesa y devuelve un array con la información

    this.form.fill(presupuesto);
    if (presupuesto.cliente) {
        this.form.numero_presupuesto = presupuesto.numero_presupuesto;
        this.form.datosCliente = presupuesto.cliente.nombres+' '+presupuesto.cliente.apellidos;
        this.form.documento = presupuesto.cliente.cedula;
        this.form.telefonos = presupuesto.cliente.tlf1+' / '+presupuesto.cliente.tlf2;
        this.form.correo = presupuesto.cliente.email1;
        this.form.direccion = presupuesto.cliente.direccion;
        this.form.date = presupuesto.updated_at;
        this.form.iva_id = presupuesto.iva_id;
        this.arregloStock = presupuesto.detalles_presupuesto;
        this.form.analista_presupuesto = this.analista_presupuesto;
        this.form.arregloStock = this.arregloStock;
        this.form.modelo = presupuesto.caso.modelo_equipo;
      }

      if (presupuesto.empres){
        this.form.datosCliente = presupuesto.empresa.nombre_emp;
        this.form.numero_presupuesto = presupuesto.numero_presupuesto;
        this.form.documento = presupuesto.empresa.rif_emp;
        this.form.telefonos = presupuesto.empresa.tlf1_emp+' / '+presupuesto.empresa.tlf2_emp;
        this.form.correo = presupuesto.empresa.email_emp;
        this.form.direccion = presupuesto.empresa.direccion_emp;
        this.form.date = presupuesto.updated_at;
        this.form.iva_id = presupuesto.iva_id;
        this.arregloStock = presupuesto.detalles_presupuesto;
        this.form.analista_presupuesto = this.analista_presupuesto;
        this.form.arregloStock = this.arregloStock;
        this.form.modelo = presupuesto.caso.modelo_equipo;
      }
      this.form.post('/api/exportpdf').then((response) => {
        this.info_pdf = response.data;
        PDFObject.embed(this.crearPDF(), "#vista-pdf", {height: "40rem", width: "90%"});
        //this.crearPDF();
      });
      this.dom = false;
  },

  iterar_info_pdf(item, index) {
    // El controlador devuelve la información en un json como un objeto, esta función itera cada uno de las propiedades para convertir el objeto en un array

    this.array_info_pdf.push([this.info_pdf.cabecera_pdf.numero_caso, item.piezas, item.cant_piezas, item.precio_piezas, item.total])
  },

  redactarPDF() 
  {
    // TEXTO USADO PARA TÉRMINOS Y CONDICIONES
    //En el caso de que vaya a usar más de una vez ese texto, simplemente llamo la variable
    //Los separo en variables para poder darles un ancho especifico a la hora de formatearlo en el pdf

    //Estoy seguro de que hay alguna forma de poner este texto largo y aburrido en otro lado para que no moleste...

    let terminos_condiciones_servidor1 = "1.- Marca: Equipos VIT.\nLugar de Entrega: A Convenir\nValidez de Oferta: 5 días\nModalidad de pago: Depósito o Transferencia a las cuentas bancarias:\nBanesco: 0134-1070-48-0003001776 / Tesoro 0163-0202-30-2022000125\nGarantía: La garantía de las partes y piezas está sujeta al tiempo de garantía que\ntenga el contrato inicial de la adquisición del equipo en el cual serán instaladas"
    let terminos_condiciones_servidor2 = "2.- Anexo 1: Términos y Condiciones de la Garantía.\nLa garantía cubre únicamente aquellos defectos que surgiesen como resultado del uso normal del producto y no será válida la Garantía\nen los  siguientes:\n1°. Si ha sido violentada la etiqueta de sello de garantía.\n2°. Que el producto no haya sido operado  conforme al instructivo de uso y operación que se acompaña y no se hayan observado\nlas recomendaciones y advertencias que se indican.\n3°. Que el producto haya sido modificado o desarmado parcial o totalmente; o haya sido manipulado  negligentemente y como\nconsecuencia haya sufrido daños atribuibles al cliente, persona o talleres no autorizados por VIT, así como por daños causados por el uso o conservación fuera de los parámetros normales del producto y por la   modificación e incorporación de otros productos.\n4°. Que los datos del certificado y del producto no coincidan o  hayan  sido alterados o removidos de su lugar.\n5°. Que el sello de garantía del equipo sea removido por personas no autorizadas por VIT.\n3.- Anexo 2: Servicio y Soporte Técnico.\nServicio de Soporte Técnico al Cliente por Helpdesk:\nEl objetivo fundamental es atender los requerimientos solicitados por los clientes brindando soporte técnico preliminar, a través de la línea\n0800-INFOVIT (0800-4636848), chat o correo electrónico, a través de nuestra página web, www.vit.gob.ve, brindando atención personalizada por parte de especialistas en aras de solucionar las fallas o problemas  presentados en un primer nivel, las cuales de no ser resueltas por esta vía, se realizará el servicio en sitio. Escalamiento de la Llamada (niveles).\n1)Operador  -  1°  Nivel:  Se deberá llamar al 0800-INFOVIT (0800-4636848), para solicitar información del servicio en cuestión.\n2)Analista de Soporte Técnico (A.S.T.)  -  2°  Nivel:  Analista de Soporte Técnico (coordinador de los servicios) a través del\nteléfono 0800-INFOVIT (0800-4636848), e-mail: soporte@vit.gob.ve\n3) Analista de Post-venta - 3° Nivel: Analista de Post-venta a través del teléfono 0800-INFOVIT (0800-4636848) opción 2, luego marcar 8888, e-mail: soporteservidores@vit.gob.ve\n4)Gerente  de  Post-venta  -  4°  Nivel:  Gerente de Post-venta a través de los teléfonos 0212-3732853, 0414-6827627, e-mail: lrada@vit.gob.ve\n"

    let terminos_condiciones_pc1 = "1.- Las garantías son únicamente por defecto de fabrica durante el siguiente periodo: 6 meses para monitores, 3 meses para partes y piezas. A excepción de los ajustes de componente y las soldaduras de pin de carga.\n2.- Los equipos se reparan luego de recibir el pago por las piezas presupuestadas en un tiempo no mayor un (3) días hábiles.\n3.- Al culminar la reparación, se le contactará para informarle que debe efectuar el retiro formal de su equipo." ;
    let terminos_condiciones_pc2 = "4.- FORMAS DE PAGO:NO ACEPTAMOS CHEQUES NI MANEJAMOS EFECTIVO en los Centro de Soporte Técnico.\n5.1- Depósito.\n5.2- Transferencia.\n5.3- Punto de Venta\n5.4- Deposito o transferencia a nombre de Venezolana de Industria Tecnológica C.A, en cualquiera las siguientes cuentas corriente:\nBanco del Tesoro: 0163-0202-3020-2200-0125\nBanco Banesco: 0134-1070-4800-0300-1776\nNOTA: Para que la verificación del pago sea mas rápida, se recomienda hacer el depósito en efectivo o transferir desde el mismo banco.\n5.- Luego de realizar el pago, debe llevar al Centro de Soporte Técnico una copia firmada de este documento junto con la planilla de depósito bancario original, o enviar dichos documentos de forma digital a los siguientes correos:\nClientes Caracas:presupuestos@vit.gob.ve\nClientes Falcon:presupuestosfalcon@vit.gob.ve\nClientes Valencia :presupuestosvalencia@vit.gob.ve\nPara Ente o Empresa... Consignar con los soportes de pago, copia de RIF\n6.- Estimado cliente, si desea se le entregue la pieza defectuosa, realizar confirmación mediante correo electrónico indicado o informar al personal que le atienda en el Centro de soporte.\n7.- Ante cualquier duda, reclamo o sugerencia, debe comunicarse al Centro de Atención Telefónica marcando al 0800-INFOVIT (08004636848).\n8.- El ultimo día hábil de cada mes no se recibirán pagos ni se emitirán facturas en el centro de soporte, ya que se realizará el cierre fiscal.\n9.- Este presupuesto tiene una validéz de Cinco (5) días hábiles. Si usted no realiza el pago en ese periodo de tiempo, su caso será cerrado y deberá retirar su equipo sin ser reparado.\n10.- No nos hacemos responsables de los equipos que tengan más de 03 meses en nuestro Centro de Soportes, deben retirar el equipo en un lapso no mayor a 15 días hábil.";


    // Variables de diseño de página
    var ancho_de_pagina = this.doc.internal.pageSize.width;
    var largo_de_pagina = this.doc.internal.pageSize.height;
    var titulo_informe = "INFORME: ";

    var cabecera_tabla = [['Numero de Caso', 'Descripcion', 'Uni',' Monto Uni BsS', 'Hora Total BsS']]
  
    this.doc.setFont('Nunito-Regular');
    this.doc.setProperties({
    title: this.info_pdf.cabecera_pdf.numero_caso+'_'+this.info_pdf.cabecera_pdf.analista_presupuesto+'_'+this.info_pdf.cabecera_pdf.numero_presupuesto,
    subject: 'PDF Presupuesto',
    author: this.info_pdf.cabecera_pdf.analista_presupuesto,
    keywords: 'Presupuesto, VIT',
    creator: 'VIT'
    });
    // INFORMACION DEL CLIENTE 

    this.doc.setFont('Nunito-Regular');
    this.doc.setFontSize(9);
    this.doc.rect(1, 29, ancho_de_pagina-2, 20);

      this.doc.text("PARA: "+this.info_pdf.cabecera_pdf.datosCliente, 15, 33, 'left')
      this.doc.text("CÉDULA: "+this.info_pdf.cabecera_pdf.documento, 15, 38, 'left')
      this.doc.text("DIRECCIÓN: "+this.info_pdf.cabecera_pdf.direccion, 15, 43, 'left')

      // Contacto
      this.doc.text("PERSONA CONTACTO: ", ancho_de_pagina/2, 33, 'left')
      this.doc.text("TELÉFONOS: "+this.info_pdf.cabecera_pdf.telefonos, ancho_de_pagina/2, 38, 'left')
      this.doc.text("CORREO ELECTRÓNICO: "+this.info_pdf.cabecera_pdf.correo, ancho_de_pagina/2, 43, 'left')

    // INFORMACION DEL CLIENTE (FIN) 

    //Autotable se encarga de formatear la tabla en el pdf bajo ciertos parámetros. Ayuda a no tener que redactar celda por celda

    // TABLA INFORMACION EL PRESUPUESTANTE(?)

    this.doc.autoTable({
        startY: 50,
        margin:{
            top:30
        },
        theme: 'plain', 
        head: [
          ["Fecha y hora del presupuesto", "Elaborado por", "Gerencia"]
        ],
        body: [
          [this.info_pdf.cabecera_pdf.date, this.info_pdf.cabecera_pdf.analista_presupuesto, "Presupuesto"]
        ],
        headStyles: { font: "Nunito-Bold"},
        styles: {font: "Nunito-Regular"},
        alternateRowStyles: {
        fillColor: [201, 201, 201],
        },
    })

    let final_table_Y_info_presupuestante = this.doc.previousAutoTable.finalY;

    // TABLA PRESUPUESTO

    this.doc.autoTable({  
        startY: final_table_Y_info_presupuestante + 5,
        margin:{
            top:30
        },
        theme: 'plain', 
        head: cabecera_tabla,
        body: this.array_info_pdf,
        headStyles: { font: "Nunito-Bold"},
        styles: {font: "Nunito-Regular"},
        alternateRowStyles: {
        fillColor: [201, 201, 201],
        },

        //Funcion que permite agregar información una vez formateada la tabla en la respectiva página, útil para cabeceras, pies de páginas e información adicional

        didDrawPage: (data) => {
        // CABECERA 
        this.doc.setFont('Nunito-Regular');
        this.doc.setFontSize(15);
        this.doc.rect(1, 1, ancho_de_pagina-2, 20);
        this.doc.text("VENEZOLANA DE INDUSTRIA TECNOLÓGICA, C.A", ancho_de_pagina/2, 10, 'center')
        this.doc.setFontSize(10);
        this.doc.text("RIF: G-20009831-1", ancho_de_pagina/2, 15, 'center')
        this.doc.text("PRESUPUESTO", ancho_de_pagina/2, 19, 'center')
        this.doc.setFont('Nunito-Bold', 'bold');
        this.doc.text("Numero de Presupuesto: "+this.info_pdf.cabecera_pdf.numero_presupuesto, 60+ancho_de_pagina/2, 27, 'center')
        this.doc.setFont('Nunito-Regular', 'normal');
        this.doc.setFontSize(9);
        this.doc.text("El Computador Bolivariano", ancho_de_pagina/2, 24, 'center')
        // CABECERA FIN
        // PIE DE PAGINA
        
        // PIE DE PAGINA FIN
        },
    })
        let final_table_Y_presupuesto = this.doc.previousAutoTable.finalY;

        // TABLA TOTAL/SUBTOTAL/IVA 

        
        //Para poder lograr una tabla con la cabecera en horizontal con jspdf es necesario usar dos tablas, una para la
        //cabecera y otra para la información. Es una ladilla, pero jspdf aun no tiene una funcion de tabla horizontal...
        

        var pageNumber = this.doc.internal.getNumberOfPages()

        this.doc.autoTable({
          theme:"plain",
          styles: {font: "Nunito-Bold", overflow: 'hidden' },
          body: [
            ["Sub-Total BsS."],
            ["IVA ("+this.info_pdf.iva+"%) BsS."],
            ["Total BsS."],
          ],
          showHead: false,
          columnStyles: {
            id: { fillColor: [41, 128, 185], textColor: 255, fontStyle: 'bold' },
          },
          startY: final_table_Y_presupuesto,
          showHead: 'firstPage',
          margin: {  left: 120, right: 10 },
        })

        this.doc.setPage(pageNumber)

        this.doc.autoTable({
          theme:"plain",  
          styles: {font: "Nunito-Bold", overflow: 'hidden' },
          showHead: false,
          alternateRowStyles: {
          fillColor: [201, 201, 201],
          },
          body: [
            [this.info_pdf.subtotal], 
            [this.info_pdf.ivaTotal],
            [this.info_pdf.montoFinal],
          ],
          startY: final_table_Y_presupuesto,
          showHead: 'firstPage',
          margin: { left: 160 },
        })
        // TABLA TOTAL/SUBTOTAL/IVA (FIN) 
        let final_table_Y = this.doc.previousAutoTable.finalY;
        this.doc.setFont('Nunito-Bold', 'bold');
        this.doc.setFontSize(9)

        // TEXTO DE TÉRMINOS Y CONDICIONES

        this.doc.text("PRESUPUESTO APLICA UNICAMENTE PARA MODELO: "+this.info_pdf.cabecera_pdf.modelo, 2, final_table_Y-18, 'left')
        this.doc.text("TÉRMINOS Y CONDICIONES: ", 2, final_table_Y-14, 'left')
        this.doc.setFont('Nunito-Regular', 'normal');

        // En caso de que sea un SERVIDOR se usan estas condiciones

        if (this.info_pdf.cabecera_pdf.condiciones == 1 || this.info_pdf.cabecera_pdf.condiciones == "SERVIDOR") 
        {
          var splitText = this.doc.splitTextToSize(terminos_condiciones_servidor1, 120);
          var pageHeight = this.doc.internal.pageSize.height;
          var y = final_table_Y-10;
          for (var i=0; i<splitText.length; i++){
              if (y > 275){
                  y = 20;
                  this.doc.addPage();
              }
              this.doc.text(2, y, splitText[i]);
              y = y + 5;
          } 
          var splitText = this.doc.splitTextToSize(terminos_condiciones_servidor2, ancho_de_pagina-15);
          var pageHeight = this.doc.internal.pageSize.height;
          var y = final_table_Y+25;
          for (var i=0; i<splitText.length; i++){
              if (y > 275){
                  y = 20;
                  this.doc.addPage();
              }
              this.doc.text(2, y, splitText[i]);
              y = y + 5;
          }
        }

        // En caso de que sea un COMPUTADOR se usan estas otras condiciones
        else
        {
          var splitText = this.doc.splitTextToSize(terminos_condiciones_pc1, 120);
          var pageHeight = this.doc.internal.pageSize.height;
          var y = final_table_Y-10;
          for (var i=0; i<splitText.length; i++){
              if (y > 275){
                  y = 20;
                  this.doc.addPage();
              }
              this.doc.setFontSize(9)
              this.doc.text(2, y, splitText[i],{maxWidth: 120, align: "left"} );
              y = y + 4;  
          }
          var splitText = this.doc.splitTextToSize(terminos_condiciones_pc2, ancho_de_pagina-15);
          var pageHeight = this.doc.internal.pageSize.height;
          var y = final_table_Y+18;
          for (var i=0; i<splitText.length; i++){
              if (y > 275){
                  y = 20;
                  this.doc.addPage();
              }
              this.doc.setFontSize(9)
              this.doc.text(2, y, splitText[i],{maxWidth: ancho_de_pagina-15, align: "left"} );
              y = y + 4;
          }
        }   
  },
  crearPDF(){
      this.info_pdf.presupuesto.forEach(this.iterar_info_pdf)
      this.redactarPDF()
      return this.doc.output('datauristring');//  <---- Esta función manda el url para que se vea en la vista
      //this.doc.output('dataurlnewwindow');      <---- Esta función lo abre directamente en otra ventana
  },

  imprimir_pdf(){
    this.doc.save(this.info_pdf.cabecera_pdf.numero_caso+'_'+this.info_pdf.cabecera_pdf.analista_presupuesto+'_'+this.info_pdf.cabecera_pdf.numero_presupuesto);
  },

  fechaActual(){
    var f = new Date();
    this.dia = f.getDate();
    this.mes = f.getMonth();
    this.año = f.getFullYear();
          
  },

  procesarPresupuesto(){
    this.$Progress.start();
      this.form.post('api/procesarPresupuesto')
    .then(() => { // Validacion exitosa
    this.$Progress.finish();// Funcion para recargar nuevos datos en la pagina sin refrescar
    Fire.$emit('AfterCreate');
    swal(
      'Procesado!',
      'La presupuesto ha sido procesado.',
      'success'
      ).then(() =>{
         this.AtrasMP();
      })
    })
    .catch(() => { // Validacion con error
      this.$Progress.fail();
      toast({
        type: 'error',
        title: 'Verifique los datos ingresados.'
      })
    });

  },

  NuevoComentarioModal(){
    $('#addComentario').modal('show');
  },

    gestionarPiezas(){
      this.manage = true;
      },

      gestionar(){
      this.manage = true;
      this.Disabled = false;
      this.update = true;
      this.disable = false; 
      },

    diagnosticoModal(diagnostico){
      this.form.numero_caso = diagnostico.numero_caso;
      this.form.fill(diagnostico);
      if (diagnostico.empresa == null) {
        this.form.datosCliente = diagnostico.cliente.nombres+' '+diagnostico.cliente.apellidos;
      }

      if (diagnostico.cliente ==null){
        this.form.datosCliente = diagnostico.empresa.nombre_emp;
      }
      this.form.modelo_equipo = diagnostico.modelo_equipo;
      this.form.serial_equipo = diagnostico.serial_equipo;
      this.arregloStock = diagnostico.detalles_diagnostico;
      this.form.arregloStock = this.arregloStock;
      for (var i = 0; i < this.arregloStock.length; i+=1) {
        this.arregloStock[i].id=i;
      }
      this.piece2 = true;
      this.info_pdf = null;
      this.doc = new jsPDF('a','mm', 'A4');
      $('#diagnostico').modal('show');
    },

    /*nuevoPresupuesto(){
      this.form.presupuesto = "Presupuesto de venta individual"
      axios.get('api/numeroCaso').then(response => {
        this.form.numero_caso = response.data
        this.crearPresupuesto()
          })
    },*/

    presupuestoModal(presupuesto){
      if (presupuesto.status_id == 3) { 
        this.procesar = true;
        this.actualizar = true;
        this.disable = true; 
      }
      this.Disabled = true;

      this.form.numero_presupuesto = presupuesto.numero_presupuesto;

      this.form.fill(presupuesto);
      if (presupuesto.empresa == null) {
        this.form.datosCliente = presupuesto.cliente.nombres+' '+presupuesto.cliente.apellidos;
      }

      if (presupuesto.cliente ==null){
        this.form.datosCliente = presupuesto.empresa.nombre_emp;
      }

      this.form.modelo_equipo = presupuesto.caso.modelo_equipo;
      this.form.PiezasEliminar = this.PiezasEliminar; 
      this.form.serial_equipo = presupuesto.caso.serial_equipo;
      //this.form.condiciones = false;
      this.arregloStock = presupuesto.detalles_presupuesto;
      this.form.arregloStock = this.arregloStock;
      for (var i = 0; i < this.arregloStock.length; i+=1) {
        this.arregloStock[i].idObj=i;
      }
      console.log(this.arregloStock);
      if (this.arregloStock.length == 0) {
        console.log('array vacio');
        this.piece2 = false;
      }else{
        this.piece2 = true;
      }
      console.log(presupuesto)
      if (presupuesto.condiciones == 'PC' || presupuesto.condiciones == "0") {
        console.log('Condiciones PC');
        this.form.condiciones = false;
        //this.form.condiciones = 'PC';
        console.log(this.form.condiciones);
      }else{
        console.log('Condiciones SERVIDOR');
        this.form.condiciones = true;
        //this.form.condiciones = 'SERVIDOR';
        console.log(this.form.condiciones);
      }
      console.log(this.form.condiciones);
      $('#presupuesto').modal('show');
    },

    ComentarioModalDiagnostico(diagnostico){
      this.numero_caso = diagnostico.numero_caso;
      this.form.numero_caso = diagnostico.numero_caso;
      $('#Comentario').modal('show');
      this.loadCasoComentarios();
    },

    ComentarioModalPresupuesto(presupuesto){
      this.numero_caso = presupuesto.numero_caso;
      this.form.numero_caso = presupuesto.numero_caso;
      $('#Comentario').modal('show');
      this.loadCasoComentarios();
    },

    AtrasPDF(){
      this.AtrasMP();
      this.doc = new jsPDF('a','mm', 'A4');
      this.info_pdf = null;
      this.array_info_pdf = [];
      this.dom = true;
    },
    AtrasMD(){
      this.$refs['diagnostico'].hide()
      this.arregloStock=[];
      this.form.arregloStock=[];
      this.inventarios={};
      this.stockPiece={};
      this.piece2=false;
      this.piece=false;
      this.manage=false;
      this.procesar=true;
      this.update = false;
      this.loadCasosDiagnosticos();
    },

    AtrasMP(){
      this.$refs['presupuesto'].hide()
      this.arregloStock=[];
      this.form.arregloStock=[];
      this.inventarios={};
      this.stockPiece={};
      this.piece2=false;
      this.piece=false;
      this.manage=false;
      this.update = false;
      this.procesar=true;
      this.disable = false;
      this.loadPresupuestos();
    },

    AtrasMC(){
      this.$refs['Comentario'].hide()
    },

    salir(){
      this.$refs['addComentario'].hide()
      this.form.tipos = null;
      this.form.comentario = null;
    },

    cantidadPiecePlus(){

      var slash2 = "";
      slash2 = this.form.pieza;
      var slash = slash2.replace("/","|");
      axios.get('/api/sgp/cantidad_pieza/'+this.cantidadPieza+'/'+slash+'/'+this.form.almacen).then(({ data }) => (this.cantidadPieza = data));
      
    },

    cantidadPieceMinus(){
      axios.get('/api/sgp/menos_cantidad_pieza/'+this.cantidadPieza).then(({ data }) => (this.cantidadPieza = data));

      
    },


    cantidadPiecePlusM(arreglo){

      var idObj = arreglo.idObj;
      console.log('arreglo.idObj');
      console.log(arreglo.idObj);
      console.log('arreglo.cantidad_piezas');
      console.log(arreglo.cant_piezas);
      this.cantidadPiezaM = arreglo.cant_piezas;
      console.log('this.cantidadPiezaM');
      console.log(this.cantidadPiezaM);
      this.pieza = arreglo.piezas+' - '+arreglo.np_piezas;
      this.almacen = arreglo.almacenes;
      var slash2 = "";
      slash2 = this.pieza;
      var slash = slash2.replace("/","|");


      axios.get('/api/sgp/cantidad_pieza/'+this.cantidadPiezaM+'/'+slash+'/'+this.almacen).then(({ data }) => (this.arregloStock[idObj].cant_piezas = data));
      this.loadAlmacenes();

    },

    cantidadPieceMinusM(arreglo){
      var idObj = arreglo.idObj;
      if (arreglo.cant_piezas > 1) {
        this.arregloStock[idObj].cant_piezas = this.arregloStock[idObj].cant_piezas-1;
        this.loadAlmacenes();
      }
    },


    agregarPieza(){
        this.stockPiece={};
        this.stockPiece.piezas = this.inventarios[0].pieza.nombre;
        this.stockPiece.np_piezas = this.inventarios[0].numero_parte. pn;
        this.stockPiece.cant_piezas = this.cantidadPieza;
        this.stockPiece.almacenes = this.form.almacen;  
        if (this.inventarios[0].precio == null) {
          this.tooltip_precio = true
          this.tooltip_precio = false;
          return this.tooltip_precio = false;
        }
        this.stockPiece.precio_piezas = this.inventarios[0].precio.precio;
        this.stockPiece.numero_presupuesto = this.form.numero_presupuesto;
        this.stockPiece.idObj = this.piece_id;
        this.arregloStock.push(this.stockPiece);
        this.form.arregloStock = this.arregloStock;
        this.piece_id = this.piece_id+1;
        for (var i = 0; i < this.arregloStock.length; i+=1) {
          this.arregloStock[i].idObj=i;
        }
        this.inventarios={};
        this.stockPiece={};
        this.cantidadPieza=1;
        this.piece2=true;
        this.piece=false;
    },

    quitarPieza(){
      this.inventarios={};
      this.cantidadPieza=1;
      this.piece = false;
    },

    quitarPiezaSelected(arreglo){
      console.log("Quitar pieza");
      var idObj = arreglo.idObj;
      
      if (arreglo.id) {
        console.log("Quitar pieza Eliminar");
        this.PiezasEliminar.push(arreglo.id); 
        this.form.PiezasEliminar = this.PiezasEliminar;
      }
      this.arregloStock.splice(idObj, 1); //función que elimina un elemento de un array de objetos.
      for (var i = 0; i < this.arregloStock.length; i+=1) {
        this.arregloStock[i].idObj=i;
      }
      this.form.arregloStock = this.arregloStock;
      if (Object.keys(this.arregloStock).length === 0) {
        this.piece2=false;
        this.piece_id=0;
        return this.arregloStock=[];
      }  
      return this.arregloStock;
    },

    loadCasosDiagnosticos(){
      axios.get('/api/diagnosticosTecnicos/').then(({ data }) => (this.diagnosticos = data));

    },

    loadPresupuestos(){
      axios.get('/api/presupuestos/').then(({ data }) => (this.presupuestos = data));

    },

    loadPreciosProductos(){
      axios.get('/api/sgp/precios/').then(({ data }) => (this.precios = data));

    },

    loadAlmacenes(){
        axios.get('api/sgp/almacen').then(({ data }) => (this.almacenes = data));
    },

    loadCasoComentarios(){
      this.form.post("api/comentarios_caso").then(({ data }) => (this.comentarios = data));
    },

    loadTiposComentarios(){
      axios.get("api/tipo_comentario").then(({ data }) => (this.tipos = data));
    },

    getResultsComentarios(page = 1) {
        this.form.post('api/comentarios_caso?page=' + page)
          .then(response => {
            this.comentarios = response.data;
          });
        },

    onChange(){

      axios.get('api/sgp/piezasAlmacen/'+this.form.almacen).then(({data})=>(this.piezas = data));
       $('#pieza').attr('disabled', false);
       
    },

    onChange2(){
      var slash2 = "";
      slash2 = this.form.pieza;
      var slash = slash2.replace("/","|");
      axios.get('api/sgp/inventario/'+slash+'/'+this.form.almacen)
           .then(({data})=>(this.inventarios = data))
           .catch((error) => {
                if( error.response ){
                    console.log(error.response.data);
                    toast({type:'warning',title:'Error al cargar informacion del almacen'})
                }
            });
      this.piece=true;
      this.cantidadPieza=1;
      
    }
  },

}
</script>
