<template>
    <div class="container" v-show="!ocultar">
        <div class="card card-default">
            <div class="card-header">
                <ul class="nav nav-pills">
                    <li v-show="!cedulaOk" class="nav-item"><a class="nav-link active show" href="#personas"
                            data-toggle="tab">Personas</a></li>
                    <li v-show="!cedulaOk" class="nav-item"><a class="nav-link" href="#empresas"
                            data-toggle="tab">Empresas</a></li>
                </ul>
            </div>
            <div class="card-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
                <div class="tab-content">
                    <div class="tab-pane active show" id="personas">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong><i class="fas fa-info"></i> Nota:</strong> Si el cliente "Persona" no esta
                            registrado, se buscara en el cne.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="form-horizontal">
                            <div v-show="!cedulaOk">
                                <label for="searchp" class="col-sm-12 control-label">Buscar persona</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <select v-model="form.nacionalidad" type="text" placeholder="Nacionalidad"
                                            class="control form-control custom-select"
                                            :class="{ 'is-invalid': form.errors.has('nacionalidad')}">
                                            <option value="" selected disabled hidden>Nacionalidad</option>
                                            <option value="V">V</option>
                                            <option value="E">E</option>
                                        </select>
                                    </div>
                                    <input v-mask="'##########'" v-model="form.cedula" type="text" placeholder="Cedula"
                                        class="control form-control"
                                        :class="{ 'is-invalid': form.errors.has('cedula')}">
                                    <span class="input-group-append">
                                        <button @click="buscarClienteP()" type="button"
                                            class="btn btn-info">Buscar</button>
                                        <button v-show="$store.state.crear" @click="crearNuevoP()" type="button" class="btn btn-success"><i
                                                class="fas fa-user-plus fs-fw"></i></button>
                                    </span>
                                    <has-error :form="form" field="nacionalidad"></has-error>
                                    <has-error :form="form" field="cedula"></has-error>
                                </div>
                            </div>
                            <div v-show="cedulaOk">
                                <h1 v-show="newClient" style="text-align: center;">Registro de nuevo cliente</h1>
                                <h1 v-show="!newClient" style="text-align: center;">Información del cliente</h1>
                                <b-col>
                                    <label for="cedula" class="col-sm-12 control-label">Cedula</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <select disabled v-model="form.nacionalidad" type="text"
                                                class="control form-control custom-select nuevoCliente"
                                                :class="{ 'is-invalid': form.errors.has('nacionalidad') }">
                                                <option value="" selected disabled hidden>Nacionalidad</option>
                                                <option value="V">V</option>
                                                <option value="E">E</option>
                                            </select>
                                        </div>
                                        <input disabled v-mask="'##########'" v-model="form.cedula" type="text"
                                        class="control form-control nuevoCliente" placeholder="Cedula"
                                        :class="{ 'is-invalid': form.errors.has('cedula') }">
                                        <has-error :form="form" field="cedula"></has-error>
                                        <has-error :form="form" field="nacionalidad"></has-error>
                                    </div>
                                </div>
                            </b-col>

                                <b-col>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Nombre</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Nombres</span>
                                        </div>
                                        <input disabled v-model="form.nombres" type="text"
                                            class="control form-control nuevoCliente" placeholder="Nombres"
                                            :class="{ 'is-invalid': form.errors.has('nombres') }">
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Apellidos</span>
                                        </div>
                                        <input disabled v-model="form.apellidos" type="text"
                                            class="control form-control nuevoCliente" placeholder="Apellidos"
                                            :class="{ 'is-invalid': form.errors.has('apellidos') }">
                                        <has-error :form="form" field="nombres"></has-error>
                                        <has-error :form="form" field="apellidos"></has-error>
                                    </div>
                                </div>
                            </b-col>

                                <b-col>
                                <div class="form-group">
                                    <label for="telefonos" class="col-sm-4 control-label">Telefonos</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-alt"></i></span>
                                        </div>
                                        <input v-mask="'+58 (###) ### ####'" v-model="form.tlf1" type="text"
                                            class="control form-control" placeholder="Teléfono personal"
                                            :class="{ 'is-invalid': form.errors.has('tlf1') }">
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input v-mask="'+58 (###) ### ####'" v-model="form.tlf2" type="text"
                                            class="control form-control" placeholder="Teléfono de habitación"
                                            :class="{ 'is-invalid': form.errors.has('tlf2') }">
                                        <has-error :form="form" field="tlf1"></has-error>
                                        <has-error :form="form" field="tlf2"></has-error>
                                    </div>
                                </div>
                            </b-col>

                                <b-col>
                                <div class="form-group">
                                    <label for="correos" class="col-sm-4 control-label">Correos</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input oncopy="return false" onpaste="return false" v-model="form.email1" type="email" class="control form-control"
                                            placeholder="Correo principal"
                                            :class="{ 'is-invalid': form.errors.has('email1') }">
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input oncopy="return false" onpaste="return false" v-model="form.email2" type="email" class="control form-control"
                                            placeholder="Correo secundario"
                                            :class="{ 'is-invalid': form.errors.has('email2') }">
                                        <has-error :form="form" field="email1"></has-error>
                                        <has-error :form="form" field="email2"></has-error>
                                    </div>
                                </div>
                            </b-col>

                                <b-col>
                                <div class="form-group">
                                    <label for="ubicacion" class="col-sm-4 control-label">Ubicación</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado</span>
                                        </div>
                                        <select v-model="form.estado" @change="loadMunicipios" type="text"
                                            class="control form-control custom-select"
                                            :class="{ 'is-invalid': form.errors.has('estado') }" placeholder="Estado">
                                            <option value="" selected disabled hidden>Seleccione un estado</option>
                                            <option v-for="estado in estados" :value="estado.id" :key="estado.id">
                                                {{ estado.estado }}
                                            </option>
                                        </select>
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select disabled id="municipiod" v-model="form.municipio"
                                            @change="loadParroquias" type="text" name="Municipio"
                                            class="control form-control custom-select yo"
                                            :class="{ 'is-invalid': form.errors.has('municipio') }"
                                            placeholder="Municipio">
                                            <option value="" selected disabled hidden>Seleccione un municipio</option>
                                            <option v-for="municipio in municipios" :value="municipio.id"
                                                :key="municipio.id">
                                                {{ municipio.municipio }}
                                            </option>
                                        </select>
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Parroquia</span>
                                        </div>
                                        <select disabled id="parroquiad" v-model="form.parroquia" type="text"
                                            name="Parroquia" class="control form-control custom-select yo"
                                            :class="{ 'is-invalid': form.errors.has('parroquia') }"
                                            placeholder="Parroquia">
                                            <option value="" selected disabled hidden>Seleccione una parroquia</option>
                                            <option v-for="parroquia in parroquias" :value="parroquia.id"
                                                :key="parroquia.id">
                                                {{ parroquia.parroquia }}
                                            </option>
                                        </select>
                                        <has-error :form="form" field="estado"></has-error>
                                        <has-error :form="form" field="municipio"></has-error>
                                        <has-error :form="form" field="parroquia"></has-error>
                                    </div>
                                </div>
                            </b-col>

                            <b-col>
                                <div class="form-group">
                                    <label for="direccion" class="col-sm-4 control-label">Dirección</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-map-marked-alt"></i></span>
                                        </div>
                                        <textarea v-model="form.direccion" type="text" class="control form-control"
                                            placeholder="Dirección"
                                            :class="{ 'is-invalid': form.errors.has('direccion') }"></textarea>
                                        <has-error :form="form" field="direccion"></has-error>
                                    </div>
                                </div>
                            </b-col>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-12 text-center d-flex justify-content-end mt-4">
                                        <button @click.prevent="atras()" class="btn btn-outline-danger mr-2">Atrás</button>
                                        <button v-show="(updateShow === false)"
                                            v-if="(newClient === false)"
                                            @click.prevent="updateClientOn()" type="submit"
                                            class="btn btn-success">Actualizar</button>
                                        <button v-show="(updateShow === true)"
                                            v-if="(newClient === false)"
                                            @click.prevent="updateClientEnviar()" type="submit"
                                            class="btn btn-success">Enviar</button>
                                        <button v-show="newClient" @click.prevent="createClientP()" type="submit"
                                            class="btn btn-success">Crear</button>
                                    </div>
                                </div>
                            </div> <!-- cedulaOk -->
                        </form>
                    </div>
                    <!-- TAB DE EMPRESA -->
                    <div class="tab-pane" id="empresas">
                        <form class="form-horizontal">
                            <div v-show="!rifOk">
                                <label for="searche" class="col-sm-12 control-label">Buscar empresa</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <select v-model="form.tipo_emp" type="text" placeholder="Tipo"
                                            class="control form-control custom-select"
                                            :class="{ 'is-invalid': form.errors.has('tipo_emp')}">
                                            <option value="" selected disabled hidden>Tipo de RIF</option>
                                            <option value="G">G</option>
                                            <option value="J">J</option>
                                        </select>
                                    </div>
                                    <input v-mask="'##########'" v-model="form.rif_emp" type="text"
                                        placeholder="Número de RIF" class="control form-control"
                                        :class="{ 'is-invalid': form.errors.has('rif_emp')}">
                                    <span class="input-group-append">
                                        <button @click="buscarClienteE()" type="button"
                                            class="btn btn-info">Buscar</button>
                                        <button @click="crearNuevoE()" type="button" class="btn btn-success"><i
                                                class="fas fa-user-plus fs-fw"></i></button>
                                    </span>
                                    <has-error :form="form" field="tipo_emp"></has-error>
                                    <has-error :form="form" field="rif_emp"></has-error>
                                </div>
                            </div>

                            <div v-show="rifOk">
                                <h1 v-show="newClient" style="text-align: center;">Registro de nueva empresa</h1>
                                <h1 v-show="!newClient" style="text-align: center;">Información de la empresa</h1>
                                <label for="cedula" class="col-sm-12 control-label">RIF</label>
                                <div class="input-group col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select disabled v-model="form.tipo_emp" type="text"
                                                class="control form-control custom-select"
                                                :class="{ 'is-invalid': form.errors.has('tipo_emp') }">
                                                <option value="" selected disabled hidden>RIF</option>
                                                <option value="G">G</option>
                                                <option value="J">J</option>
                                            </select>
                                        </div>
                                        <input disabled v-mask="'##########'" v-model="form.rif_emp" type="text"
                                            class="control form-control" placeholder="Numero de RIF"
                                            :class="{ 'is-invalid': form.errors.has('rif_emp') }">
                                        <has-error :form="form" field="tipo_emp"></has-error>
                                        <has-error :form="form" field="rif_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefonos" class="col-sm-12 control-label">Nombre</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                                        </div>
                                        <input disabled onkeyup="this.value = this.value.toUpperCase();"
                                            v-model="form.nombre_emp" type="text"
                                            class="control form-control" placeholder="Nombre de la empresa"
                                            :class="{ 'is-invalid': form.errors.has('nombre_emp') }">
                                        <has-error :form="form" field="nombre_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefonos" class="col-sm-12 control-label">Entidad</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                                        </div>
                                        <input disabled v-model="form.nombre_se" type="text"
                                            class="control form-control" placeholder="Nombre de la entidad o sede"
                                            :class="{ 'is-invalid': form.errors.has('nombre_se') }">
                                        <has-error :form="form" field="nombre_se"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telefonos" class="col-sm-12 control-label">Información de
                                        contacto</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-alt"></i></span>
                                        </div>
                                        <input disabled v-mask="'+58 (###) ### ####'" v-model="form.tlf1_emp"
                                            type="text" class="control form-control" placeholder="Teléfono móvil"
                                            :class="{ 'is-invalid': form.errors.has('tlf1_emp') }">
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input disabled v-mask="'+58 (###) ### ####'" v-model="form.tlf2_emp"
                                            type="text" class="control form-control"
                                            placeholder="Teléfono de habitación"
                                            :class="{ 'is-invalid': form.errors.has('tlf2_emp') }">
                                        <has-error :form="form" field="tlf1_emp"></has-error>
                                        <has-error :form="form" field="tlf2_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input disabled v-model="form.email_emp" type="email"
                                            class="control form-control" placeholder="Email"
                                            :class="{ 'is-invalid': form.errors.has('email_emp') }">
                                        <has-error :form="form" field="email_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ubicacion" class="col-sm-12 control-label">Ubicación</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado</span>
                                        </div>
                                        <select disabled v-model="form.estado_emp" @change="loadMunicipios" type="text"
                                            class="control form-control custom-select"
                                            :class="{ 'is-invalid': form.errors.has('estado_emp') }"
                                            placeholder="Estado">
                                            <option value="" selected disabled hidden>Seleccione un estado</option>
                                            <option v-for="estado in estados" :value="estado.id" :key="estado.id">
                                                {{ estado.estado }}
                                            </option>
                                        </select>
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select disabled id="municipiodemp" v-model="form.municipio_emp"
                                            @change="loadParroquias" type="text" name="Municipio"
                                            class="control form-control custom-select yo"
                                            :class="{ 'is-invalid': form.errors.has('municipio_emp') }"
                                            placeholder="Municipio">
                                            <option value="" selected disabled hidden>Seleccione un municipio</option>
                                            <option v-for="municipio in municipios" :value="municipio.id"
                                                :key="municipio.id">
                                                {{ municipio.municipio }}
                                            </option>
                                        </select>
                                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Parroquia</span>
                                        </div>
                                        <select disabled id="parroquiademp" v-model="form.parroquia_emp" type="text"
                                            name="Parroquia" class="control form-control custom-select yo"
                                            :class="{ 'is-invalid': form.errors.has('parroquia_emp') }"
                                            placeholder="Parroquia">
                                            <option value="" selected disabled hidden>Seleccione una parroquia</option>
                                            <option v-for="parroquia in parroquias" :value="parroquia.id"
                                                :key="parroquia.id">
                                                {{ parroquia.parroquia }}
                                            </option>
                                        </select>
                                        <has-error :form="form" field="estado_emp"></has-error>
                                        <has-error :form="form" field="municipio_emp"></has-error>
                                        <has-error :form="form" field="parroquia_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="direccion" class="col-sm-12 control-label">Dirección</label>
                                    <div class="input-group col-sm-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-map-marked-alt"></i></span>
                                        </div>
                                        <textarea disabled v-model="form.direccion_emp" type="text"
                                            class="control form-control" placeholder="Dirección"
                                            :class="{ 'is-invalid': form.errors.has('direccion_emp') }"></textarea>
                                        <has-error :form="form" field="direccion_emp"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-12 text-center">
                                        <button @click.prevent="atras()" class="btn btn-outline-danger">Atrás</button>
                                        <button v-show="(updateShow === false)"
                                            v-if="(newClient === false)"
                                            @click.prevent="updateClientOn()" type="submit"
                                            class="btn btn-success">Actualizar</button>
                                        <button v-show="(updateShow === true)"
                                            v-if="(newClient === false)"
                                            @click.prevent="updateClientEmpresaEnviar()" type="submit"
                                            class="btn btn-success">Enviar</button>
                                        <button v-show="newClient" @click.prevent="createClientE()" type="submit"
                                            class="btn btn-success">Crear</button>
                                    </div>
                                </div>
                            </div> <!-- rifOk -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <!-- contenido del card-footer -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                ocultar:false,
                hide:false,
                estados: {},
                municipios: {},
                parroquias: {},
                cedulaOk: false,
                rifOk: false,
                newClient: false,
                updateShow: false,
                type: '',
                route:'',
                form: new Form({
                    // Cliente
                    id: '',
                    nacionalidad: '',
                    cedula: '',
                    nombres: '',
                    apellidos: '',
                    tlf1: '',
                    tlf2: '',
                    email1: '',
                    email2: '',
                    estado: '',
                    municipio: '',
                    parroquia: '',
                    direccion: '',
                    // Empresa
                    tipo_emp: '',
                    rif_emp: '',
                    nombre_emp: '',
                    nombre_se: '',
                    estado_emp: '',
                    municipio_emp: '',
                    parroquia_emp: '',
                    direccion_emp: '',
                    tlf1_emp: '',
                    tlf2_emp: '',
                    email_emp: '',
                })
            }
        },
        mounted() {
            this.loadEstados();
            this.route = this.$route.path
            EventBus.$on('ocultar', (data) => {
                if(data != null){
                this.ocultar = data;
                this.atras();    
                }
                
            });
        
        },
        beforeDestroy(){
            EventBus.$off('ocultar');
            EventBus.$off('datosCliente');
        },
        created() {
            this.$store.commit('increment');
            axios.get("api/perfil").then(({
                data
            }) => (this.type = data.type));
        },

        methods: {
            cne() {
                this.$Progress.start()
                this.form.post('api/cneClient')
                    .then(response => { //Validacion exitosa
                        if (response.data.status === 200) {
                            this.cedulaOk = true;
                            this.newClient = true;
                            this.form.nombres = response.data.response.nombres;
                            this.form.apellidos = response.data.response.apellidos;
                            toast({
                                type: 'success',
                                title: 'Información capturada con éxito.'
                            })
                            this.bloquearCamposNuevoClient();
                            this.$Progress.finish()
                        } else if (response.data.status === 404) {
                            toast({
                                type: 'error',
                                title: 'Cédula no registrada en el cne.'
                            })
                            this.$Progress.fail()
                            this.crearNuevoP();
                        }
                    })
                    .catch(() => { //Validacion con error
                        toast({
                            type: 'warning',
                            title: 'Verifique los datos ingresados.'
                        })
                        this.newClient = false;
                        this.$Progress.fail()
                    })
            },

            atras() {
                $('#municipiod').attr('disabled', true);
                $('#parroquiad').attr('disabled', true);
                $('#municipiodemp').attr('disabled', true);
                $('#parroquiademp').attr('disabled', true);
                this.cedulaOk = false;
                this.rifOk = false;
                this.newClient = false;
                this.updateShow = false;
                this.form.reset();
                this.desbloquearCamposNuevoClient();
                this.desbloquearCampos();
            },

            crearNuevoP() {
                $('.alert').alert('close');
                this.cedulaOk = true;
                this.newClient = true;
                this.desbloquearCamposNuevoClient();
                this.desbloquearCampos();
                this.desactivarNav();
            },

            crearNuevoE() {
                $('.alert').alert('close');
                this.rifOk = true;
                this.newClient = true;
                this.desbloquearCampos();
                this.desactivarNav();
            },

            desactivarNav() {
                this.cedulaOk = true;
                this.rifOk = true;
            },

            bloquearCamposNuevoClient() {
                var inputs = document.getElementsByClassName('nuevoCliente');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                }
            },

            bloquearCampos() {
                var inputs = document.getElementsByClassName('control');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                }
            },

            desbloquearCamposNuevoClient() {
                var inputs = document.getElementsByClassName('nuevoCliente');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = false;
                }
            },

            desbloquearCampos() {
                var inputs = document.getElementsByClassName('control');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = false;
                }
                var inputs = document.getElementsByClassName('yo');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = true;
                }
            },

            buscarClienteP() {
                $('.alert').alert('close');
                this.$Progress.start()
                this.form.post('api/searchClientP')
                    .then((response) => {
                        this.form.fill(response.data);
                        this.loadMunicipiosPre();
                        this.loadParroquiasPre();
                        this.cedulaOk = true;
                        toast({
                            type: 'success',
                            title: 'Búsqueda exitosa.'
                        })

                        if (this.route == "/casos") {
                            EventBus.$emit('datosCliente', this.form);
                            EventBus.$emit('esconder', false);
                        }
                        if (this.route == "/llamadas") {
                            EventBus.$emit('datosCliente', this.form);
                        }
                        EventBus.$emit('class', true);
                        EventBus.$emit('hide', true);
                        this.bloquearCampos();
                        this.desactivarNav();
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.cne();
                    })
            },

            buscarClienteE() {
                $('.alert').alert('close');
                this.$Progress.start()
                this.form.post('api/searchClientE')
                    .then((response) => {
                        this.form.fill(response.data);
                        this.loadMunicipiosPre();
                        this.loadParroquiasPre();
                        this.rifOk = true;
                        toast({
                            type: 'success',
                            title: 'Búsqueda exitosa.'
                        })
                        if (this.route == "/casos") {
                            EventBus.$emit('datosEmpresa', this.form);
                            EventBus.$emit('esconder', false);
                        }
                        if (this.route == "/llamadas") {
                            EventBus.$emit('datosEmpresa', this.form);
                        }
                        EventBus.$emit('class', true);
                        EventBus.$emit('hide', false);
                        this.bloquearCampos();
                        this.desactivarNav();
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        toast({
                            type: 'warning',
                            title: 'Empresa no registrada.'
                        })
                        this.$Progress.fail();
                    })
            },

            createClientP() {
                this.$Progress.start()
                this.form.cedula = this.form.nacionalidad + this.form.cedula;
                this.form.post('api/client')
                    .then(() => { // Validacion exitosa
                        swal(
                            '¡Creación exitosa!',
                            'Usuario creado con éxito.',
                            'success'
                        )
                        this.bloquearCampos();
                        this.newClient = false;
                        this.$Progress.finish()
                    })
                    .catch(() => { //Validacion con error
                        this.$Progress.fail()
                        toast({
                            type: 'warning',
                            title: 'Verifique los datos ingresados.'
                        })
                    })
            },

            createClientE() {
                this.$Progress.start()
                this.form.rif_emp = this.form.tipo_emp + this.form.rif_emp;
                this.form.post('api/storeCompany ')
                    .then(() => { // Validacion exitosa
                        swal(
                            '¡Creación exitosa!',
                            'Usuario creado con éxito.',
                            'success'
                        )
                        this.bloquearCampos();
                        this.newClient = false;
                        this.$Progress.finish()
                    })
                    .catch(() => { //Validacion con error
                        this.$Progress.fail()
                        toast({
                            type: 'warning',
                            title: 'Verifique los datos ingresados.'
                        })
                    })
            },

            updateClientOn() {
                this.desbloquearCampos();
                this.updateShow = true;
            },

            updateClientEnviar() {
                this.$Progress.start();
                this.form.put('api/client/' + this.form.nacionalidad + this.form.cedula).then((response) => {
                    this.$Progress.finish();
                    swal(
                        'Edición exitosa!',
                        'Cliente editado con éxito.',
                        'success'
                    )
                }).catch(() => {
                    this.$Progress.fail()
                    toast({
                        type: 'warning',
                        title: 'Verifique los datos ingresados.'
                    })
                });
            },

            updateClientEmpresaEnviar() {
                this.$Progress.start();
                this.form.put('api/company/' + this.form.tipo_emp + this.form.rif_emp).then((response) => {
                    this.$Progress.finish();
                    swal(
                        'Edición exitosa!',
                        'Empresa editada con éxito.',
                        'success'
                    )
                }).catch(() => {
                    this.$Progress.fail()
                    toast({
                        type: 'warning',
                        title: 'Verifique los datos ingresados.'
                    })
                });
            },

            dynamicDropdown(url, data) {
                axios.get(url)
                    .then(response => this[data] = response.data)
                    .catch(error => console.log(error))
            },

            loadEstados() {
                let url = 'api/estados';
                this.dynamicDropdown(url, 'estados')
            },

            loadMunicipios() {
                if (this.form.estado != '') {
                    $('#municipiod').attr('disabled', false);
                    $('#parroquiad').attr('disabled', true);
                    let url = 'api/municipios/' + this.form.estado;
                    this.form.parroquia = '';
                    this.form.municipio = '';
                    this.dynamicDropdown(url, 'municipios')
                } else {
                    $('#municipiodemp').attr('disabled', false);
                    $('#parroquiademp').attr('disabled', true);
                    let url = 'api/municipios/' + this.form.estado_emp;
                    this.form.parroquia_emp = '';
                    this.form.municipio_emp = '';
                    this.dynamicDropdown(url, 'municipios')
                }
            },

            loadParroquias() {
                if (this.form.estado != '') {
                    $('#parroquiad').attr('disabled', false);
                    let url = 'api/parroquias/' + this.form.municipio;
                    this.form.parroquia = '';
                    this.dynamicDropdown(url, 'parroquias')
                } else {
                    $('#parroquiademp').attr('disabled', false);
                    let url = 'api/parroquias/' + this.form.municipio_emp;
                    this.form.parroquia_emp = '';
                    this.dynamicDropdown(url, 'parroquias')
                }
            },

            loadMunicipiosPre() {
                if (this.form.estado != undefined) {
                    let url = 'api/municipios/' + this.form.estado;
                    this.dynamicDropdown(url, 'municipios')
                } else {
                    let url = 'api/municipios/' + this.form.estado_emp;
                    this.dynamicDropdown(url, 'municipios')
                }
            },

            loadParroquiasPre() {
                if (this.form.estado != undefined) {
                    let url = 'api/parroquias/' + this.form.municipio;
                    this.dynamicDropdown(url, 'parroquias')
                } else {
                    let url = 'api/parroquias/' + this.form.municipio_emp;
                    this.dynamicDropdown(url, 'parroquias')
                }
            },
        },
    }
</script>