<template>
    <div class="container" v-show="!esconder2">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-3 ">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Comentarios del caso</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM -->
                <!-- <div class="form-inline ml-3"> -->
                  <div class="input-group input-group-sm">
                    <h5 class="mr-4 text-dark">Bandeja de Casos</h5>
                    <h5 class="ml-4 text-dark"><b>{{ nombres }}<b> - </b></b>{{ cedula }}</h5> 
                  </div> 
                  
                  <div class="card-tools">
                </div>
                <!-- </div> -->
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>N° de caso</th>
                    <th>Serial del equipo</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                  </tr>
                  <tr v-for="caso in casos.data" :key="caso.id">
                    <td>{{caso.numero_caso}}</td>
                    <td>{{caso.serial_equipo}}</td>  
                    <td>{{caso.updated_at}}</td>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 2">
                      <td><span class="badge badge-success">Abierto</span></td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 1">
                      <td><span class="badge badge-warning">En espera</span></td>
                    </div>
                    <td>
                      <a href="#" v-b-modal.vmdetalleCaso @click="vModalDetalleCaso(caso)"><i class="btn btn-primary fa fa-search"></i></a>
                      <a href="#" v-b-modal.Comentario @click="ComentarioModal(caso)"><i class="btn btn-primary fas fa-comment"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <div>
                  <div class="row">
                    <div class="col-sm-3">
                      <pagination :data="casos" @pagination-change-page="getResultsCasos">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3 container text-right">
                      <button @click="atras()" class="btn btn-danger">Atras</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.card -->
          </div>
        <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        <form class="form-horizontal" >
                  <b-modal  size="xl" centered id="Comentario" ref="Comentario" tabindex="-1" role="dialog"  aria-hidden="true" hide-footer no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ close }">
                <h5 class="modal-title" id="addUsuarioLabel">Comentarios del caso {{ numero_caso }}</h5>
          </template>
                  <div class="content table-responsive">
                    <table class="table table-striped table-condensed" id="tblGrid">
                      <thead id="tblHead">
                        <tr>
                          <th>Fecha y Hora</th>
                          <th>Usuario</th>
                          <th>Tipo</th>
                          <th>Comentario u Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr v-for="comentario in comentarios.data" :key="comentario.id">
                        <td>{{ comentario.created_at }}</td>
                        <td>{{ comentario.usuario }}</td>
                        <td>{{ comentario.tipo.tipo}}</td>
                        <td>{{ comentario.comentario }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              <div class="card-footer">
                <div>
                  <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6 d-flex justify-content-center ">
                      <pagination :data="comentarios" @pagination-change-page="getResultsComentarios">
                      <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                      <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                    </pagination>
                    </div>
                    <div class="col-sm-3 container text-right">
                      <button @click="AtrasMC" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
                      <button href="#" type="button" class="btn btn-success" v-b-modal.addComentario @click="NuevoComentarioModal()">Comentar</button>
                    </div>
                  </div>
                </div>
              </div>
        </b-modal>
        
        <!-- Modal  AGREGAR COMENTARIO AL  CASO -->
        <b-modal  class="modal fade modal-open" centered id="addComentario" ref="addComentario" tabindex="-1" role="dialog" aria-labelledby="addUsuarioLabel" aria-hidden="true" hide-footer title="Diagnóstico para el caso: 'EJEMPLO'" no-close-on-backdrop>
          <template slot="modal-header" slot-scope="{ scape }">
                <h5 class="modal-title" id="addUsuarioLabel">Agregar Comentario al caso</h5>
          </template>
            <div class="form-group">
              <b-col>
                <div class="md-form">
                  <label>Tipo</label>
                  <select v-model="form.tipos" class="form-control excep custom-select" type="text" :class="{ 'is-invalid': form.errors.has('tipos')}">
                    <option v-for="tipo in tipos.data" :value="tipo.id" :key="tipo.id">{{tipo.tipo}}</option>
                  </select>
                  <has-error :form="form" field="tipos"></has-error>         
                </div>
              </b-col>
            </div>
            <div class="form-group">
              <b-col>
                <div class="md-form">
                  <i class="fas fa-pencil-alt prefix"></i><b> Comentario</b>
                  <textarea v-model="form.comentario" id="comentario" class="md-textarea form-control excep" :class="{ 'is-invalid': form.errors.has('comentario')}" rows="3" name="Comentario" maxlength="140"></textarea><has-error :form="form" field="comentario"></has-error>
                </div> 
              </b-col>                     
            </div>
            <div class="modal-footer">
              <button  @click="salir()" type="button"  class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
              <button   @click="crearComentario()" type="submit" class="btn btn-success">Comentar</button>
            </div>   
            </b-modal>

            <!-- Modal  DETALLES DEL CASO -->
            <div class="row justify-content-md-center">
              <b-modal class="modal fade modal-open modal" centered size="lg" id="vmdetalleCaso" ref="vmdetalleCaso" tabindex="-1" role="dialog" aria-labelledby="detalleCasoLabel" aria-hidden="true" hide-footer title="Detalle del Caso" no-close-on-backdrop >
                <template slot="modal-header" slot-scope="{ close }">
                  <h5 v-show="!editmode" id="BuscarCasoLabel" class="modal-title">Detalles del caso {{ form.numero_caso }}</h5>
                  <h5 v-show="editmode" id="EditarCasoLabel" class="modal-title">Editar Caso</h5>
                </template>
                <div class="modal-body">
                 <div class="form-group">
                  <div v-show = "hide"  class="input-group col-sm-13">
                      <div class="col-md-6 float-left">
                          <label v-show = "hide" class="col-sm-13 control-label">Cliente</label> 
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.nombres" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                          </div>
                      </div>
                      
                      <div class="col-md-6 float-left">
                          <label v-show = "hide" class="col-sm-13 control-label">Cedula</label> 
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.cedula" type="text" name="cedula" class="form-control" id="cedula" placeholder="cedula">
                          </div>
                      </div>
                  </div>

                  <div v-show = "!hide" class="input-group col-sm-13">
                      <div class="col-md-6 float-left">
                          <label v-show = "!hide" class="col-sm-13 control-label">Empresa</label>
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.nombre_emp" type="text" name="NombreEmpresa" class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa">
                          </div>

                      </div>

                      <div class="col-md-6 float-left">
                          <label v-show = "!hide" class="col-sm-13 control-label">Rif</label> 
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input disabled v-mask="'##########'" v-model="this.rif_emp" type="text" readonly="readonly" class="form-control" placeholder="Rif" :class="{ 'is-invalid': form.errors.has('this.rif_emp') }">
                          </div>
                      </div>
                  </div>
              </div>

                  <div>
                    <div class="form-group">
                      <div class="input-group col-sm-13">
                        <div class="col-md-3 float-left mr-3">
                          <label for=""  class="col-sm-13">N° de Caso</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                            <input readonly="readonly" v-model="form.numero_caso" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Numero del Caso">
                          </div>
                        </div>

                        <div class="col-md-4 float-left ml-4 mr-4">
                          <label for="" class="col-sm-13">Serial del equipo</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                            <input :disabled="Disable"  v-model="form.serial_equipo" type="text" readonly="readonly" class="form-control" placeholder="Serial del Equipo" :class="{ 'is-invalid': form.errors.has('serial_equipo') }">
                          </div>
                        </div>

                        <div class="col-md-3 float-left ml-3">
                          <label for="" class="col-sm-13">Modelo del equipo</label> 
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                            <input :disabled="Disable" v-model="form.modelo_equipo" type="text" readonly="readonly" class="form-control" placeholder="Modelo del equipo" :class="{ 'is-invalid': form.errors.has('cedula') }">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group col-sm-13">
                        <div class="col-md-6 float-left">
                          <label for="tlfPersonal" class="col-sm-13">Fecha</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                            <input :disabled="true" v-model="form.updated_at" type="text" name="fecha" class="form-control excep" id="updated_at" placeholder="Fecha" :class="{ 'is-invalid': form.errors.has('updated_at') }" data-vv-as="Telefono Personal">
                          </div>
                        </div>
                        <div class="col-md-6 float-left">
                          <label for="tlfPersonal" class="col-sm-13">Estatus</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                            <input :disabled="true" v-model="form.estado_caso" type="text" class="form-control excep" id="inputEmail" placeholder="Estado del caso" :class="{ 'is-invalid': form.errors.has('estado_caso') }">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label class="col-sm-12">Canal de compra</label>
                      <div v-show="!editmode" class="form-group col-md-12">
                        <b-form-select v-model="this.canal" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('canal_compra')}">
                          <option :value="this.canal" disabled="true">{{ this.canal }}</option>
                          <optgroup label="Canales de compra">
                            <option v-for="canal in canales.data" :value="canal.id" :key="canal.id">{{canal.nombre}}</option>
                          </optgroup>
                        </b-form-select>
                        <has-error :form="form" field="canal_compra_id"></has-error>
                      </div>
                      <div v-show="editmode" class="form-group col-md-12">
                        <b-form-select v-model="form.canal_compra_id" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('canal_compra')}">
                          <option :value="this.canal" disabled="true">{{ this.canal }}</option>
                          <optgroup label="Canales de compra">
                            <option v-for="canal in canales.data" :value="canal.id" :key="canal.id">{{canal.nombre}}</option>
                          </optgroup>
                        </b-form-select>
                        <has-error :form="form" field="canal_compra_id"></has-error>
                      </div>
                      <label class="col-sm-12">Observación del caso</label>
                      <div v-show="!editmode" class="form-group col-md-12">
                        <b-form-textarea class="form-control" id="textarea" v-model="this.observacion" :disabled="Disable" :class="{ 'is-invalid': form.errors.has('obser_caso')}"
                        placeholder="Comentarios generales de las fallas..." rows="5" max-rows="5">
                      </b-form-textarea>
                      <has-error :form="form" field="obser_caso"></has-error>
                    </div>
                    <div v-show="editmode" class="form-group col-md-12">
                      <b-form-textarea class="form-control" id="textarea" v-model="form.obser_caso" :disabled="Disable" :class="{ 'is-invalid': form.errors.has('obser_caso')}"
                      placeholder="Comentarios generales de las fallas..." rows="5" max-rows="5">
                    </b-form-textarea>
                    <has-error :form="form" field="obser_caso"></has-error>
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="col-sm-12">Modo de atención</label>
                  <div v-show="!editmode" class="form-group col-md-12">
                    <b-form-select v-model="this.modo" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('modo_atencion')}">
                      <option :value="this.modo">{{ this.modo }}</option>
                      <optgroup label="Modos de atención">
                        <option v-for="modoa in modosa.data" :value="modoa.id" :key="modoa.id">{{modoa.nombre}}</option>
                      </optgroup>
                    </b-form-select>
                    <has-error :form="form" field="modo_atencion_id"></has-error>
                  </div>
                  <div v-show="editmode" class="form-group col-md-12">
                    <b-form-select v-model="form.modo_atencion_id" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('modo_atencion')}">
                      <option :value="this.modo">{{ this.modo }}</option>
                      <optgroup label="Modos de atención">
                        <option v-for="modoa in modosa.data" :value="modoa.id" :key="modoa.id">{{modoa.nombre}}</option>
                      </optgroup>
                    </b-form-select>
                    <has-error :form="form" field="modo_atencion_id"></has-error>
                  </div>
                  <label class="col-sm-12">Falla que presenta</label>
                  <div v-show ="!editmode" class="form-group col-md-12">
                    <b-form-textarea id="textarea" v-model="this.falla" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('this.falla')}"
                    placeholder="Descripción especifica de las fallas..." rows="5" max-rows="5">
                  </b-form-textarea>
                  <has-error :form="form" field="this.falla"></has-error>
                </div>
                <div v-show ="editmode" class="form-group col-md-12">
                  <b-form-textarea id="textarea" v-model="form.falla_equipo" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('falla_equipo')}"
                  placeholder="Descripción especifica de las fallas..." rows="5" max-rows="5">
                </b-form-textarea>
                <has-error :form="form" field="falla_equipo"></has-error>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-md-12">
              <label class="col-sm-12">Piezas sugeridas</label>
              <div>
                <multiselect v-model="selected" track-by="value" label="value" :options="this.piezasObj" :searchable="true" :close-on-select="true"
                :show-labels="true" :multiple="true" :disabled="isDisabled" :allow-empty="true" :max="3" placeholder="Seleccione las solicitudes" select-label="Presione entrer para seleccionar">
                <template slot="option" slot-scope="props">
                  <div class="option__desc"><span class="option__title">{{ props.option.value }}</span><span class="option__small">{{ props.option.desc }}</span></div>
                </template>
                <span slot="noResult">No se han encontrado resultados.</span>
                <span slot="maxElements">Máximo de 6 opciones pueden ser seleccionadas.</span>
                <span slot="noOptions">Lista vacia.</span>
              </multiselect>
            </div>
            <has-error :form="form" field="casos"></has-error>
          </div>
        </div>
      </div><!-- Modal-body -->
      <div class="modal-footer" >
        <button  @click="AtrasM()" type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
        <!-- <button v-show="editmode" @click="updateCaso()" type="submit" class="btn btn-primary">Editar</button> -->
      </div>   
    </b-modal>
  </div>
      </form>
    </div>
  </div>
</template>

<script>
    export default {
      data() {
        return {
          comentarios:{},
          tipos:{},
          canal:{},
          modo:{},
          casos:{},
          canales:[],
          modosa:[],
          case_status:[],
          cliente:{},
          versiones:[],
          hide:true,
          idCliente:null,
          nombres:null,
          nombre_emp:null,
          descripcion:null,
          tipo_emp:null,
          rif_emp:null,
          tlf1:null,
          tlf1_emp:null,
          email1:null,
          email_emp:null,
          observacion:null,
          falla:null,
          piezasArray:[],
          piezasObj:[],
          piezas_sugeridas:null,
          isDisabled:true,
          Disable: true,
          detalle:false,
          esconder2:true,
          editmode:false,
          offset:3,
          value:null,
          selected:null,
          cedula:null,
          nombre:null,
          nacionalidad:null,
          numero_caso:null,
          serial_equipo:null,
          pagination:{
            'total':0,
            'current_page' :0,
            'per_page' :0,
            'last_page' :0,
            'from' :0,
            'to' :0,
          },
          form: new Form({
            tipos:null,
            comentario:null,
            id:null,
            numero_caso:null,
            serial_equipo:null,
            modelo_equipo:null,
            updated_at:null,
            estado_caso:null,
            canal_compra_id:null,
            modo_atencion_id:null,
            obser_caso:null,
            falla_equipo:null,
            piezas_sugeridas:null,
            rif_emp:null,
            tipo_emp:null,
            cedula:null,
            client_id:null,   
            nacionalidad:null,
          })
        }
      },
      mounted(){

        EventBus.$on('datosClienteCaso', (data) => {
          console.log('cliente');
          console.log(data);
            if( data.nombres != null){
                this.nombres = data.nombres+' '+data.apellidos;
                this.cedula = data.cedula;
                this.form.client_id = data.client_id;
                this.loadCasos();
                this.form.serial_equipo = data.serial_equipo;
                if (this.form.client_id != null) {
                    this.form.company_id = null;
                }
                EventBus.$emit('ocultar', true);
                //EventBus.$emit('esconder', true);
                this.ocultar = false;
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('datosEmpresaCaso', (data) => {
          console.log('empresa');
          console.log(data);
            if( data.rif_emp != null){
                this.rif_emp = data.rif_emp;
                this.hide = false;
                this.nombre_emp = data.nombre_emp;
                this.form.company_id = data.company_id;
                this.loadCasos();
                this.form.serial_equipo = data.serial_equipo;
                if (this.form.company_id != null) {
                    this.form.client_id = null;
                }
                EventBus.$emit('ocultar', true);
                //EventBus.$emit('esconder', true);
                this.ocultar = false;
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('esconder2', (data) => {
                if(data != null){
                  console.log(data);
                this.esconder2 = data;    
                }
            });

        this.loadTiposComentarios();
        //this.loadCasoComentarios();
        //this.loadCasos();
      },

      created() {
          Fire.$on('AfterCreate',() => {
          this.loadCasoComentarios();
          });/*setInterval(() => this.loadUsers(), 3000); // Vue Refrescar los datos de la tabla cada 3s(Metodo alterno)*/
      },

      methods: {

        getResultsCasos(page = 1) {
        this.form.post('api/casos/'+this.form.client_id+'?page=' + page) //'?page=' es igual a 'api/caso/'
          .then(response => {
            this.casos = response.data;
          });
        },

        getResultsComentarios(page = 1) {
        this.form.post('api/comentarios_caso?page=' + page)
          .then(response => {
            this.comentarios = response.data;
          });
        },

        loadCasoComentarios(){
          this.form.post("api/comentarios_caso").then(({ data }) => (this.comentarios = data));
        },

        loadCasos(){
          this.form.post('api/casos/'+this.form.client_id).then(({ data }) => (this.casos = data));
        },

        loadTiposComentarios(){
          axios.get("api/tipo_comentario").then(({ data }) => (this.tipos = data));
        },

        cargarModoA(){
          if (this.$gate.esAdmin()) {
            axios.get("api/modo_atencion").then(({ data }) => (this.modosa = data));
          }
        },

        cargarCanales(){
          if (this.$gate.esAdmin()) {
            axios.get("api/canal_compra").then(({ data }) => (this.canales = data));
          }
        },

        cargarEstatus(){
          if (this.$gate.esAdmin()) {
            axios.get("api/case_status").then(({ data }) => (this.case_status = data));
          }
        },


        NuevoComentarioModal(){
          $('#addComentario').modal('show');
        },

        ComentarioModal(caso){
          this.numero_caso = caso.numero_caso;
          this.form.numero_caso = caso.numero_caso;
          $('#Comentario').modal('show');
          this.loadCasoComentarios();
        },

        vModalDetalleCaso(caso){
          //this.editmode = false;
          this.form.reset();
          this.Disable = true;
          this.canal = caso.canal_compra.nombre;
          this.modo = caso.modo_atencion.nombre;
          this.observacion = caso.obser_caso;
          this.falla = caso.falla_equipo;
          this.numero_caso = caso.numero_caso;
                this.piezasArray = caso.piezas_sugeridas.split(",");//Convertir un string en un array.
                for (var i = 0 ; i < this.piezasArray.length; i++) {       //Convertir un array en un objeto.
                this.piezasObj["pieza" + (i+1)] = this.piezasArray[i]; //
              }
                this.piezasObj = Object.entries(this.piezasObj).map(([key, value]) => ({key,value})); //Convertir un objeto en un array de objetos.
                this.selected = this.piezasObj;
                $('#vmdetalleCaso').modal('show');
                console.log(caso.case_status.case_status);
                this.form.fill(caso);
                if (caso.estado_caso_id == 2) {
                  console.log(caso.estado_caso_id);
                  this.form.estado_caso = caso.case_status.case_status;
                }
                else if (caso.estado_caso_id == 1) {
                  console.log(caso.estado_caso_id);
                  this.form.estado_caso = caso.case_status.case_status;
                }
                this.form.cedula = this.cedula;
                this.form.nacionalidad = this.nacionalidad;
                this.form.rif_emp = this.rif_emp;
                this.form.tipo_emp = this.tipo_emp;
                this.comprobarSE();
              },

        updateUser(){
          this.$Progress.start();
          this.form.put('api/user/'+this.form.id)
          .then(() => { // Validacion exitosa
          $('#addComentario').modal('hide')
          swal(
                  '¡Editado!',
                  'El usuario ha sido editado.',
                  'success'
                  )
          this.$Progress.finish();
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { // Validacion con error
            this.$Progress.fail();
            toast({
            type: 'error',
            title: 'Verifique los datos ingresados.'
            })
          });
        },

        crearComentario(){
          this.$Progress.start()
          this.form.post('api/comentario')
          .then((response) => { // Validacion exitosa
          this.$refs['addComentario'].hide()
          swal(
                  '¡Creación exitosa!',
                  'Comentario creado con éxito.',
                  'success'
                  )
          this.form.tipos = null;
          this.form.comentario = null;
          this.$Progress.finish()
          Fire.$emit('AfterCreate'); // Funcion para recargar nuevos datos en la pagina sin refrescar
          })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
            type: 'warning',
            title: 'Verifique los datos ingresados.'
            })
          })
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        comprobarSE(){
          this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
            this.form.modelo_equipo = data.data.modelo;
            console.log(data.data.modelo);
            console.log("Se comprobó el modelo");
          });           
        },

        salir(){
          this.$refs['addComentario'].hide()
          this.form.tipos = null;
          this.form.comentario = null;
        },

        atras(){
            //this.form.reset();
            EventBus.$emit('ocultar', false);
            EventBus.$emit('class', false);
            EventBus.$emit('ocultarLlamada', false);
            //this.selected = null;
            this.esconder2 = true;
            //this.statemod = null;
        },

        AtrasM(){
          this.selected = null;
          this.piezasObj = [];
          this.$refs['vmdetalleCaso'].hide()
        },

        AtrasMC(){
          this.$refs['Comentario'].hide()
        },
      }, 

    }
</script>