<template>
    <div class="container" v-show="!esconder">
        <div class="card">
            <div v-show = "hide" class="card-header">Creación de caso: <b>{{ nombre }}</b>{{ cedula }}</div>
            <div v-show = "!hide" class="card-header">Creación de caso: <b>{{ rif_emp }}</b>{{ nombre_emp }}</div>
            <div class="card-body">
                <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-sm-12">Serial del equipo</label>
                        <div class=" form-group col-md-12">
                            <b-form-input @keyup="comprobarSE" id="input-valid" :state="statemod" v-model="form.serial_equipo" type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('serial_equipo')}" placeholder="Serial del equipo"></b-form-input>
                            <has-error :form="form" field="serial_equipo"></has-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-sm-12">Modelo del equipo</label>
                        <div class="form-group col-md-12">
                            <b-form-select @change="comprobarME" id="dc" v-model="form.modelo_equipo" class="form-control" :class="{ 'is-invalid': form.errors.has('modelo_equipo')}">
                                <option :value="null" disabled>Seleccione un modelo de equipo</option>
                                <optgroup label="Portatiles">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'P')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Escritorio">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'E')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Todo en uno">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'A')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Mini PC">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'M')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Tableta">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'T')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Servidor">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'S')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                                <optgroup label="Monitores">
                                    <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'M')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                                </optgroup>
                            </b-form-select>
                            <has-error :form="form" field="modelo_equipo"></has-error>
                        </div>
                        <label class="col-sm-12">Canal de compra</label>
                        <div class="form-group col-md-12">
                            <b-form-select v-model="form.canal_compra_id" class="form-control" :class="{ 'is-invalid': form.errors.has('canal_compra_id')}">
                                <option :value="null" disabled="true">Seleccione un canal de compra</option>
                                <optgroup label="Canales de compra">
                                    <option v-for="canal in canalesdc.data" :value="canal.id" :key="canal.id">{{canal.nombre}}</option>
                                </optgroup>
                            </b-form-select>
                            <has-error :form="form" field="canal_compra_id"></has-error>
                        </div>
                        <label class="col-sm-12">Tipo del equipo</label>
                        <div class=" form-group col-md-12">
                            <b-form-select v-model="form.tipo_equipo" type="text" name="equipo" data-vv-as="Tipo del equipo" placeholder="Seleccione el tipo de equipo">
                          class="form-control" :class="{ 'is-invalid': form.errors.has('tipo_e') }">
                            <option selected disabled >Seleccione el tipo del equipo</option>
                            <option value="Servidor"> Servidor</option>
                            <option value="PC"> PC</option>
                            </b-form-select>
                            <has-error :form="form" field="canal"></has-error>
                        </div>
                        <label class="col-sm-12">Observación del caso</label>
                        <div class="form-group col-md-12">
                            <b-form-textarea id="textarea" v-model="form.obser_caso" :class="{ 'is-invalid': form.errors.has('obser_caso')}"
                                placeholder="Comentarios generales de las fallas..." rows="5" max-rows="5">
                            </b-form-textarea>
                            <has-error :form="form" field="obser_caso"></has-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-12">Fecha de adquisición</label>
                        <div class=" form-group col-md-12">
                            <b-form-input v-model="form.fecha_adqui" type="date" class="form-control" :class="{ 'is-invalid': form.errors.has('fecha_adqui')}" placeholder="Fecha de adquisición del equipo"></b-form-input>
                            <has-error :form="form" field="fecha_adqui"></has-error>
                        </div>

                        <label class="col-sm-12">Modo de atención</label>
                        <div class="form-group col-md-12">
                            <b-form-select v-model="form.modo_atencion_id" class="form-control" :class="{ 'is-invalid': form.errors.has('modo_atencion_id')}">
                                <option :value="null" disabled="true">Seleccione un modo de atención</option>
                                <optgroup label="Modos de atención">
                                    <option v-for="modoa in modosa.data" :value="modoa.id" :key="modoa.id">{{modoa.nombre}}</option>
                                </optgroup>
                            </b-form-select>
                            <has-error :form="form" field="modo_atencion_id"></has-error>
                        </div>
                        <label class="col-sm-12">Lugar de atención</label>
                        <div class=" form-group col-md-12">
                            <b-form-select v-model="form.canal_soporte_id" type="text" name="Canal" data-vv-as="Canal de soporte"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('canal') }">
                            <option value="" selected disabled hidden>Seleccione un lugar de Atención</option>
                            <option v-for="support_channel in support_channels" :value="support_channel.id" :key="support_channel.id">
                              {{ support_channel.nombre }}
                            </option>
                            </b-form-select>
                            <has-error :form="form" field="canal"></has-error>
                        </div>
                        <label class="col-sm-12">Falla que presenta</label>
                        <div class="form-group col-md-12">
                            <b-form-textarea id="textarea" v-model="form.falla_equipo" class="form-control" :class="{ 'is-invalid': form.errors.has('falla_equipo')}"
                                placeholder="Descripción especifica de las fallas..." rows="5" max-rows="5">
                            </b-form-textarea>
                            <has-error :form="form" field="falla_equipo"></has-error>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="col-sm-12">Piezas sugeridas 
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm hide" type="button">
                                    Cambiar versión
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                    <a class="dropdown-item disabled" href="#">Versiones</a>
                                    <a @click="dispatchAction(index)" v-for="(version, index) in versiones" class="dropdown-item">Versión: {{ index+1 }}</a>
                              </div>
                            </div>
                        </label>

                        <div class=" form-group col-md-12">
                        <multiselect v-model="selected" track-by="np" label="np" :options="options" :searchable="true" :close-on-select="false"
                            :show-labels="false" :multiple="true" :max="6" placeholder="Seleccione las piezas sugeridas">
                            <template slot="option" slot-scope="props">
                              <div class="option__desc"><span class="option__title">{{ props.option.np }}</span><span class="option__small">{{ props.option.desc }}</span></div>
                            </template>
                            <span slot="noResult">No se han encontrado resultados.</span>
                            <span slot="maxElements">Máximo de 6 opciones seleccionadas.</span>
                            <span slot="noOptions">Lista vacia.</span>
                        </multiselect>
                        <has-error :form="form" field="piezas_sugeridas"></has-error>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm  -offset-2 col-sm-12 text-center d-flex justify-content-end">
                        <button @click="atras()" class="btn btn-outline-danger mr-2">Atras</button>
                        <button @click="crearCaso" class="btn btn-success">Crear caso</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
    data() {

        return {
            statemod:null,
            esconder:true,
            hide:null,
            // Datos que uso del form emitido del AdmClientsComponent para la vista.
            nombre:null,
            cedula:null,
            rif_emp:null,
            nombre_emp:null,
            //
            modelos:[],
            canalesdc:[],
            modosa:[],
            versiones:[],
            numero_caso:null,
            support_channels:{},
            //Formulario
            form: new Form({
                nombre_modelo:null,
                client_id:null,
                company_id:null,
                serial_equipo:null,
                modelo_equipo:null,
                canal_compra_id:null,
                obser_caso:null,
                fecha_adqui:null,
                modo_atencion_id:null,
                falla_equipo:null,
                piezas_sugeridas:null,
                tipo_usuario:null,
                tecnico_id:null,
                canal_soporte_id:'',
                tipo_equipo:null,
            }),
            value:null,
            selected:null,
            options: [],
        }
    },
    mounted() {
        this.loadSupportChannels();
        this.listarModelos();
        this.listarCanalesdc();
        this.listarModosAtencion();
        EventBus.$on('datosCliente', (data) => {
            if( data.nombres != null){
                this.nombre = data.nombres+' '+data.apellidos;
                this.cedula = ' - '+data.cedula;
                this.form.client_id = data.id;
                if (this.form.client_id != null) {
                    this.form.company_id = null;
                }
                EventBus.$emit('ocultar', true);
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('datosClienteCaso', (data) => {
            if( data.nombres != null){
                this.nombre = data.nombres+' '+data.apellidos;
                this.cedula = ' - '+data.cedula;
                this.form.client_id = data.client_id;
                this.form.modelo_equipo = data.modelo_equipo;
                console.log(this.form.modelo_equipo);
                if (data.serial_equipo != null || data.serial_equipo != '') {
                    console.log(' no null y no vacio');
                    this.form.serial_equipo = data.serial_equipo;
                    this.comprobarME();
                }else{
                     console.log(' no null y no vacio');
                    this.form.serial_equipo = data.serial_equipo;
                    this.comprobarSE();
                }
                
                if (this.form.client_id != null) {
                    this.form.company_id = null;
                }
                EventBus.$emit('ocultar', true);
                this.ocultar = false;
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('datosEmpresa', (data) => {
            if( data.rif_emp != null){
                this.rif_emp = data.rif_emp;
                this.nombre_emp = ' - '+data.nombre_emp;
                this.form.company_id = data.id;
                if (this.form.company_id != null) {
                    this.form.client_id = null;
                }
                EventBus.$emit('ocultar', true);
                this.ocultar = false;
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('datosEmpresaCaso', (data) => {
            if( data.rif_emp != null){
                this.rif_emp = data.rif_emp;
                this.nombre_emp = ' - '+data.nombre_emp;
                this.form.company_id = data.company_id;
                this.form.modelo_equipo = data.modelo_equipo;
                if (data.serial_equipo != null || data.serial_equipo != '') {
                    this.form.serial_equipo = data.serial_equipo;
                    this.comprobarME();
                }else{
                    this.form.serial_equipo = data.serial_equipo;
                    this.comprobarSE();
                }
                if (this.form.company_id != null) {
                    this.form.client_id = null;
                }
                EventBus.$emit('ocultar', true);
                this.ocultar = false;
            }else{
                EventBus.$emit('ocultar', false);
            }
        });

        EventBus.$on('hide', (data) => {
                if(data != null){
                this.hide = data;
                }
            });

        EventBus.$on('esconder', (data) => {
                if(data != null){
                this.esconder = data;
                }
            });
    },
    beforeDestroy(){
        EventBus.$off('ocultar');
        EventBus.$off('datosCliente');
        EventBus.$off('datosEmpresa');
    },

    created(){
        axios.get("api/perfil").then(({ data }) => (
            this.form.tipo_usuario = data.usertype.id
        ));
    },

    methods: {

        loadSupportChannels(){
          axios.get("api/support_channels").then(({ data }) => (this.support_channels = data));
        },

        crearCaso(){
            this.$Progress.start();
            this.form.piezas_sugeridas = this.selected;
            this.form.post('api/caso').then((response) => {
                this.numero_caso = response.data.numero_caso;
                swal(
                    '¡Caso creado con éxito!',
                    'Numero de caso: '+this.numero_caso.bold(),
                    'success'
                )
                EventBus.$emit('ocultar', false);
                EventBus.$emit('class', false);
                this.esconder = true;
                this.statemod=null;
                this.back();
                this.$Progress.finish();
            }).catch(() => {
                toast({
                    type: 'warning',
                    position: 'top-end',
                    timerProgressBar: true,
                    title: 'Ya existe un caso activo con ese serial.'
                })
                this.$Progress.fail();

            });
        },
        comprobarSE(){
            this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
                this.form.modelo_equipo = data.data.id;
                this.form.nombre_modelo = data.data.modelo;
                this.buscarPiezasSu();
                this.statemod = true;
            }).catch(() => {
                console.log('catch');
                console.log(this.form.serial_equipo);
                if (this.form.serial_equipo == null || this.form.serial_equipo == '') {
                    this.statemod = null;
                }else{
                    this.statemod = false;   
                }
                
            });                
        },

        comprobarME(){
            this.form.get('api/sgp/modelos').then((data) => {
                this.buscarPiezasSu();
                this.statemod = true;
            })
            if((this.form.serial_equipo === "")||(this.form.serial_equipo === null)){
                this.statemod = null;
            }else{
                this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
                    this.form.modelo_equipo = data.data.id;
                    this.buscarPiezasSu();
                    this.statemod = true;
                }).catch(() => {
                    this.statemod = false;
                });
            }
        },

        back() {
            this.form.reset();
            this.selected = null;
            this.statemod = null;
            EventBus.$emit('atrasLlamada', true);
        },

        atras(){
            this.form.reset();
            EventBus.$emit('ocultar', false);
            EventBus.$emit('class', false);
            EventBus.$emit('atrasLlamada', true);
            this.selected = null;
            this.esconder = true;
            this.statemod = null;
        },

        dynamicDropdown(url, data){
            axios.get(url)
            .then(response => this[data] = response.data)
            .catch(error => console.log(error))
        },

        listarModelos(){
            let url = 'api/sgp/modelos';
            this.dynamicDropdown(url, 'modelos');
        }, 

        listarCanalesdc(){
            let url = 'api/canal_compra';
            this.dynamicDropdown(url, 'canalesdc');
        }, 

        listarModosAtencion(){
            let url = 'api/modo_atencion';
            this.dynamicDropdown(url, 'modosa');
        },

        buscarPiezasSu(){
            this.selected = null;
            this.form.post('api/sgp/piezas_sugeridas').then((data) => {
                this.options = data.data[0];
                this.versiones = data.data;
            }).catch(() => {
                console.log('malo');
            });
        },

        dispatchAction (version) {
            this.form.post('api/sgp/piezas_sugeridas').then((data) => {
                this.selected = null;
                this.options = data.data[version];  
                toast({
                    type: 'success',
                    position: 'bottom-end',
                    title: 'Versión '+(version+1)+' cargada.'
                })
            }).catch(() => {
                console.log('malo');
            });
        }, 
    },
}
</script>
