<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">
                <ul class="nav nav-pills">
                    <li v-show="!cedulaOk" class="nav-item"><a class="nav-link active show" href="#personas"
                        data-toggle="tab">Personas</a></li>
                    <li v-show="!rifOk" class="nav-item"><a class="nav-link" href="#empresas"
                        data-toggle="tab">Empresas</a></li>
                    <li v-show="!nCaso" class="nav-item"><a class="nav-link" href="#numeroCaso"
                        data-toggle="tab">Número de Caso</a></li>
                    <li v-show="!nSerial" class="nav-item"><a class="nav-link" href="#serialCaso"
                        data-toggle="tab">Número de Serial</a></li>
                </ul>
            </div>
            
            <div class="card-body">
            <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
                <div class="tab-content">
                    <div class="tab-pane active show" id="personas">
                        <form class="form-horizontal">
                            <div v-show="!cedulaOk">
                                <label for="searchp" class="col-sm-12 control-label">Buscar persona</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <select v-model="form.nacionalidad" type="text" placeholder="Nacionalidad"
                                        class="control form-control custom-select"
                                        :class="{ 'is-invalid': form.errors.has('nacionalidad')}">
                                        <option value="" selected disabled hidden>Nacionalidad</option>
                                        <option value="V">V</option>
                                        <option value="E">E</option>
                                        </select>
                                    </div>
                                    <input v-mask="'##########'" v-model="form.cedula" type="text" placeholder="Cedula"
                                    class="control form-control"
                                    :class="{ 'is-invalid': form.errors.has('cedula')}">
                                    <span class="input-group-append">
                                        <button @click="buscarCliente()" type="button"
                                                class="btn btn-info">Buscar</button>
                                    </span>
                                    <has-error :form="form" field="nacionalidad"></has-error>
                                    <has-error :form="form" field="cedula"></has-error>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- TAB DE EMPRESA -->
                    <div class="tab-pane" id="empresas">
                        <form class="form-horizontal">
                            <div v-show="!rifOk">
                                <label for="searche" class="col-sm-12 control-label">Buscar empresa</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <select v-model="form.tipo_emp" type="text" placeholder="Tipo"
                                        class="control form-control custom-select"
                                        :class="{ 'is-invalid': form.errors.has('tipo_emp')}">
                                            <option value="" selected disabled hidden>Tipo de RIF</option>
                                            <option value="G">G</option>
                                            <option value="J">J</option>
                                        </select>
                                    </div>
                                    <input v-mask="'##########'" v-model="form.rif_emp" type="text"
                                    placeholder="Número de RIF" class="control form-control"
                                    :class="{ 'is-invalid': form.errors.has('rif_emp')}">
                                    <span class="input-group-append">
                                        <button @click="buscarEmpresa()" type="button"
                                        class="btn btn-info">Buscar</button>
                                    </span>
                                    <has-error :form="form" field="tipo_emp"></has-error>
                                    <has-error :form="form" field="rif_emp"></has-error>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- TAB DE NUMERO DE CASO -->
                    <div class="tab-pane" id="numeroCaso">
                        <form class="form-horizontal">
                            <div v-show="!nCaso">
                                <label for="searche" class="col-sm-12 control-label">Buscar caso</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                    </div>
                                    <input type="text" v-model="form.numero_caso" class="form-control" placeholder="Numero de caso" aria-label="Numero de caso" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button @click="buscarCaso()" class="btn btn-info" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- TAB DE NUMERO DE SERIAL -->
                    <div class="tab-pane" id="serialCaso">
                        <form class="form-horizontal">
                            <div v-show="!nSerial">
                                <label for="searche" class="col-sm-12 control-label">Buscar Serial</label>
                                <div class="input-group col-sm-12 mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                    </div>
                                    <input v-mask="'XXXXXXXXXX'" type="text" v-model="form.serial_equipo" class="form-control" placeholder="Numero de serial" aria-label="Numero de caso" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button @click="buscarSerial()" class="btn btn-info" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <form @submit.prevent="updateCaso()" class="form-horizontal" >
                    <div v-show = "!datos">
                        <div class="row">
                            <b-col>
                                <div class="form-group">
                                    <div v-show = "hide"  class="input-group col-sm-12">
                                        <div class="col-md-6 float-left">
                                            <label v-show = "hide" class="col-sm-13 control-label">Cliente</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-model="this.nombres" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 float-left">
                                            <label v-show = "hide" class="col-sm-13 control-label">Cedula</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-model="this.cedula" type="text" name="cedula" class="form-control" id="cedula" placeholder="cedula">
                                            </div>
                                        </div>
                                    </div>

                                    <div v-show = "!hide" class="input-group col-sm-12">
                                        <div class="col-md-6 float-left">
                                            <label v-show = "!hide" class="col-sm-13 control-label">Empresa</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-model="this.nombre_emp" type="text" name="NombreEmpresa" class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa">
                                            </div>

                                        </div>

                                        <div class="col-md-6 float-left">
                                            <label v-show = "!hide" class="col-sm-13 control-label">Rif</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                                <input disabled v-mask="'##########'" v-model="this.rif_emp" type="text" readonly="readonly" class="form-control" placeholder="Rif" :class="{ 'is-invalid': form.errors.has('this.rif_emp') }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-col>
                        </div>

                        <div class="row">
                            <b-col>
                                <div v-show = "hide" class="form-group">
                                    <div class="input-group col-sm-12">
                                        <div class="col-md-6 float-left">
                                            <label for="Password" class="col-sm-13 control-label">Telefono</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1" type="text" name="TlfPersonal" class="form-control" id="tlfPersonal" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlfPersonal') }" data-vv-as="Telefono Personal">
                                            </div>
                                        </div>
                                        <div class="col-md-6 float-left">
                                            <label for="Password" class="col-sm-13 control-label">Correo</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                                                <input v-model="this.email1" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-col>   
                        </div>

                        <div v-show = "!hide" class="form-group">
                            <div class="row">
                                <b-col>
                                    <div class="input-group col-sm-12">
                                        <div class="col-md-6 float-left">
                                            <label for="tlfPersonal" class="col-sm-13">Telefono</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1_emp" type="text" name="tlf1" class="form-control" id="tlf1" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlf1') }" data-vv-as="Telefono Personal">
                                            </div>
                                        </div>
                                        <div class="col-md-6 float-left">
                                            <label for="tlfPersonal" class="col-sm-13">Correo</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                                                <input v-model="this.email_emp" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('form.email_emp') }">
                                            </div>
                                        </div>
                                    </div>   
                                </b-col>
                            </div>
                        </div>

                        <div class="content">
                            <div class="table-responsive">
                            <table class="table table-striped table-condensed" id="tblGrid">
                                <thead id="tblHead">
                                    <tr>
                                        <th>N° de caso</th>
                                        <th>Serial del equipo</th>
                                        <th>Fecha</th>
                                        <th>Estatus</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="caso in casos" :key="caso.id">
                                        <td>{{caso.numero_caso}}</td>
                                        <td>{{caso.serial_equipo}}</td>  
                                        <td>{{caso.updated_at}}</td>
                                        <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 2">
                                            <td><span class="badge badge-success">Abierto</span></td>
                                        </div>
                                        <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 1">
                                            <td><span class="badge badge-warning">En espera</span></td>
                                        </div>
                                        <td>
                                            <a href="#" v-b-modal.vmdetalleCaso @click="vModalDetalleCaso(caso)"><i class="btn btn-primary fa fa-search"></i></a>
                                            <a href="#"  v-b-modal.vmdetalleCaso @click="vModalEditarCaso(caso)"><i class="btn btn-success fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>

                    <!-- Modal  DETALLES DEL CASO -->
                    <div class="row justify-content-md-center">
                    <b-modal class="modal fade modal-open modal" centered size="lg" id="vmdetalleCaso" ref="vmdetalleCaso" tabindex="-1" role="dialog" aria-labelledby="detalleCasoLabel" aria-hidden="true" hide-footer title="Detalle del Caso" no-close-on-backdrop >
                        <template slot="modal-header" slot-scope="{ close }">
                            <h5 v-show="!editmode" id="BuscarCasoLabel" class="modal-title">Detalles del caso</h5>
                            <h5 v-show="editmode" id="EditarCasoLabel" class="modal-title">Editar Caso</h5>
                        </template>
                        <div class="modal-body">
                            <div class="form-group"> 
                                <div v-show = "hide"  class="input-group col-sm-13">
                                    <div class="col-md-6 float-left">
                                        <label v-show = "hide" class="col-sm-13 control-label">Cliente</label> 
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                            <input readonly="readonly" v-model="this.nombres" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                                        </div>
                                    </div>
                                    <div class="col-md-6 float-left">
                                        <label v-show = "hide" class="col-sm-13 control-label">Cedula</label>
                                        
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                            <input readonly="readonly" v-model="this.cedula" type="text" name="cedula" class="form-control" id="cedula" placeholder="cedula">
                                        </div>
                                    </div>
                                </div>

                                <div v-show = "!hide" class="input-group col-sm-13">
                                    <div class="col-md-6 float-left">
                                        <label v-show = "!hide" class="col-sm-13 control-label">Empresa</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                            <input readonly="readonly" v-model="this.nombre_emp" type="text" name="NombreEmpresa" class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 float-left">
                                        <label v-show = "!hide" class="col-sm-13 control-label">Rif</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                            <input disabled v-mask="'##########'" v-model="this.rif_emp" type="text" readonly="readonly" class="form-control" placeholder="Rif" :class="{ 'is-invalid': form.errors.has('this.rif_emp') }">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show = "hide" class="form-group">
                                <div class="input-group col-sm-13">
                                    <div class="col-md-6 float-left">
                                        <label for="Password" class="col-sm-13 control-label">Telefono</label> 
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                                            <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1" type="text" name="TlfPersonal" class="form-control" id="tlfPersonal" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlfPersonal') }" data-vv-as="Telefono Personal">
                                        </div>
                                    </div>
                                    <div class="col-md-6 float-left">
                                        <label for="Password" class="col-sm-13 control-label">Correo</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                                            <input v-model="this.email1" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show = "!hide" class="form-group">
                                <div class="input-group col-sm-13">
                                    <div class="col-md-6 float-left">
                                        <label for="tlfPersonal" class="col-sm-13">Telefono</label> 
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                                            <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1_emp" type="text" name="tlf1" class="form-control" id="tlf1" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlf1') }" data-vv-as="Telefono Personal">
                                        </div>
                                    </div>

                                    <div class="col-md-6 float-left">
                                        <label for="tlfPersonal" class="col-sm-13">Correo</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                                            <input v-model="this.email_emp" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('form.email_emp') }">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group">
                                    <div class="input-group col-sm-13">
                                        <div class="col-md-3 float-left mr-3">
                                            <label for=""  class="col-sm-13">N° de Caso</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                                                <input readonly="readonly" v-model="form.numero_caso" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Numero del Caso">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 float-left ml-4 mr-4">
                                            <label for="" class="col-sm-13">Serial del equipo</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                                                <input :disabled="Disable"  v-model="form.serial_equipo" type="text" readonly="readonly" class="form-control" placeholder="Serial del Equipo" :class="{ 'is-invalid': form.errors.has('serial_equipo') }">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3 float-left ml-3">
                                            <label for="" class="col-sm-13">Modelo del equipo</label> 
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                                                <input :disabled="Disable" v-model="form.modelo_equipo" type="text" readonly="readonly" class="form-control" placeholder="Modelo del equipo" :class="{ 'is-invalid': form.errors.has('cedula') }">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-sm-13">
                                        <div class="col-md-6 float-left">
                                            <label class="col-sm-13">Lugar de Atención</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                                                <b-form-select :disabled="Disable" v-model="form.canal_soporte_id" type="text" name="Canal" data-vv-as="Canal de soporte"
                                                class="form-control" :class="{ 'is-invalid': form.errors.has('canal') }">
                                                    <option value="" selected disabled hidden>Seleccione un lugar de Atención</option>
                                                    <option v-for="support_channel in support_channels" :value="support_channel.id" :key="support_channel.id">
                                                      {{ support_channel.nombre }}
                                                    </option>
                                                </b-form-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 float-left">
                                            <label class="col-sm-12">Tipo del equipo</label>
                                            <div class=" form-group col-md-12">
                                                <b-form-select :disabled="Disable" v-model="form.tipo_equipo" type="text" name="equipo" data-vv-as="Tipo del equipo"
                                                class="form-control" :class="{ 'is-invalid': form.errors.has('tipo_e') }">
                                                    <option selected disabled >Seleccione el tipo del equipo</option>
                                                    <option value="Servidor"> Servidor</option>
                                                    <option value="PC"> PC</option>
                                                </b-form-select>
                                                <has-error :form="form" field="canal"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group col-sm-13">
                                        <div class="col-md-6 float-left">
                                            <label for="tlfPersonal" class="col-sm-13">Fecha</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                                                <input :disabled="true" v-model="form.updated_at" type="text" name="fecha" class="form-control excep" id="updated_at" placeholder="Fecha" :class="{ 'is-invalid': form.errors.has('updated_at') }" data-vv-as="Telefono Personal">
                                            </div>
                                        </div>
                                        <div class="col-md-6 float-left">
                                            <label for="tlfPersonal" class="col-sm-13">Estatus</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                                                <input :disabled="true" v-model="form.estado_caso" type="text" class="form-control excep" id="inputEmail" placeholder="Estado del caso" :class="{ 'is-invalid': form.errors.has('estado_caso') }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-sm-12">Canal de compra</label>
                                    <div v-show="!editmode" class="form-group col-md-12">
                                        <b-form-select v-model="this.canal" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('canal_compra')}">
                                            <option :value="this.canal" disabled="true">{{ this.canal }}</option>
                                            <optgroup label="Canales de compra">
                                                <option v-for="canal in canales.data" :value="canal.id" :key="canal.id">{{canal.nombre}}</option>
                                            </optgroup>
                                        </b-form-select>
                                        <has-error :form="form" field="canal_compra_id"></has-error>
                                    </div>
                                    <div v-show="editmode" class="form-group col-md-12">
                                        <b-form-select v-model="form.canal_compra_id" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('canal_compra')}">
                                            <option :value="this.canal" disabled="true">{{ this.canal }}</option>
                                            <optgroup label="Canales de compra">
                                                <option v-for="canal in canales.data" :value="canal.id" :key="canal.id">{{canal.nombre}}</option>
                                            </optgroup>
                                        </b-form-select>
                                        <has-error :form="form" field="canal_compra_id"></has-error>
                                    </div>
                                    <label class="col-sm-12">Observación del caso</label>
                                    <div v-show="!editmode" class="form-group col-md-12">
                                        <b-form-textarea class="form-control" id="textarea" v-model="this.observacion" :disabled="Disable" :class="{ 'is-invalid': form.errors.has('obser_caso')}"
                                        placeholder="Comentarios generales de las fallas..." rows="5" max-rows="5">
                                        </b-form-textarea>
                                    <has-error :form="form" field="obser_caso"></has-error>
                                    </div>
                                    <div v-show="editmode" class="form-group col-md-12">
                                        <b-form-textarea class="form-control" id="textarea" v-model="form.obser_caso" :disabled="Disable" :class="{ 'is-invalid': form.errors.has('obser_caso')}"
                                            placeholder="Comentarios generales de las fallas..." rows="5" max-rows="5">
                                        </b-form-textarea>
                                        <has-error :form="form" field="obser_caso"></has-error>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label class="col-sm-12">Modo de atención</label>
                                    <div v-show="!editmode" class="form-group col-md-12">
                                        <b-form-select v-model="this.modo" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('modo_atencion')}">
                                            <option :value="this.modo">{{ this.modo }}</option>
                                                    <optgroup label="Modos de atención">
                                                    <option v-for="modoa in modosa.data" :value="modoa.id" :key="modoa.id">{{modoa.nombre}}</option>
                                                </optgroup>
                                            </b-form-select>
                                            <has-error :form="form" field="modo_atencion_id"></has-error>
                                        </div>
                                    <div v-show="editmode" class="form-group col-md-12">
                                        <b-form-select v-model="form.modo_atencion_id" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('modo_atencion')}">
                                            <option :value="this.modo">{{ this.modo }}</option>
                                                    <optgroup label="Modos de atención">
                                                    <option v-for="modoa in modosa.data" :value="modoa.id" :key="modoa.id">{{modoa.nombre}}</option>
                                                </optgroup>
                                            </b-form-select>
                                            <has-error :form="form" field="modo_atencion_id"></has-error>
                                        </div>
                                        <label class="col-sm-12">Falla que presenta</label>
                                        <div v-show ="!editmode" class="form-group col-md-12">
                                            <b-form-textarea id="textarea" v-model="this.falla" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('this.falla')}"
                                            placeholder="Descripción especifica de las fallas..." rows="5" max-rows="5">
                                        </b-form-textarea>
                                        <has-error :form="form" field="this.falla"></has-error>
                                    </div>
                                    <div v-show ="editmode" class="form-group col-md-12">
                                            <b-form-textarea id="textarea" v-model="form.falla_equipo" :disabled="Disable" class="form-control" :class="{ 'is-invalid': form.errors.has('falla_equipo')}"
                                            placeholder="Descripción especifica de las fallas..." rows="5" max-rows="5">
                                        </b-form-textarea>
                                        <has-error :form="form" field="falla_equipo"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" form-group col-md-12">
                                    <label class="col-sm-12">Piezas sugeridas</label>
                                    <div>
                                        <multiselect v-model="selected" track-by="value" label="value" :options="this.piezasObj" :searchable="true" :close-on-select="true"
                                        :show-labels="true" :multiple="true" :disabled="isDisabled" :allow-empty="true" :max="3" placeholder="Seleccione las solicitudes" select-label="Presione entrer para seleccionar">
                                            <template slot="option" slot-scope="props">
                                                <div class="option__desc"><span class="option__title">{{ props.option.value }}</span><span class="option__small">{{ props.option.desc }}</span></div>
                                            </template>
                                            <span slot="noResult">No se han encontrado resultados.</span>
                                            <span slot="maxElements">Máximo de 6 opciones pueden ser seleccionadas.</span>
                                            <span slot="noOptions">Lista vacia.</span>
                                        </multiselect>
                                    </div>
                                    <has-error :form="form" field="casos"></has-error>
                                </div>
                            </div>
                        </div><!-- Modal-body -->
                        <div class="modal-footer" >
                            <button v-show = "editmode"  @click="AtrasM()" type="button" class="btn btn-outline-danger" data-dismiss="modal">Salir</button>
                            
                            <button v-show = "!editmode" @click="AtrasM()" type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>

                            <button v-show="editmode" @click="updateCaso()" type="submit" class="btn btn-primary">Editar</button>
                        </div>   
                    </b-modal>
                </div>
                </form>
            </div><!-- cierre del card-bodi -->
            <div class="card-footer clearfix">
            <!-- contenido del card-footer -->
                <div v-show = "footer">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div v-show = "nav" class="col-sm-6 d-flex justify-content-center">
                            <nav>
                                <ul class="pagination">
                                    <li  class="page-item" v-if="pagination.current_page > 1">
                                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">Atras</a>
                                    </li>
                                    <li class="page-item" v-for="page in pagesNumber" :class="[ page == isActived ? 'active' : '']"> 
                                        <a class="page-link" href="#" @click.prevent="changePage(page)">
                                          {{ page }}
                                      </a>
                                  </li>
                                  <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-sm-3">
                            <button @click="Atras()"  type="button" class="btn btn-danger float-right" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- cierre del card-footer -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                modelos:[],
                cedulaOk: false,
                rifOk: false,
                nCaso:false,
                nSerial:false,
                datos:true,
                footer:false,
                nav:true,
                hide:true,
                isDisabled:true,
                Disable: true,
                detalle:false,
                editmode:false,
                canal:{},
                modo:{},
                casos:[],
                canales:[],
                modosa:[],
                case_status:[],
                cliente:{},
                versiones:[],
                pagination:{
                  'total':0,
                  'current_page' :0,
                  'per_page' :0,
                  'last_page' :0,
                  'from' :0,
                  'to' :0,
                },
                offset:3,
                value:null,
                selected:null,
                cedula:null,
                nacionalidad:null,
                numero_caso:null,
                serial_equipo:null,
                nombres:null,
                nombre_emp:null,
                descripcion:null,
                tipo_emp:null,
                rif_emp:null,
                tlf1:null,
                tlf1_emp:null,
                email1:null,
                email_emp:null,
                observacion:null,
                falla:null,
                piezasArray:[],
                piezasObj:[],
                piezas_sugeridas:null,
                support_channels:{},
                form: new Form({
                    id:null,
                    numero_caso:null,
                    serial_equipo:null,
                    modelo_equipo:null,
                    updated_at:null,
                    estado_caso:null,
                    canal_compra_id:null,
                    modo_atencion_id:null,
                    obser_caso:null,
                    falla_equipo:null,
                    piezas_sugeridas:null,
                    rif_emp:null,
                    tipo_emp:null,
                    cedula:null,
                    nacionalidad:null,
                    canal_soporte_id:'',
                    tipo_equipo:null,

                })
            }
        },

        mounted() {
            this.loadSupportChannels();
            this.listarModelos();
        },

        created() {
            Fire.$on('AfterCreate',() => {
              this.recargarCasos();
          });
        },

        computed: {

      isActived: function(){
        return this.pagination.current_page;
      },

      pagesNumber: function(){
        if(!this.pagination.to){

          return [];
        }

        var from = this.pagination.current_page - this.offset; //Todo offset
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2); //Todo
        if(to >= this.pagination.last_page){
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while(from <= to){
          pagesArray.push(from);
          from++;
        }

        return pagesArray;

      }
    },

        methods: {
            listarModelos(){
                let url = 'api/sgp/modelos';
                this.dynamicDropdown(url, 'modelos');
            }, 

            loadSupportChannels(){
              axios.get("api/support_channels").then(({ data }) => (this.support_channels = data));
            },


            changePage: function(page){
                this.pagination.current_page = page;
                
                if (this.cedula && this.nacionalidad != null) {
                    this.buscarCliente(page);
                }

                if (this.rif_emp && this.tipo_emp != null) {
                    this.buscarEmpresa(page);
                }
                
            },

            recargarCasos(){

                if (this.nacionalidad && this.cedula !=null) {
                    axios.get('/api/vCaso/'+this.form.nacionalidad+'/'+this.form.cedula)
                    .then((response) => {
                        this.casos = response.data.casos.data;
                        console.log("cliente")
                    })
                }

                if (this.tipo_emp && this.rif_emp !=null) {
                    axios.get('/api/jCaso/'+this.form.tipo_emp+'/'+this.form.rif_emp)
                    .then((response) => {
                        this.casos = response.data.casos.data;
                        console.log("empresa")
                    })
                }

                if (this.numero_caso !=null) {
                    axios.get('/api/nCaso/'+this.form.numero_caso)
                    .then((response) => {
                        this.casos = response.data;
                        console.log("caso")
                    })
                }

                if (this.serial_equipo !=null) {
                    axios.get('/api/sCaso/'+this.form.serial_equipo)
                    .then((response) => {
                        this.casos = response.data;
                        console.log("serial")
                    })
                }

            },

            buscarCliente(page){
                $('.alert').alert('close');
                this.$Progress.start()
                this.form.post('api/searchClientP')
                axios.get('/api/vCaso/'+this.form.nacionalidad+'/'+this.form.cedula+'?page='+page)
                .then((response) => {
                    this.casos = response.data.casos.data;
                    this.pagination = response.data.pagination;
                    this.nombres = response.data.casos.data[0].cliente.nombres;
                    this.tlf1 = response.data.casos.data[0].cliente.tlf1;
                    this.email1 = response.data.casos.data[0].cliente.email1;
                    this.cedula = this.form.cedula;
                    this.nacionalidad = this.form.nacionalidad;
                    this.cedulaOk= true;
                    this.rifOk = true;
                    this.nCaso = true;
                    this.nSerial = true;
                    this.datos = false;
                    this.footer = true;

                    toast({
                        type: 'success',
                        title: 'Búsqueda exitosa.'
                    })
                    EventBus.$emit('class', true);
                    EventBus.$emit('esconder', false);
                    this.$Progress.finish();
                    }).catch(() => { //Validacion con error
                        this.$Progress.fail()
                        toast({
                            type: 'warning',
                            title: 'Verifique los datos ingresados.'
                        })
                    })
                },

                buscarEmpresa(page){
                    $('.alert').alert('close');
                    this.$Progress.start()
                    this.form.post('api/searchClientE')
                    axios.get('/api/jCaso/'+this.form.tipo_emp+'/'+this.form.rif_emp+'?page='+page)
                    .then((response) => {
                        this.casos = response.data.casos.data;
                        this.pagination = response.data.pagination;
                        this.nombre_emp = response.data.casos.data[0].empresa.nombre_emp
                        this.tlf1_emp = response.data.casos.data[0].empresa.tlf1_emp;
                        this.email_emp = response.data.casos.data[0].empresa.email_emp;
                        this.rif_emp = this.form.rif_emp;
                        this.tipo_emp = this.form.tipo_emp;
                        this.cedulaOk=true;
                        this.rifOk= true;
                        this.nCaso = true;
                        this.nSerial = true;
                        this.datos = false;
                        this.hide = false;
                        this.footer = true;
                        toast({
                            type: 'success',
                            title: 'Búsqueda exitosa.'
                        })
                        EventBus.$emit('class', true);
                        EventBus.$emit('esconder', false);
                        this.$Progress.finish();
                    }).catch(() => {
                        toast({
                            type: 'warning',
                            title: 'Empresa no registrada.'
                        })
                        this.$Progress.fail();
                    })

                },

                buscarCaso(){
                    $('.alert').alert('close');
                    this.$Progress.start()
                    axios.get('/api/nCaso/'+this.form.numero_caso)
                    .then((response) => {
                        console.log("caso casito");
                        this.casos = response.data;
                        if(response.data[0].empresa != null){
                            this.empresa = response.data[0].empresa;
                            this.nombre_emp = this.empresa.nombre_emp
                            this.rif_emp = this.empresa.rif_emp;
                            this.tlf1_emp = this.empresa.tlf1_emp;
                            this.email_emp = this.empresa.email_emp;
                            this.casos = response.data;
                            this.numero_caso = this.form.numero_caso;
                            this.hide = false;
                        }
                        if(response.data[0].cliente != null){
                            this.cliente = response.data[0].cliente;
                            this.nombres = this.cliente.nombres;
                            this.cedula = this.cliente.cedula;
                            this.tlf1 = this.cliente.tlf1;
                            this.email1 = this.cliente.email1;
                            this.numero_caso = this.form.numero_caso;
                        }
                        this.cedulaOk=true;
                        this.rifOk= true;
                        this.nCaso = true;
                        this.nSerial = true;
                        this.datos = false;
                        this.footer = true;
                        this.nav = false;
                        toast({
                            type: 'success',
                            title: 'Búsqueda exitosa.'
                        })
                        EventBus.$emit('class', true);
                        this.$Progress.finish();
                    }).catch(() => {
                        toast({
                            type: 'warning',
                            title: 'El numero de caso no existe.'
                        })
                        this.$Progress.fail();
                    })

                },

                buscarSerial(){
                    $('.alert').alert('close');
                    this.$Progress.start()
                    axios.get('/api/sCaso/'+this.form.serial_equipo)
                    .then((response) => {
                        console.log(response.data);
                        this.casos = response.data;
                        if(response.data[0].empresa != null){
                            this.empresa = response.data[0].empresa;
                            this.nombre_emp = this.empresa.nombre_emp
                            this.rif_emp = this.empresa.rif_emp;
                            this.tlf1_emp = this.empresa.tlf1_emp;
                            this.email_emp = this.empresa.email_emp;
                            this.casos = response.data;
                            this.serial_equipo = this.form.serial_equipo;
                            this.hide = false;
                        }
                        if(response.data[0].cliente != null){
                            this.cliente = response.data[0].cliente;
                            this.nombres = this.cliente.nombres;
                            this.cedula = this.cliente.cedula;
                            this.tlf1 = this.cliente.tlf1;
                            this.email1 = this.cliente.email1;
                            this.serial_equipo = this.form.serial_equipo;
                        }
                        this.cedulaOk=true;
                        this.rifOk= true;
                        this.nCaso = true;
                        this.nSerial = true;
                        this.datos = false;
                        this.footer = true;
                        this.nav = false
                        toast({
                            type: 'success',
                            title: 'Búsqueda exitosa.'
                        })
                        EventBus.$emit('class', true);
                        this.$Progress.finish();
                    }).catch(() => {
                        toast({
                            type: 'warning',
                            title: 'El numero de serial es incorrecto.'
                        })
                        this.$Progress.fail();
                    })

                },

                updateCaso(){
                    this.$Progress.start();
                    this.form.put('api/gestionar/'+this.form.id)
                  .then(() => { // Validacion exitosa
                    this.$Progress.finish();// Funcion para recargar nuevos datos en la pagina sin refrescar
                    Fire.$emit('AfterCreate');
                    $('#addCall').modal('hide')
                    swal(
                      '¡Editado!',
                      'La informacion ha sido editada.',
                      'success'
                      ).then(() =>{
                        this.AtrasM();
                    })
              })
                  .catch(() => { // Validacion con error
                    this.$Progress.fail();
                    toast({
                        type: 'error',
                        title: 'Verifique los datos ingresados.'
                    })
                });
              },

        vModalDetalleCaso(caso){
            this.editmode = false;
            this.form.reset();
            this.Disable = true;
            this.canal = caso.canal_compra.nombre;
            this.modo = caso.modo_atencion.nombre;
            this.observacion = caso.obser_caso;
            this.falla = caso.falla_equipo;
            this.piezasArray = caso.piezas_sugeridas.split(","); //Convertir un string en un array.
            for (var i = 0 ; i < this.piezasArray.length; i++) { //Convertir un array en un objeto.
                this.piezasObj["pieza" + (i+1)] = this.piezasArray[i]; //
            }
                this.piezasObj = Object.entries(this.piezasObj).map(([key, value]) => ({key,value})); //Convertir un objeto en un array de objetos.
                this.selected = this.piezasObj;
                $('#vmdetalleCaso').modal('show');
                console.log(caso.case_status.case_status);
                this.form.fill(caso);
                if (caso.estado_caso_id == 2) {
                    console.log(caso.estado_caso_id);
                    this.form.estado_caso = caso.case_status.case_status;
                }
                else if (caso.estado_caso_id == 1) {
                    console.log(caso.estado_caso_id);
                    this.form.estado_caso = caso.case_status.case_status;
                }
                this.form.cedula = this.cedula;
                this.form.nacionalidad = this.nacionalidad;
                this.form.rif_emp = this.rif_emp;
                this.form.tipo_emp = this.tipo_emp;
            },

            vModalEditarCaso(caso){
                this.editmode = true;
                this.cargarCanales();
                this.cargarModoA();
                this.cargarEstatus();
                this.form.reset();
                this.Disable = false;
                this.canal = caso.canal_compra.nombre;
                this.modo = caso.modo_atencion.nombre;
                this.observacion = caso.obser_caso;
                this.falla = caso.falla_equipo;
                this.piezasArray = caso.piezas_sugeridas.split(",");//Convertir un string en un array.
                for (var i = 0 ; i < this.piezasArray.length; i++) {//Convertir un array en un objeto.
                this.piezasObj["pieza" + (i+1)] = this.piezasArray[i]; //
            }
                this.piezasObj = Object.entries(this.piezasObj).map(([key, value]) => ({key,value})); //Convertir un objeto en un array de objetos.
                this.selected = this.piezasObj;
                $('#vmdetalleCaso').modal('show');
                this.form.fill(caso);
                if (caso.estado_caso_id ==2) {
                    console.log(caso.estado_caso_id);
                    this.form.estado_caso = caso.case_status.case_status;
                }
                else if (caso.estado_caso_id == 1) {
                    console.log(caso.estado_caso_id);
                    this.form.estado_caso = caso.case_status.case_status;
                }
                this.form.cedula = this.cedula;
                this.form.nacionalidad = this.nacionalidad;
                this.form.rif_emp = this.rif_emp;
                this.form.tipo_emp = this.tipo_emp;
                this.form.numero_caso = caso.numero_caso;
            },

            comprobarSE(){
                
                this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
                    this.form.modelo_equipo = data.data.modelo;
                    console.log(data.data.modelo);
                    console.log("Se comprobó el modelo");
                });           
            },

            comprobarME(){
                this.form.get('api/sgp/modelos').then((data) => {
                    this.form.modelo_equipo = data.data.modelo;
                    this.buscarPiezasSu();
                    this.statemod = true;
                })
            },
            cargarModoA(){
              if (this.$gate.esAdmin()) {
                  axios.get("api/modo_atencion").then(({ data }) => (this.modosa = data));
              }
          },

          cargarCanales(){
              if (this.$gate.esAdmin()) {
                  axios.get("api/canal_compra").then(({ data }) => (this.canales = data));
              }
          },

          cargarEstatus(){
              if (this.$gate.esAdmin()) {
                  axios.get("api/case_status").then(({ data }) => (this.case_status = data));
              }
          },

            Atras(){
                this.form.reset();
                this.cedula = null;
                this.nacionalidad = null;
                this.rif_emp = null;
                this.tipo_emp = null;
                this.numero_caso = null;
                this.serial_equipo = null;
                this.selected = null;
                this.piezasObj = [];
                this.cedulaOk=false;
                this.rifOk= false;
                this.nCaso = false;
                this.nSerial = false;
                this.datos = true;
                this.hide = true;
                this.footer = false;
                EventBus.$emit('class', false);
            },

            AtrasM(){
                this.selected = null;
                this.piezasObj = [];
                this.$refs['vmdetalleCaso'].hide()
            }

        },
    }
</script>