<template>
  <div class="container" v-show="!ocultar">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills mt-2 ml-4 ">
          <div class="form-group">
            <div class="card-tools" >
              <a id="btn-casos" class="btn btn-success"   href="#"  @click="crearCaso()"><i class="fa fa-plus"></i>&nbsp; Crear Caso</a>
            </div>
          </div>

          <span>&nbsp; &nbsp; &nbsp;</span>

          <div class="form-group">
            <div class="card-tools" >
              <a class="btn btn-outline-primary" href="#" v-b-modal.addLlamada  @click="DetallellamadaModal()"><i class="fas fa-headset"></i>&nbsp; Detalles de la llamada</a>
            </div>
          </div>
          
          <span>&nbsp; &nbsp; &nbsp;</span>

          <div class="form-group">
            <div class="card-tools" >
              <a id="btn-casos" class="btn btn-outline-primary"   href="#"  @click="MostrarCasosComentarios()"><i class="fas fa-search"></i>&nbsp; Detalles del caso</a>
            </div>
          </div>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error> 
        <div class="tab-content">
          <div class="tab-pane active show" id="personas">
            <div class="row">
            <!-- <form class="form-horizontal"> -->
              <div v-show=" hide" class="col-md-12">
                <div class="form-group ">
                  <div class="col-md-6 float-left">
                    <label v-show = "hide" class="col-sm-13 control-label">Cliente</label>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                      <input readonly="readonly" v-model="this.nombres" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                    </div>
                  </div>

                  <div class="col-md-6 float-left">
                    <label v-show = "hide" class="col-sm-13 control-label">Cedula</label> 
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                      <input readonly="readonly" v-model="this.cedula" type="text" name="cedula" class="form-control" id="cedula" placeholder="cedula">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 mt-3 float-left">
                    <label for="Password" class="col-sm-13 control-label">Telefono</label> 
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                      <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1" type="text" name="TlfPersonal" class="form-control" id="tlfPersonal" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlfPersonal') }" data-vv-as="Telefono Personal">
                    </div>
                  </div>

                  <div class="col-md-6 mt-3 float-left">
                    <label for="Password" class="col-sm-13 control-label">Correo</label>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                      <input v-model="this.email1" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>


              <div v-show=" !hide">
                <div class="row">
                  <b-col>
                    <div class="form-group">
                      <div class="col-sm-6 float-left">
                        <label class="col-sm-13">Empresa</label>
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                          <input readonly="readonly" v-model="this.nombre_emp" type="text" name="NombreEmpresa" class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa">
                        </div>
                      </div>

                      <div class="col-sm-6 float-left">
                        <label class="col-sm-13">Rif</label>
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-id-card-alt heading" style="color:#43b375"></i></span>
                          <input disabled v-mask="'##########'" v-model="this.rif_emp" type="text" readonly="readonly" class="form-control" placeholder="Rif" :class="{ 'is-invalid': form.errors.has('this.rif_emp') }">
                        </div>
                      </div>
                    </div>
                  </b-col>
                </div>

                <div class="row">
                  <b-col>
                    <div class="form-group">
                      <div class="col-md-6 mt-2 float-left">
                        <label for="Password" class="col-sm-13 control-label">Telefono</label> 
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                          <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1_emp" type="text" name="tlf1" class="form-control" id="tlf1" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlf1') }" data-vv-as="Telefono Personal">
                        </div>
                      </div>

                      <div class="col-md-6 mt-2 float-left">
                        <label for="Password" class="col-sm-13 control-label">Correo</label>
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                          <input v-model="this.email_emp" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('this.email_emp') }">
                        </div>
                      </div>
                    </div>
                  </b-col>
                </div>
              </div>
            
              <div class="row">
                <b-col>
                <div class="col-md-6 mt-3 float-right">
                  <label for="tlfPersonal" class="col-sm-13">N° De Contacto</label>
                  <div class=" form-group col-md-13">
                    <input  v-mask="'+58 (###) ### ####'" :disabled="true" v-model="form.ncontacto" type="text" name="ncontacto" class="form-control excep" id="ncontacto" placeholder="Numero de contacto" :class="{ 'is-invalid': form.errors.has('ncontacto') }"><has-error :form="form" field="ncontacto"></has-error>
                  </div>       
                </div>

                <div class="col-md-6 mt-3">
                  <label for="tlfPersonal" class="col-sm-13">Serial del equipo</label>
                  <div class=" form-group col-md-13">
                    <b-form-input @keyup="comprobarSE" id="input-valid" v-model="form.serial_equipo" type="text" class="form-control excep" :class="{ 'is-invalid': form.errors.has('serial_equipo')}" placeholder="Serial del equipo"></b-form-input>
                    <has-error :form="form" field="serial_equipo"></has-error>
                  </div>
                </div>
              </b-col>
              </div>

              <div class="row">
                <b-col>
                  <div class="form-group col-md-12">
                    <label for=""  class="col-sm-13">Modelo del equipo</label>
                    <b-form-select enable id="dc" v-model="form.modelo_equipo" class="form-control excep" :class="{ 'is-invalid': form.errors.has('modelo_equipo')}">
                      <option :value="null" enable>Seleccione un modelo de equipo</option>
                      <optgroup label="Portatiles">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'P')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Escritorio">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'E')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Todo en uno">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'A')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Mini PC">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'M')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Tableta">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'T')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Servidor">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'S')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                      <optgroup label="Monitores">
                        <option v-for="modelo in modelos" :value="modelo.id" :key="modelo.id" v-show="(modelo.categorias_codigo === 'M')">{{modelo.categorias_codigo}}{{modelo.modelo}}</option>
                      </optgroup>
                    </b-form-select>
                    <has-error :form="form" field="modelo_equipo"></has-error>
                  </div>
                </b-col>
              </div>

              <div class="form-group">
                <div class="row">
                  <b-col>
                  <div class="col-md-12">
                    <label class="col-sm-13">Solicitudes de la llamada</label>
                    <div class="{ 'invalid': isInvalid }">
                      <multiselect v-model="selected" track-by="descripcion" label="descripcion" :options="calls" :searchable="true" :close-on-select="true"
                      :show-labels="true" :multiple="true" :disabled="isDisabled" :allow-empty="true" :max="6" placeholder="Seleccione las solicitudes" select-label="Presione entrer para seleccionar" >
                      <template slot="option" slot-scope="props">
                        <div class="option__desc"><span class="option__title">{{ props.option.descripcion }}</span><span class="option__small">{{ props.option.desc }}</span></div>
                      </template>
                      <span slot="noResult">No se han encontrado resultados.</span>
                      <span slot="maxElements">Máximo de 6 opciones pueden ser seleccionadas.</span>
                      <span slot="noOptions">Lista vacia.</span>
                    </multiselect>
                  </div>
                </div>
              </b-col>
              </div> <!-- /.row -->
            </div>
            <!--Textarea with icon prefix-->
            <div class="form-group">
              <b-col>
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix"></i><b> Comentario/Observacion de la Llamada</b>
                <textarea v-model="form.comentario" id="comentario" class="md-textarea form-control excep" :class="{ 'is-invalid': form.errors.has('comentario')}" rows="3" name="Comentario" maxlength="140"></textarea><has-error :form="form" field="comentario"></has-error>
              </div> 
              </b-col>                     
            </div>
            <div class="form-group">
              <b-col>
              <div class="md-form">
                <label>¿Considera la llamada efectiva?</label>
                <select v-model="form.estatus" class="form-control excep custom-select" type="text" :class="{ 'is-invalid': form.errors.has('estatus')}">
                  <option value="null" disabled>Seleccione</option>>
                  <option value="SI">Si</option>
                  <option value="NO">No</option>
                  <option value="PARCIALMENTE">Parcialmente</option>
                </select>
                <has-error :form="form" field="estatus"></has-error>         
              </div>
            </b-col>
            </div>
            <div class="form-group mt-4">
              <div class="col-sm  -offset-2 col-sm-12 text-center d-flex justify-content-end">
                <button @click.prevent="atras()" class="btn btn-outline-danger mr-2">Atrás</button>
                <button v-show="(createShow)" @click.prevent="createLlamada()" type="submit"
                class="btn btn-success">Guardar Llamada</button>
                <button v-show="(updateShow)" @click.prevent="updateOn()" type="submit"
                class="btn btn-primary">Actualizar Llamada</button>
                <button v-show="(updateShow2)" @click.prevent="updateLlamada()" type="submit"
                class="btn btn-primary">Actualizar Llamada</button>
              </div>
            </div>

            <!-- Modal  DETALLES DE LA LLAMADA -->
            <b-modal class="modal fade modal-open" size="lg" centered ref="addLlamada" id="addLlamada" tabindex="-1" role="dialog" aria-labelledby="addUsuarioLabel" hide-footer no-close-on-backdrop >
              <template slot="modal-header" slot-scope="{ scape }">
                <h5 class="modal-title" id="addUsuarioLabel">Detalles de la Llamada</h5>
              </template>
                    <div class="row">
                    <b-col>
                      <div class="form-group">
                        <div v-show = "hide">
                          <div class="col-md-6 float-left">
                            <label v-show = "hide" class="col-sm-13 control-label">Cliente</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.nombres" type="text" name="NombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
                            </div>
                          </div>

                          <div class="col-md-6 float-left">
                            <label v-show = "hide" class="col-sm-13 control-label">Cedula</label> 
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.cedula" type="text" name="cedula" class="form-control" id="cedula" placeholder="cedula">
                            </div>
                          </div>
                        </div>

                        <div v-show = "!hide">
                          <div class="col-md-6 float-left">
                            <label v-show = "!hide" class="col-sm-13 control-label">Empresa</label> 
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input readonly="readonly" v-model="this.nombre_emp" type="text" name="NombreEmpresa" class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa">
                            </div>
                          </div>
                  
                          <div class="col-md-6 float-left">
                            <label v-show = "!hide" class="col-sm-13 control-label">Rif</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-id-card-alt" style="color:#43b375"></i></span>
                              <input disabled v-mask="'##########'" v-model="this.rif_emp" type="text" readonly="readonly" class="form-control" placeholder="Rif" :class="{ 'is-invalid': form.errors.has('this.rif_emp') }">
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-col>
                  </div>
                  <div class="row">
                    <b-col>
                      <div v-show = "hide" class="form-group">
                        <div class="col-md-6 float-left mt-2">
                          <label for="Password" class="col-sm-13 control-label">Telefono</label> 
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                            <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1" type="text" name="TlfPersonal" class="form-control" id="tlfPersonal" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlfPersonal') }" data-vv-as="Telefono Personal">
                          </div>
                        </div>
                        
                        <div class="col-md-6 float-left mt-2">
                          <label for="Password" class="col-sm-13 control-label">Correo</label>
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                            <input v-model="this.email1" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                          </div>
                        </div>
                      </div>
                    </b-col>
                  </div>
                  <div class="row">
                    <b-col>
                      <div v-show = "!hide" class="form-group">
                       <div class="col-md-6 float-left mt-2">
                        <label for="tlfPersonal" class="col-sm-6">Telefono</label> 
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-mobile-alt" style="color:#43b375"></i></span>
                          <input readonly="readonly" v-mask="'+58 (###) ### ####'" v-model="this.tlf1_emp" type="text" name="tlf1" class="form-control" id="tlf1" placeholder="Telefono personal" :class="{ 'is-invalid': form.errors.has('tlf1') }" data-vv-as="Telefono Personal">
                        </div>
                      </div>
                      <div class="col-md-6 float-left mt-2">
                        <div class="col-md-6 float-left mt-2">
                          <label for="tlfPersonal" class="col-sm-4">Correo</label> 
                          <div class="input-group col-sm-12">

                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-envelope" style="color:#43b375"></i></span>
                              <input v-model="this.email_emp" type="email" class="form-control" id="inputEmail" readonly="readonly" placeholder="Email" :class="{ 'is-invalid': form.errors.has('this.email_emp') }">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-col>
                </div>
                    
                    <div class="content table-responsive mt-2">
                      <table class="table table-striped table-condensed" id="tblGrid">
                        <thead id="tblHead"><tr>
                          <th>Fecha Hora</th>
                          <th>Equipo</th>
                          <th>N° Contacto</th>
                          <th>Operador</th>
                          <th>N° de Llamada</th>
                          <th>Estado de la llamada</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="llamada in llamadas" :key="llamada.id">
                          <td>{{llamada.updated_at}}</td>
                          <td>{{llamada.serial_equipo}}</td>
                          <td>{{llamada.ncontacto}}</td>
                          <td>{{llamada.user.name}}</td>
                          <td>{{llamada.id}}</td>
                          <td>{{llamada.estatus}}</td> 
                          <td>
                          <a class="btn btn-primary" href="#" v-b-modal.consultar @click="Consultarllamada(llamada)"><i class="fas fa-search"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <div class="modal-footer">
                  <div class="mx-auto">
                    <nav>
                      <ul class="pagination">
                        <li  class="page-item" v-if="pagination.current_page > 1">
                          <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">Atras</a>
                        </li>

                        <li class="page-item" v-for="page in pagesNumber" :class="[ page == isActived ? 'active' : '']"> 
                          <a class="page-link" href="#" @click.prevent="changePage(page)">
                            {{ page }}
                          </a>
                        </li>

                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                          <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">Siguiente</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <button type="button" class="btn btn-danger" @click="$bvModal.hide('addLlamada')">Salir</button>
                </div>
          </b-modal>
          <b-modal  class="modal fade modal-open" centered id="consultar" ref="consultar" tabindex="-1" role="dialog" aria-labelledby="addUsuarioLabel" aria-hidden="true" hide-footer no-close-on-backdrop>
            <template slot="modal-header" slot-scope="{ scape }">
              <h5 class="modal-title" id="addUsuarioLabel">Detalles de la Llamada</h5>
            </template>
            <div class="form-group">
              <b-col>
                <div class="md-form">
                  <label>Modelo del equipo</label>
                  <input  v-model="this.modelo_equipo" type="text" readonly="readonly" class="form-control":class="{ 'is-invalid': form.errors.has('modelo') }">
                </div>
                <div class="md-form mt-2">
                  <label class="col-sm-13">Solicitudes de la llamada</label>
                  <div class="{ 'invalid': isInvalid }">
                    <multiselect v-model="selected2" track-by="value" label="value" :options="calls" :searchable="true" :close-on-select="true" 
                    :show-labels="true" :multiple="true" :disabled="true" :allow-empty="true" :max="6" placeholder="Seleccione las solicitudes" select-label="Presione entrer para seleccionar" >
                      <template slot="option" slot-scope="props">
                        <div class="option__desc"><span class="option__title">{{ props.option.descripcion }}</span><span class="option__small">{{ props.option.desc }}</span></div>
                      </template>
                    <span slot="noResult">No se han encontrado resultados.</span>
                    <span slot="maxElements">Máximo de 6 opciones pueden ser seleccionadas.</span>
                    <span slot="noOptions">Lista vacia.</span>
                    </multiselect>
                  </div>
                </div>
                
                <div class="md-form mt-2">
                  <label>Comentario/Observacion de la Llamada</label>
                  <textarea disabled v-model="this.comentario" id="comentario" class="md-textarea form-control excep" :class="{ 'is-invalid': form.errors.has('comentario') }" rows="3" name="Comentario" maxlength="140"></textarea><has-error :form="form" field="comentario"></has-error>
                </div>
              </b-col>
            </div>
            <div class="modal-footer">
              <button   type="button" @click="AtrasMC()" class="btn btn-outline-danger" href="addLlamada" data-dismiss="modal">Atrás</button>
            </div> 
          </b-modal>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div><!-- /.card-body -->
</div>
<!-- /.nav-tabs-custom -->
<!-- </div> -->
<!-- /.col -->
<!-- </div> -->
<!-- /.row -->
</div>
</template>

<script>
  import Multiselect from 'vue-multiselect';
  export default {
    data(){
      return {
        solicitudObj: {},
        solicitudesArray: [],
        solicitudObj: {},
        modelo_equipo: null,
        solicitud_llamada: null,
        comentario: null,
        modelos:[],
        nombres:null,
        apellidos:null,
        nombre_emp:null,
        descripcion:null,
        cedula:null,
        rif_emp:null,
        tlf1:null,
        tlf1_emp:null,
        email1:null,
        email_emp:null,
        calls: [],
        llamadas:[],
        pagination:{
          'total':0,
          'current_page' :0,
          'per_page' :0,
          'last_page' :0,
          'from' :0,
          'to' :0,
        },
        offset:3,
        statemod:null,
        idCliente:null,
        tipoCliente:null,
        value:[],
        selected:null,
        selected2:null,
        statemod:null,
        options: [],
        cedulaOk:false,
        rifOk:false,
        newClient:false,
        piece:false,
        updateShow:false,
        updateShow2:false,
        createShow:true,
        type:'',
        cantidadPieza:1,
        hide:null,
        ocultar:true,
        isDisabled:false,
        operador:null,
        piezas:{},
        inventarios:{},

        form: new Form({
          id:'',
          ncontacto:null,       
          serial_equipo:null, 
          solicitudes:null, 
          comentario:null,        
          estatus:null,    
          client_id:null,
          company_id:null,
          user_id:null,
          nombres:null,
          apellidos:null,
          cedula:null,
          rif_emp:null,
          nombre_emp:null,
          modelo_equipo:null,
          nombre_modelo:null,
        })
      }
    },

    components: {Multiselect},
    mounted() {
      this.listarModelos();
      this.getCalls();
      this.getOperador();
      EventBus.$on('datosCliente', (data) => {
        if(data != null){
          this.info = data;
          this.nombres = data.nombres;
          this.cedula = data.cedula;
          this.tlf1 = data.tlf1,
          this.email1 = data.email1,
          this.apellidos = data.apellidos;
          //////////////////////////////
          this.form.client_id = data.id;
          this.form.company_id = null;
          this.form.nombres = data.nombres;
          this.form.apellidos = data.apellidos;
          this.form.cedula = data.cedula;
          this.desbloquearCamposExcep();
          this.idCliente = data.id;
          this.tipoCliente = 'persona';
          this.getllamadas(data.id,'persona', 1);
          EventBus.$emit('ocultar', true);
          this.ocultar = false;
          this.createShow = true;
          this.getOperador();
          $('#btn-casos').addClass('disabled');
        }else{
          EventBus.$emit('ocultar', false);
        }
      });

      EventBus.$on('datosEmpresa', (data) => {
        if( data.rif_emp != null){
          this.rif_emp = data.rif_emp;
          this.nombre_emp = data.nombre_emp;
          this.tlf1_emp = data.tlf1_emp; 
          this.email_emp = data.email_emp;
          this.idCliente = data.id;
          //////////////////////////////
          this.form.nombre_emp = data.nombre_emp;
          this.form.rif_emp = data.rif_emp;
          this.form.company_id = data.id;
          this.form.client_id = null;
          this.tipoCliente = 'empresa';
          this.getllamadas(data.id,'empresa', 1);
          this.desbloquearCamposExcep();
          EventBus.$emit('ocultar', true);
          this.ocultar = false;
          this.createShow = true;
          this.getOperador();
          $('#btn-casos').addClass('disabled');
        }else{
          EventBus.$emit('ocultar', false);
        }
      });

      EventBus.$on('hide', (data) => {
        if(data != null){
          this.hide = data;    
        }
      });

      EventBus.$on('atrasLlamada', (data) => {
        if(data == true){
          this.atras();    
        }
      });
    },

    created() {
      Fire.$on('AfterCreate',() => {
        this.recargarLlamadas();
      });
    },

    computed: {

      isActived: function(){
        return this.pagination.current_page;
      },

      pagesNumber: function(){
        if(!this.pagination.to){

          return [];
        }

        var from = this.pagination.current_page - this.offset; //Todo offset
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2); //Todo
        if(to >= this.pagination.last_page){
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while(from <= to){
          pagesArray.push(from);
          from++;
        }

        return pagesArray;

      }
    },

    methods:{

      Consultarllamada(llamada){
        this.Disable = true;
        this.comentario = llamada.comentario;
        this.modelo_equipo = llamada.modelo_equipo;

        //Multiselect 
        this.solicitudesArray = llamada.solicitudes.split(",");//Convertir un string en un array.
            for (var i = 0 ; i < this.solicitudesArray.length; i++) {//Convertir un array en un objeto.
            this.solicitudObj["solicitud" + (i+1)] = this.solicitudesArray[i]; //
        }
            this.solicitudObj = Object.entries(this.solicitudObj).map(([key, value]) => ({key,value})); //Convertir un objeto en un array de objetos.
        this.selected2 = this.solicitudObj;

        $('#addLlamada').modal('hide');
        $('#consultar').modal('show');
      },

      AtrasMC(){
        this.selected2 = {};
        this.solicitudObj = {};
        this.$refs['consultar'].hide();
      },

      listarModelos(){
        let url = 'api/sgp/modelos';
        this.dynamicDropdown(url, 'modelos');
      }, 

      changePage: function(page){
        this.pagination.current_page = page;
        this.getllamadas(this.idCliente, this.tipoCliente, page);
      },

      recargarLlamadas: function(page){
        this.getllamadas(this.idCliente, this.tipoCliente, page)
      },

      createLlamada(){
        this.$Progress.start()
        this.form.solicitudes = this.selected;
        this.form.post('api/llamada')
          .then((response) => { // Validacion exitosa
            swal(
              '¡Creación exitosa!',
              'Llamada registrada con éxito.',
              'success'
              )
            this.form.fill(response.data);
            this.form.nombres = this.nombres;
            this.form.cedula = this.cedula;
            this.form.apellidos = this.apellidos;
            this.form.nombre_emp = this.nombre_emp;
            this.form.rif_emp = this.rif_emp;
            this.bloquearCampos();
            this.onSelect();
            this.updateShow = true;
            this.createShow = false;
            this.statemod=null;
            Fire.$emit('AfterCreate');
            $('#btn-casos').removeClass('disabled');
            this.$Progress.finish();
          })
          .catch(() => { //Validacion con error
            this.$Progress.fail()
            toast({
              type: 'warning',
              title: 'Verifique los datos ingresados.'
            })
          })
        },

        updateLlamada() {
          this.$Progress.start();
          this.form.solicitudes = this.selected;
          this.form.put('api/llamada/'+ this.form.id).then(() => {
            Fire.$emit('AfterCreate');
            this.$Progress.finish();
            swal(
              'Edición exitosa!',
              'Llamada editada con éxito.',
              'success'
              )
            this.updateOff();

          }).catch(() => {
            this.$Progress.fail()
            toast({
              type: 'warning',
              title: 'Verifique los datos ingresados.'
            })
          });
        },

        bloquearCampos() {
          var inputs = document.getElementsByClassName('excep');
          for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
          }
        },

        desbloquearCampos() {
          var inputs = document.getElementsByClassName('excep');
          for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = false;
          }

        },

        updateOn(){
          this.desbloquearCampos();
          this.deSelect();
          this.updateShow=false;
          this.updateShow2=true;
        },

        updateOff(){
          this.bloquearCampos();
          this.onSelect();
          this.updateShow=true;
          this.updateShow2=false;
        },

        atras() {
          this.form.reset();
          this.desbloquearCampos();
          this.updateShow=false;
          this.updateShow2=false;
          this.deSelect();
          this.selected = null;
          EventBus.$emit('ocultar', false);
          EventBus.$emit('class', false);
          this.ocultar = true;
        },

        onSelect () {
          this.isDisabled = true
        },

        deSelect () {
          this.isDisabled = false
        },

        dynamicDropdown(url, data){
          axios.get(url)
          .then(response => this[data] = response.data)
          .catch(error => console.log(error))
        },

        getCalls(){
          axios.get('/api/call')
          .then((response) => {
            this.calls = response.data.data;
          })
        },

        getllamadas(id,tipo, page){
          axios.get('/api/getllamada/'+id+'/'+tipo+'?page='+page)
          .then((response) => {
            this.llamadas = response.data.llamada.data;
            this.pagination = response.data.pagination;
          })  
        },

  getOperador(){
    axios.get('/api/operador')
    .then((response) => {
      this.form.user_id = response.data.id;
    })
  },

  addTag (newTag) {
    const tag = {
      name: newTag,
      code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
    }
    this.options.push(tag)
    this.value.push(tag)
  },

  comprobarSE(){
    this.form.post('api/sgp/comprobar/serial_equipo').then((data) => {
      this.form.modelo_equipo = data.data.id;
      this.form.nombre_modelo = data.data.modelo;
      this.buscarPiezasSu();
      this.statemod = true;
    }).catch(() => {
      this.statemod = false;   
    });                
  },

  comprobarME(){
    this.form.get('api/sgp/modelos').then((data) => {
      this.buscarPiezasSu();
      this.statemod = true;
    })
  },

  crearCaso(){
    EventBus.$emit('datosClienteCaso', this.form);
    EventBus.$emit('datosEmpresaCaso', this.form);
    EventBus.$emit('esconder', false);
    EventBus.$emit('ocultar', true);
    this.ocultar = true;

  },

  MostrarCasosComentarios(){
    EventBus.$emit('datosClienteCaso', this.form);
    EventBus.$emit('datosEmpresaCaso', this.form);
    EventBus.$emit('esconder2', false);
    EventBus.$emit('ocultar', true);
    EventBus.$emit('ocultarLlamada', true);
    this.ocultar = true;

  },

  DetallellamadaModal(){
    $('#addLlamada').modal('show');
  },

  desbloquearCamposExcep() {
    var inputs = document.getElementsByClassName('excep');
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].disabled = false;
    }
  },
}
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">

</style>