<template>
    <div class="container">
        <div class="row" v-if="$gate.esAdmin()">
          <div class="col-md-12 mt-5">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Permisos de Usuarios</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><router-link to="/"><p>Inicio</p></router-link></li>
                      <li class="breadcrumb-item active">SIVIT</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="card">
              <div class="card-header">
                <!-- SEARCH FORM -->
                <div class="form-inline ml-3">
                  <div class="input-group input-group-sm"> 
                    <input class="form-control form-control-navbar" @keyup.enter="searchs()"  v-model="search"  type="search" placeholder="Buscar" aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-default-fix" @click="searchs()">
                        <i class="fa fa-search"></i>

                      </button>
                    </div>
                  </div> 
                </div>
                <!-- <div class="card-tools">
                    <a class="btn btn-success" href="#" ><i class="fas fa-user-plus fs-fw"></i>&nbsp; Nuevo Usuario</a>
                </div> -->
              </div>

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>ID</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>E-Mail</th>
                    <th>Usuario</th>
                    <th>Activo</th>
                    <th>Editar</th>
                  </tr>
                  <tr v-for="(listado,index) in listados.data" :key="index">
                    <td>{{ index+1 }}</td>
                    <td>{{ listado.cedula}}</td>
                    <td>{{ listado.name}}</td>
                    <td>{{ listado.correoPersonal}}</td>
                    <td>{{ listado.nick}}</td>
                    <td v-if="listado.estado_user === 1"><i class="fa fa-check-circle text-green"></i></td>
                    <td v-else><i class="fa fa-times-circle text-red"></i></td>

                    <td >
                        <a v-show="listado.estado_user === 1" 
                        @click="showModal({'name':listado.name,'nick':listado.nick})" 
                        class="btn btn-primary fa fa-pen blue"></a>
                        /
                        <a v-show="listado.estado_user === 1" 
                        @click="showModalDelete({'name':listado.name,'nick':listado.nick})" 
                        class="btn btn-danger fa fa-trash blue"></a>
                    </td>
                  </tr>
                   
                </tbody>
              </table>
              
              </div>
           <!-- /.card-body -->
              <div class="card-footer d-flex justify-content-center">
                <pagination :data="listados" :limit="5" @pagination-change-page="getResults">
                  <span slot="prev-nav"><i class="fas fa-arrow-left"></i></span>
                  <span slot="next-nav"><i class="fas fa-arrow-right"></i></span>
                </pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
       <div class="form-group">
          <div class="modal fade bd-example-modal-lg" id="modalempleados" tabindex="10"  role="dialog" aria-labelledby="modalempleado" aria-hidden="true" >
           <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header label">
                <h5 v-show="!editmode" class="modal-title" id="addUsuarioLabel">Eliminar Permisos a {{(user.name)}}</h5>
                <h5 v-show="editmode" class="modal-title" id="addUsuarioLabel">Agregar Permisos a {{(user.name)}}</h5>

              
              <button type="button" class="close"  
              data-dismiss="modal" @click="Borrar1()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>
            </div>

             <div class="modal-body content-centered">
               <div v-show="nivel === 1 && editmode">
                 <input  type="checkbox" :disabled="disabled" v-model="disabled" 
                  @click="agregarPermisosAdmin">Agregar Permisos Admin
               </div>
               
               <form @submit.prevent=" editmode ? RegistrarPermisos() : borrarPermisos()">

               <input v-show="!editmode" 
               class="form-control form-control-navbar"  
               type="search"
                v-model="searchModulos"
                @keyup="modulosSearch()"
                placeholder="Buscar Modulos" 
                aria-label="Search">

                 <div class="col-sm-12">
              <label for="cargo">Modulos</label>
                <div class="input-group lis">
                  
                    <multiselect
                    v-show="nivel !== 1 && editmode"
                    :options="modulosList" 
                    
                    v-model="form.selectModulo"
                    :searchable="true"
                    :close-on-select="true"
                    deselectLabel="Quitar"
                    selectedLabel="Seleccionado"
                    @select="addModulo"
                    class="form-control"
                  >

                    <span slot="noResult"
                      >No existen resultados para esta busqueda</span
                    >
                  </multiselect>

        <div class="col-md-12">
          <div v-show="vacio">
            No existen resultados para esta busqueda
          </div>
          <div class="form-group" v-show="vacio !== true">
            <div class="table-wrapper-scroll-y my-custom-scrollbar texto">
              <table class="table table-bordered" >
                <thead style="text-align: center">
                  <th>ID</th>
                  <th>Modulo</th>
                  <th>Niveles</th>
                  <th v-show="editMode">Eliminar</th>
                </thead>
                <tbody v-if="editmode" style="text-align: center"><!--Tabla que se muestra cuando se va a añadir permisos-->
                  <tr
                    v-for="(item, index) in form.modulos"
                    v-bind:key="index"
                  >
                    <td><b>{{ index }}</b></td>
                    <td><b>{{ item }}</b></td>
                    <td>
                      <div v-show="nivel !== 1">
                    <input type="checkbox" v-model="form.contenido[index]">Ver Contenido<br>
                    <input type="checkbox" v-model="form.edit[index]">Editar Contenido<br>
                    <input type="checkbox" v-model="form.crear[index]">Crear Contenido<br>
                    <input type="checkbox" v-model="form.delete[index]">Borrar Contenido
                      </div>
                    
                    </td>
                    <td>
                      <a
                        v-show="nivel !== 1"
                        href="#"
                        class="btn btn-danger"
                        @click="borrarModulo(index)"
                      >
                        <i class="fas fa-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              
                <tbody v-if="!editmode" style="text-align: center"><!--tabla cuando se va a eliminar permisos del usuario-->
                  <tr
                    v-for="(item, index) in form.modulos"
                    v-bind:key="index"
                  >
                    <td><b>{{ index+1 }}</b></td>
                    <td><b>{{ item.modulo }}</b></td>
                    <td>
                      
                    <input type="checkbox" v-model="deleted[index]" @click="capture({'item':item.modulo,'user':user.nick,'cod':item.codpermission})">{{item.codpermission}}<br>
                    
                    </td>
                    
                  </tr>
                </tbody>
              
              </table>
              
            </div>
            
          </div>
        </div>
                </div>
              </div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-primary btn-borrar" @click="Borrar()"
            data-dismiss="modal" ><b> Cerrar</b></button>
            <button v-show="editmode" type="submit" class="btn btn-success" ><b> Registrar</b></button>
            <button v-show="!editmode" type="submit" class="btn btn-danger" ><b> Eliminar</b></button>
           </div>
               </form>
               
              </div>
           
         </div>
       </div>
     </div>

    </div>
      <div v-if="!$gate.esAdmin()">
          <seguridad></seguridad>
        </div>
        
    </div>
</template>

<script>
export default {
  
  data(){
    return{
      listados:[],
      search:"",
      user:"",
      vacio:false,
      modulosList:[],
      editmode:false,
      searchModulos:"",
      deleted:[],
      nivel:0,
      form: new Form({
        selectModulo:"",
        modulos:[],
        nick:"",
        contenido:[],
        crear:[],
        delete:[],
        edit:[],
        
      }),
      form2: new Form({
          modulosDelete:[]
      }),
      disabled:false
    }
  },created(){
    this.listarUsuarios();
    this.getResults();
    this.$on('update',(nick) => {
      this.listadoModuloEliminar(nick);
      
    });
    this.agregarPermisosAdmin();
  },
  mounted(){
    this.modulosP();
    
  },computed:{

}, methods:{

    modulosP: function(){
      axios.get("api/modulos").then((result) => this.modulosList = result.data);
    },
      listarUsuarios: function(){
        axios.get("api/permisos").then((result) => this.listados = result.data);
  },getResults(page = 1) {
        axios.get('api/permisos?page=' + page)
          .then(response => {
            this.listados = response.data;
          });
    },
    async searchs(){
     this.$Progress.start();

      let id = this.search;
      await axios.get("api/search_P?q=" + id).then((result) => this.listados = result.data);
      //alert(this.search);
    }
    ,showModal:function(user){
      this.user = user;
      this.form.nick = user.nick;
      this.editmode = true;
      axios
      .get('api/agregarPermisosAdmin?nick='+this.form.nick)
      .then((result) => {
        this.nivel = result.data;
      });
      $('#modalempleados').modal({ backdrop: "static", keyboard: false });
      
    },
    showModalDelete(user){
      this.user = user;
      this.form.nick = user.nick;
      this.editmode = false;
      $('#modalempleados').modal({ backdrop: "static", keyboard: false });
      this.listadoModuloEliminar(user.nick);
    },
    addModulo(event){
      var paso = false;
      this.form.modulos.forEach(element => {
        if(element === event) {
          swal(
                  'Atención!',
                  'Hay Un Modulo Añadido.',
                  'warning'
                  )
        return paso = true;
        }
      });
      if(paso === false)
        this.form.modulos.push(event);
    },
    async Borrar(){
      this.disabled = false;
      this.form.reset();
      this.searchModulos="";
      this.form2.modulosDelete=[];
      await this.$Progress.start();
      window.location.reload();
    },
     Borrar1(){
       this.disabled = false;
      this.form.reset();
      this.searchModulos="";
      this.form2.modulosDelete=[];
      this.vacio = false;
    },
    borrarModulo(index){
      this.form.modulos.splice(index,1);
    },
    async RegistrarPermisos(){
    await this.$Progress.start();
    await this.form.post("api/registros").then(()=>{
          swal(
                  'Registrado!',
                  'Hay Un Modulo Añadido.',
                  'success'
                  )
          
    });
       
    // window.location.reload();

    },
    listadoModuloEliminar(nick){
      axios
      .get('api/list_delete_registros?q='+nick)
      .then((result) => {
        this.form.modulos = result.data
        })  ;
    },
    async borrarPermisos(){
     await this.$Progress.start();
     await this.
      form2.post('api/delete_registros')
      .then((result) => {
          if(result.data === "Se ha Eliminado con exito"){
            swal(
                  'Eliminado!',
                  'Se ha Eliminado con exito.',
                  'success'
                  );
                  
          }else{
            swal(
                  'Error no has Elegido un Permiso!',
                  'Error.',
                  'danger'
                  );
          }
      });
      this.deleted = [];

      this.$emit('update',this.user.nick);
      
    },
   modulosSearch(){
     this.vacio = false;
    axios
    .get('api/modulosSearch?q='+this.searchModulos+'/'+this.user.nick)
    .then((resultado) => {
      if(resultado.data.length === 0) this.vacio = true;
      else
      this.form.modulos = resultado.data;
    });
   },capture(object){
      this.form2.modulosDelete.push(object);
   },
   agregarPermisosAdmin(){
     console.log(this.form.nick);
      
     for (let index = 0; index < this.modulosList.length; index++) {
          this.form.modulos.push(this.modulosList[index]);    
      }
    
   }

  }

}
</script>
<style scoped>
.my-custom-scrollbar {
  position: relative;
  overflow: auto;
  height: 300px;
}
.table-wrapper-scroll-y {
  display: block;
}

</style>