<template>
  

<permisos-registro></permisos-registro>


</template>

<!--
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          
          <div class="card " >
            
            <div class="card-header">
            <h3 class="card-title"><b>AÑADIR PERMISOS A ()</b></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start 
            
                
                <div class="card-body">
                  
                  <div class="form-group">
                  <label for="tipodoc">Seleccione el Modulo</label>
                    <select   name="entidades[]" class="form-control entidad select2">
                        <option value="0" selected disabled> Seleccione el modulo</option>
                                                   
                    </select>
                  
                  </div>
                 
                  <div class="form-group" >
                    <h6><b>Modulos(En caso del Modulo de Seguridad es solo para los administradores del Sistemas) para habilitar los permisos siempre y cuando que el permiso de leer este activo</b></h6>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar texto" >
                      <table class="table table-bordered">
                        <thead>
                          <th>Num</th>
                          <th>Modulo</th>
                          <th>Rutas del modulo</th>
                          <th>Permisos</th>
                        </thead>
                        <tbody>

                            
                        </tbody>
                      </table>
                    </div>
                  
                  </div>
          
                <div class="card-footer">
                  <a id="createcountry" href="#" class="btn btn-success createcountry" ><b>Guardar Cambioss</b></a>
                  <a href="#" class="btn btn-default ml-4"><i class="fas fa-chevron-circle-left"></i><b>Volver</b></a>
                </div>
                
            </div>


          
            </div>
        </div>
      </div>
    </div>
-->

<script>
export default {
    data() {
        return{

        }
    },
    mounted(){
        console.log("ldd");
    }
}
</script>