<template>
  <div>
    <!-- Infobox -->
    <div class="row">
      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Casos asignados a un operador técnico para su atención."
      >
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1">
            <i class="fas fa-flag"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Asignados</span>
              <span class="info-box-number">{{ 0 }}</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Es el caso en el cual un equipo cuenta con una garantía valida."
      >
        <div class="info-box mb-4">
          <span class="info-box-icon bg-primary elevation-1">
            <i class="fas fa-check"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Con garantía</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Es el caso en el cual un equipo pasa el tiempo definido en su garantía."
      >
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1">
            <i class="fas fa-exclamation-circle"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Sin garantía</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </b-col>
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Casos en los que el presupuesto ha sido pagado."
      >
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1">
            <i class="fas fa-check-double"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Pagado</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Casos en los que el tiempo estipulado en el presupuesto se ha expirado."
      >
        <div class="info-box mb-3">
          <span class="info-box-icon bg-secondary elevation-1">
            <i class="fas fa-times"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Expirado</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div
        class="col-12 col-sm-6 col-md-2"
        v-b-tooltip.html
        title="<strong>Nota:</strong> Casos en los que el tiempo de atención ha sobrepasado el estipulado."
      >
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1">
            <i class="fas fa-calendar-times"></i>
          </span>
          <b-col>
            <div class="info-box-content">
              <span class="info-box-text">Sin atención</span>
              <span class="info-box-number">0</span>
            </div>
          </b-col>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    </div>
    <!-- Infobox (FIN) -->

    <form class="form-horizontal">
      <!-- Bandeja de casos -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Bandeja de casos</h3>

          <div class="card-tools">
            <!-- -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th scope="col">Numero de caso</th>
                  <th scope="col">Serial del equipo</th>
                  <th scope="col">Modelo del equipo</th>
                  <th scope="col">Falla equipo</th>
                  <th scope="col">Piezas sugeridas</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="caso in casos.data" :key="caso.id">
                  <template>
                    <td>{{caso.numero_caso}}</td>
                    <td>{{caso.serial_equipo}}</td>
                    <td>{{caso.modelo_equipo}}</td>
                    <td>{{caso.falla_equipo}}</td>
                    <td>{{caso.piezas_sugeridas}}</td>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 2">
                      <td>
                        <span class="badge badge-success">Abierto</span>
                      </td>
                    </div>
                    <div class="d-flex justify-content-center" v-if="caso.estado_caso_id == 1">
                      <td>
                        <span class="badge badge-warning">En espera</span>
                      </td>
                    </div>
                    <td>{{caso.updated_at}}</td>
                    <td>
                      <button
                        v-show="caso.preasignacion==false"
                        class="btn btn-primary mt-2"
                        @click.prevent="aceptarCaso(caso)"
                      >
                        <i class="fas fa-clipboard-check"></i>
                      </button>

                      <button
                        v-show="caso.preasignacion==true"
                        v-b-modal.diagnostico
                        type="button"
                        class="btn btn-primary mt-2"
                        @click="diagnosticoModal(caso)"
                      >
                        <i class="fas fa-user-cog"></i>
                      </button>

                      <button
                        v-show="caso.diagnostico_caso.length>=1"
                        v-b-modal.diagnostico
                        type="button"
                        class="btn btn-danger mt-2"
                        @click="cerrarCasoModal(caso)"
                      >
                        <i class="fas fa-archive"></i>
                      </button>

                      <button
                        class="btn btn-primary mt-2"
                        type="button"
                        href="#"
                        v-b-modal.Comentario
                        @click="ComentarioModalDiagnostico(caso)"
                      >
                        <i class="fas fa-comment"></i>
                      </button>
                    </td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix" style="display: block;">
          <!-- -->
          <pagination :data="casos" @pagination-change-page="getResults">
            <span slot="prev-nav">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span slot="next-nav">
              <i class="fas fa-arrow-right"></i>
            </span>
          </pagination>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- Bandeja de casos (FIN) -->

      <!-- Modal para el diagnóstico -->
      <b-modal
        id="diagnostico"
        ref="diagnostico"
        centered
        size="xl"
        hide-footer
        no-close-on-backdrop
      >
        <template slot="modal-header" slot-scope="{ close }">
          <h5 id="BuscarCasoLabel" class="modal-title">
            Diagnóstico para el caso:
            <b>{{ form.numero_caso }}</b>
          </h5>
        </template>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label>Serial del equipo</label>
              <input
                disabled
                v-model="form.serial_equipo"
                type="text"
                readonly="readonly"
                class="form-control"
                placeholder="Serial del Equipo"
                :class="{ 'is-invalid': form.errors.has('serial_equipo') }"
              />
            </div>
            <div v-show="manage" class="form-group">
              <label>Seleccione un Almacen</label>
              <select class="custom-select" @change="onChange()" v-model="form.almacen">
                <option :value="null" disabled="true">Seleccione un almacén</option>
                <option v-for="almacen in almacenes" :key="almacen.id">{{ almacen.nombre }}</option>
              </select>
            </div>
            <div v-show="manage" class="form-group">
              <label>Seleccione una Pieza</label>
              <select
                v-model="form.pieza"
                id="pieza"
                class="form-control custom-select"
                disabled="true"
                @change="onChange2()"
                :class="{ 'is-invalid': form.errors.has('pieza')}"
              >
                <option
                  v-for="pieza in piezas"
                  :key="pieza.id"
                  v-if="pieza.pieza!==null" 
                >{{ pieza.pieza.nombre +  ' - '+ pieza.numero_parte.pn+' - '+ pieza.numero_parte.caracteristica_p.descripcion}}</option>
              </select>
              <has-error :form="form" field="pieza"></has-error>
            </div>

            <div v-show="CCmode" class="form-group">
              <label v-show="CCmode">Seleccione un tipo de Pieza</label>
              <select
                v-model="form.tipoPieza"
                id="tipopieza"
                @click="agregarTipo()"
                class="form-control custom-select"
                :class="{ 'is-invalid': form.errors.has('tipopieza')}"
              >
                <option v-for="tipoPieza in tiposPiezas" :key="tipoPieza.id">{{ tipoPieza.nombre}}</option>
              </select>
              <has-error :form="form" field="pieza"></has-error>
            </div>
            <div v-show="CCmode" class="form-group">
              <label v-show="CCmode">Seleccione Falla de la Pieza</label>
              <select
                v-model="form.fallaPieza"
                id="fallapieza"
                class="form-control custom-select"
                @click="agregarFalla()"
                :class="{ 'is-invalid': form.errors.has('fallapieza')}"
              >
                <option v-for="falla in fallas" :key="falla.id">{{ falla.nombre }}</option>
              </select>
              <has-error :form="form" field="fallaPieza"></has-error>
            </div>
            <table class="table table-striped table-light">
              <thead v-show="piece">
                <tr>
                  <th scope="col">Pieza</th>
                  <th scope="col">Numero de Parte</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="inventario in inventarios" :key="inventario.id">
                  <td>{{ inventario.pieza.nombre }}</td>
                  <td>{{ inventario.numero_parte.pn }}</td>
                  <td>{{ cantidadPieza }}</td>
                  <button @click="cantidadPiecePlus()" type="button" class="btn btn-primary">
                    <i class="fas fa-plus"></i> <!-- aqui estoy modificando-->
                  </button>
                  <button @click="cantidadPieceMinus()" type="button" class="btn btn-secondary">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button id="boton-agregar-pieza" type="button" @click="agregarPieza" class="btn btn-success">
                    <i class="fa fa-check"></i>
                  </button>
                  <b-tooltip :show.sync="tooltip_precio" triggers="click blur" target="boton-agregar-pieza" variant="danger" placement="right">
                    La pieza seleccionada<strong> no tiene un precio asignado</strong>
                  </b-tooltip>
                  <button type="button" @click="quitarPieza" class="btn btn-danger">
                    <i class="fa fa-times"></i>
                  </button>
                </tr>
              </tbody>
            </table>
            <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>
            <table class="table table-striped table-light">
              <thead v-show="piece2&&!CCmode">
                <tr>
                  <th v-show="piece2" scope="col">Pieza</th>
                  <th v-show="piece2" scope="col">Numero de Parte</th>
                  <th v-show="piece2" scope="col">Cantidad</th>
                  <th v-show="manage" scope="col">Opciones</th>
                  <!-- <th v-show = "!diag" scope="col">Opciones</th> -->
                </tr>
              </thead>
              <tbody v-show="!CCmode">
                <tr v-for="arreglo in arregloStock" :key="arreglo.id">
                  <td v-show="diag">{{ arreglo.piezas}}</td>
                  <td v-show="diag">{{ arreglo.np_piezas}}</td>
                  <td v-show="diag">{{ arreglo.cant_piezas}}</td>

                  <td v-show="!diag">{{ arreglo.piezas}}</td>
                  <td v-show="!diag">{{ arreglo.np_piezas}}</td>
                  <td v-show="!diag">{{ arreglo.cant_piezas}}</td>
                  <button
                    v-show="manage||CCmode"
                    @click="cantidadPiecePlusM(arreglo)"
                    type="button"
                    class="btn btn-primary"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                  <button
                    v-show="manage||CCmode"
                    @click="cantidadPieceMinusM(arreglo)"
                    type="button"
                    class="btn btn-secondary"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                  <button
                    v-show="manage||CCmode"
                    @click="quitarPiezaSelected(arreglo)"
                    type="button"
                    class="btn btn-danger"
                  >
                    <i class="fa fa-times"></i>
                  </button>
                </tr>
              </tbody>
            </table>

            <table class="table table-striped table-light">
              <thead v-show="CCmode&&this.fallaPieza">
                <tr>
                  <th scope="col">Tipo Pieza</th>
                  <th scope="col">Falla</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody v-show="CCmode&&this.fallaPieza">
                <tr>
                  <td>{{ this.tipoPieza }}</td>
                  <td>{{ this.fallaPieza }}</td>
                  <button
                    v-show="CCmode"
                    type="button"
                    @click="agregarTipoFalla()"
                    class="btn btn-success"
                  >
                    <i class="fa fa-check"></i>
                  </button>
                </tr>
              </tbody>
            </table>
            <alert-error :form="form" message="Se han encontrado algunos errores."></alert-error>

            <table class="table table-striped table-light">
              <thead v-show="mostrarArreglo">
                <tr>
                  <th v-show="mostrarArreglo" scope="col">Pieza</th>
                  <th v-show="mostrarArreglo" scope="col">Falla</th>
                  <th v-show="mostrarArreglo" scope="col">Opciones</th>
                  <!-- <th v-show = "!diag" scope="col">Opciones</th> -->
                </tr>
              </thead>
              <tbody v-show="mostrarArreglo">
                <tr v-for="arreglo in arregloPF" :key="arreglo.id">
                  <td v-show="mostrarArreglo">{{ arreglo.tipoPieza}}</td>
                  <td v-show="mostrarArreglo">{{ arreglo.fallaPieza}}</td>
                  <button
                    v-show="mostrarArreglo"
                    @click="quitarTipoFalla(arreglo)"
                    type="button"
                    class="btn btn-danger"
                  >
                    <i class="fa fa-times"></i>
                  </button>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Modelo del equipo</label>
              <input
                disabled
                v-model="form.modelo_equipo"
                type="text"
                readonly="readonly"
                class="form-control"
                placeholder="Modelo del equipo"
                :class="{ 'is-invalid': form.errors.has('cedula') }"
              />
            </div>
            <div class="form-group" v-show="!CCmode">
              <label>Fallas del equipo</label>
              <b-form-textarea
                id="textarea"
                v-model="form.diagnostico"
                size="1"
                maxlength="140"
                placeholder="Descripción general del diagnóstico..."
                rows="6"
                :disabled="disable"
                max-rows="1"
                :class="{ 'is-invalid': form.errors.has('diagnostico')}"
              ></b-form-textarea>
              <has-error :form="form" field="diagnostico"></has-error>
            </div>
            <div class="form-group" v-show="CCmode">
              <label>Resumen para el historial</label>
              <b-form-textarea
                id="textarea"
                v-model="form.resumen"
                size="1"
                maxlength="140"
                placeholder="Resumen para el historial del caso.."
                rows="6"
                max-rows="1"
                :class="{ 'is-invalid': form.errors.has('resumen')}"
              ></b-form-textarea>
              <has-error :form="form" field="resumen"></has-error>
            </div>
            <div class="form-group" v-show="CCmode">
              <label>Motivo del Reemplazo</label>
              <b-form-textarea
                id="textarea"
                v-model="form.motivoReemplazo"
                size="1"
                maxlength="140"
                placeholder="Motivo por el que realiza el reemplazo..."
                rows="6"
                max-rows="1"
                :class="{ 'is-invalid': form.errors.has('motivoReemplazo')}"
              ></b-form-textarea>
              <has-error :form="form" field="motivoReemplazo"></has-error>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button @click="AtrasM()" type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
          <button
            v-show="mostrarGestionar&&!CCmode"
            @click="gestionarPiezas()"
            type="submit"
            class="btn btn-primary"
          >Gestionar Piezas</button>
          <button
            v-show="diag"
            @click="enviarDiagnostico()"
            type="submit"
            class="btn btn-success"
          >Enviar Diagnóstico</button>
          <button
            v-show="editar"
            @click="updateDiagnostico()"
            type="submit"
            class="btn btn-success"
          >Guardar Cambios</button>
          <!-- <button v-show = "!diag&&!CCmode" @click="cerrarCasoMode()" class="btn btn-success">Cerrar Caso</button> -->
          <button v-show="CCmode" @click="cerrarCaso()" class="btn btn-success">Cerrar Caso</button>
        </div>
      </b-modal>
      <!-- Modal para el diagnóstico (FIN) -->
      <!-- form comentario-->
      <form class="form-horizontal">
        <b-modal
          size="xl"
          centered
          id="Comentario"
          ref="Comentario"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
          hide-footer
          no-close-on-backdrop
        >
          <template slot="modal-header" slot-scope="{ close }">
            <h5 class="modal-title" id="addUsuarioLabel">Comentarios del caso {{ numero_caso }}</h5>
          </template>
          <div class="content table-responsive">
            <table class="table table-striped table-condensed" id="tblGrid">
              <thead id="tblHead">
                <tr>
                  <th>Fecha y Hora</th>
                  <th>Usuario</th>
                  <th>Tipo</th>
                  <th>Comentario u Observación</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(coment, index) in comentarios.data" :value="coment.id" :key="index">
                            <td>{{coment.created_at}}</td>
                            <td>{{coment.usuario}}</td>
                            <td>{{coment.tipo.tipo}}</td>
                            <td>{{coment.comentario}}</td>
                             <td>
                       
                        <a href="#" @click="deleteComent(coment.id, index)" v-show="$store.state.borrar === 'borrar'"><i class="btn btn-danger fa fa-trash red"></i></a>
                    </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="card-footer">
            <div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 d-flex justify-content-center">
                  <pagination :data="comentarios" @pagination-change-page="getResultsComentarios">
                    <span slot="prev-nav">
                      <i class="fas fa-arrow-left"></i>
                    </span>
                    <span slot="next-nav">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                  </pagination>
                </div>
                <div class="col-sm-3 container text-right">
                  <button
                    @click="AtrasMC"
                    type="button"
                    class="btn btn-outline-danger"
                    data-dismiss="modal"
                  >Salir</button>
                  <button
                    href="#"
                    type="button"
                    class="btn btn-success"
                    v-b-modal.addComentario
                    @click="NuevoComentarioModal()"
                  >Comentar</button>
                </div>
              </div>
            </div>
          </div>
        </b-modal>

        <!-- Modal  AGREGAR COMENTARIO AL  CASO -->
        <b-modal
          class="modal fade modal-open"
          centered
          id="addComentario"
          ref="addComentario"
          tabindex="-1"
          role="dialog"
          aria-labelledby="addUsuarioLabel"
          aria-hidden="true"
          hide-footer
          title="Diagnóstico para el caso: 'EJEMPLO'"
          no-close-on-backdrop
        >
          <template slot="modal-header" slot-scope="{ scape }">
            <h5 class="modal-title" id="addUsuarioLabel">Agregar Comentario al caso</h5>
          </template>
          <div class="form-group">
            <b-col>
              <div class="md-form">
                <label>Tipo</label>
                <select
                  v-model="form.tipos"
                  class="form-control excep custom-select"
                  type="text"
                  :class="{ 'is-invalid': form.errors.has('tipos')}"
                >
                  <option v-for="tipo in tipos.data" :value="tipo.id" :key="tipo.id">{{tipo.tipo}}</option>
                </select>
                <has-error :form="form" field="tipos"></has-error>
              </div>
            </b-col>
          </div>
          <div class="form-group">
            <b-col>
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix"></i>
                <b>Comentario</b>
                <textarea
                  v-model="form.comentario"
                  id="comentario"
                  class="md-textarea form-control excep"
                  :class="{ 'is-invalid': form.errors.has('comentario')}"
                  rows="3"
                  name="Comentario"
                  maxlength="140"
                ></textarea>
                <has-error :form="form" field="comentario"></has-error>
              </div>
            </b-col>
          </div>
          <div class="modal-footer">
            <button @click="crearComentario()" type="submit" class="btn btn-success">Comentar</button>
            <button
              @click="salir()"
              type="button"
              class="btn btn-outline-danger"
              data-dismiss="modal"
            >Salir</button> 
            
          </div>
        </b-modal>
      </form>
      <!-- Modal comentario diagnostico (FIN)-->
    </form>
  </div>
</template>


<script>
export default {
  data() {
    return {
      comentarios: {},
      text: null,
      aceptado: false,
      casos: {},
      almacenes: {},
      tiposPiezas: {},
      piezas: {},
      inventarios: {},
      numero_caso: null,
      caseNumber: 0,
      cantidadPieza: 1,
      stockPiece: {},
      arregloStock: [],
      arregloPF: [],
      PiezasEliminar: [],
      piece: false,
      piece2: false,
      piece_id: 0,
      tipofallaId: 0,
      diagnostico: "",
      diag: true,
      manage: false,
      editar: false,
      disable: false,
      CCmode: false,
      tipos: {},
      tipoPieza: null,
      fallaPieza: null,
      mostrarGestionar: false,
      stockPiezasFallas: {},
      fallas: {},
      mostrarArreglo: false,
      tooltip_precio: false,
      form: new Form({
        id: null,
        diagnosticoId: null,
        tecnico_id: null,
        numero_caso: null,
        arregloStock: [],
        PiezasEliminar: [],
        pieza: {},
        precio_piezas: null,
        diagnostico: "",
        tipoPieza: null,
        resumen: "",
        fallaPieza: null,
        motivoReemplazo: "",
        arregloPF: []
      })
    };
  },

  created() {
    axios
      .get("api/perfil")
      .then(({ data }) => (this.form.tecnico_id = data.id));
    Fire.$on("AfterCreate", () => {
      this.loadCasosTecnicos();
      this.loadCasoComentarios();
      this.loadCasosTecnicos();
      this.loadAlmacenes();
      this.loadTiposComentarios();
      this.loadPiezasEtiquetadas();
    });
  },

  mounted() {
    this.loadCasosTecnicos();
    this.loadAlmacenes();
    this.loadTiposComentarios();
    this.loadPiezasEtiquetadas();
  },

  methods: {
    getResults(page = 1) {
      axios.get("/api/casoTecnicos?page=" + page).then(response => {
        this.casos = response.data;
      });
    },
    
    deleteComent(id, index){
     
          swal({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Borrar'
          }).then((result) => {
            // Enviar request al servidor
            if (result.value) {
              this.$Progress.start();
              this.form.delete('api/comentario/'+id).then(() => {
                
                swal(
                  '¡Eliminado!',
                  'El comentario ha sido eliminado.',
                  'success'
                  )
                Fire.$emit('AfterCreate');
                this.$Progress.finish();

              }).catch(() => {
                this.$Progress.fail();
                swal('¡Error!', 'Algo salio mal', 'warning');
            });
           this.comentarios.data.splice(index, 1) //hecho aqui
          }
        })
      },

    enviarDiagnostico() {
      this.$Progress.start();
      this.$Progress.finish();
      this.form
        .post("api/diagnostico")
        .then(() => {
          Fire.$emit("AfterCreate");
          swal("¡Diagnóstico!", "Enviado con éxito.", "success").then(() => {
            this.AtrasM();
            this.loadCasosTecnicos();
          });         
        })
        .catch(() => {
          this.$Progress.fail();
          toast({
            type: "warning",
            title: "Verifique los datos ingresados."
          });
        });
    },

    updateDiagnostico() {
      this.$Progress.start();
      this.form
        .put("api/diagnostico/" + this.form.diagnosticoId)
        .then(() => {
          // Validacion exitosa
          this.$Progress.finish(); // Funcion para recargar nuevos datos en la pagina sin refrescar
          Fire.$emit("AfterCreate");
          swal("¡Editado!", "La informacion ha sido editada.", "success").then(
            () => {
              this.AtrasM();
              this.loadCasosTecnicos();
            }
          );
        })
        .catch(() => {
          // Validacion con error
          this.$Progress.fail();
          toast({
            type: "error",
            title: "Verifique los datos ingresados."
          });
        });
      console.log(this.form.PiezasEliminar);
      if (this.form.PiezasEliminar.length > 0) {
        console.log("CANTIDAD DE PIEZAS MAYOR A CERO");
        this.form
          .post("api/piezasEliminar/" + this.form.PiezasEliminar)
          .then(() => {
            this.PiezasEliminar = [];
            this.form.PiezasEliminar = [];
          })
          .catch(() => {
            // Validacion con error
            this.form.PiezasEliminar = [];
            this.PiezasEliminar = [];
          });
      }
    },

    diagnosticoModal(caso) {
      this.arregloStock = [];
      if (caso.diagnostico_caso == "") {
        console.log("sin diagnostico");
        this.form.numero_caso = caso.numero_caso;
        this.form.fill(caso);
        this.form.modelo_equipo = caso.modelo_equipo;
        this.form.serial_equipo = caso.serial_equipo;
        this.diag = true;
        this.disable = false;
        this.manage = true;
        this.editar = false;
        this.CCmode = false;
        this.mostrarGestionar = false;
      } else {
        console.log(" con diagnostico");
        //this.form.numero_caso = caso.diagnostico_caso[0].diagnostico_caso;
        this.form.fill(caso);
        this.form.diagnosticoId = caso.diagnostico_caso[0].id;
        this.form.diagnostico = caso.diagnostico_caso[0].diagnostico_caso;
        this.arregloStock = caso.detalles_diagnostico;
        this.form.arregloStock = this.arregloStock;
        this.diag = false;
        for (var i = 0; i < this.arregloStock.length; i += 1) {
          this.arregloStock[i].idObj = i;
        }
        this.form.modelo_equipo = caso.modelo_equipo;
        this.form.serial_equipo = caso.serial_equipo;
        console.log("diagnostico");
        console.log(this.form.arregloStock);
        this.manage = false;
        this.disable = true;
        this.CCmode = false;
        if (this.arregloStock.length == 0) {
          console.log("vacio");
          this.piece2 = false;
        } else {
          console.log("lleno");
          this.piece2 = true;
        }
        this.editar = false;
        this.mostrarGestionar = true;
      }
      $("#diagnostico").modal("show");
    },

    cerrarCasoModal(caso) {
      this.arregloStock = [];
      if (caso.diagnostico_caso == "") {
        console.log("sin diagnostico");
        this.form.numero_caso = caso.numero_caso;
        this.form.fill(caso);
        this.form.modelo_equipo = caso.modelo_equipo;
        this.form.serial_equipo = caso.serial_equipo;
        this.diag = true;
        this.disable = false;
        this.manage = true;
        this.editar = false;
        this.CCmode = false;
        this.mostrarGestionar = false;
      } else {
        console.log(" con diagnostico");
        //this.form.numero_caso = caso.diagnostico_caso[0].diagnostico_caso;
        this.form.fill(caso);
        this.form.diagnosticoId = caso.diagnostico_caso[0].id;
        this.form.diagnostico = caso.diagnostico_caso[0].diagnostico_caso;
        this.arregloStock = caso.detalles_diagnostico;
        this.form.arregloStock = this.arregloStock;
        this.diag = false;
        for (var i = 0; i < this.arregloStock.length; i += 1) {
          this.arregloStock[i].idObj = i;
        }
        this.form.modelo_equipo = caso.modelo_equipo;
        this.form.serial_equipo = caso.serial_equipo;
        console.log("diagnostico");
        console.log(this.form.arregloStock);
        this.manage = false;
        this.disable = true;
        this.CCmode = false;
        if (this.arregloStock.length == 0) {
          console.log("vacio");
          this.piece2 = false;
        } else {
          console.log("lleno");
          this.piece2 = true;
        }
        this.editar = false;
        this.mostrarGestionar = true;
      }
      this.diag = false;
      this.disable = true;
      this.CCmode = true;
      this.loadTiposPiezas();
      this.loadFallas();
      $("#diagnostico").modal("show");
    },

    aceptarCaso(caso) {
      swal({
        title: "¿Desea Aceptar el caso? " + caso.numero_caso,
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#f53e17",
        confirmButtonText: "Aceptar caso",
        cancelButtonText: "Cancelar"
      })
        .then(result => {
          if (result.value) {
            axios.get("api/aceptarCasoTecnico/" + caso.id);
            swal("Hecho", "El caso ha sido aceptado", "success")
              .then(() => {
                this.loadCasosTecnicos();
              })
              .catch(() => {
                swal("Error", "Solicitud no procesada", "warning");
              });
          }
        })
        .catch(() => {
          swal("Error", "Solicitud no procesada", "warning");
        });
    },

    gestionarPiezas() {
      this.diag = false;
      this.disable = false;
      this.manage = true;
      this.editar = true;
      if (this.arregloStock == 0) {
        this.piece2 = false;
      } else {
        this.piece2 = true;
      }
      this.mostrarGestionar = false;
    },

    /* cerrarCasoMode(){
     this.diag = false;
     this.disable = true;
     this.CCmode = true;
     this.loadTiposPiezas();
     this.loadFallas();
    }, */

    cerrarCaso() {
      swal({
        title: "¿Esta seguro?",
        text: "El caso se cerrara",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#f53e17",
        confirmButtonText: "Cerrar Caso",
        cancelButtonText: "Cancelar"
      })
        .then(result => {
          if (result.value) {
            this.form.post("api/cerrarCaso");
            swal("Hecho", "El caso se ha cerrado", "success");
          }
          this.PiezasEliminar = [];
          this.form.PiezasEliminar = [];
        })
        .catch(() => {
          swal("Error", "Solicitud no procesada", "warning");
        });
    },

    crearComentario() {
      this.$Progress.start();
      this.form
        .post("api/comentario")
        .then(response => {
          // Validacion exitosa
          this.$refs["addComentario"].hide();
          swal("¡Creación exitosa!", "Comentario creado con éxito.", "success");
          this.form.tipos = null;
          this.form.comentario = null;
          this.$Progress.finish();
          Fire.$emit("AfterCreate"); // Funcion para recargar nuevos datos en la pagina sin refrescar
        })
        .catch(() => {
          //Validacion con error
          this.$Progress.fail();
          toast({
            type: "warning",
            title: "Verifique los datos ingresados."
          });
        });
    },

    NuevoComentarioModal() {
      $("#addComentario").modal("show");
    },

    ComentarioModalDiagnostico(caso) {
      this.numero_caso = caso.numero_caso;
      this.form.numero_caso = caso.numero_caso;
      $("#Comentario").modal("show");
      this.loadCasoComentarios();
    },

    AtrasMC() {
      this.$refs["Comentario"].hide();
    },

    salir() {
      this.$refs["addComentario"].hide();
      this.form.tipos = null;
      this.form.comentario = null;
    },

    AtrasM() {
      this.$refs["diagnostico"].hide();
      this.arregloStock = [];
      this.form.arregloStock = [];
      this.inventarios = {};
      this.stockPiece = {};
      this.piece2 = false;
      this.piece = false;
      this.manage = false;
      this.procesar = true;
      this.update = false;
      this.mostrarArreglo = false;
      this.arregloPF = [];
      this.form.arregloPF = [];
      this.tipoPieza = null;
      this.fallaPieza = null;
      this.loadCasosTecnicos();
    },

    cantidadPiecePlus() {
      var slash2 = "";
      slash2 = this.form.pieza;
      var slash = slash2.replace("/", "|");
      axios
        .get(
          "/api/sgp/cantidad_pieza/" +
            this.cantidadPieza +
            "/" +
            slash +
            "/" +
            this.form.almacen
        )
        .then(({ data }) => (this.cantidadPieza = data));

      /*
if (this.form.almacen === "PUNTO FIJO - CUARTO DE P/P") {
this.form.almacen = "PUNTO FIJO - CUARTO DE P"
axios.get('/api/sgp/cantidad_pieza/'+this.cantidadPieza+'/'+this.form.pieza+'/'+this.form.almacen).then(({ data }) => (this.cantidadPieza = data));
this.form.almacen = "PUNTO FIJO - CUARTO DE P/P"
}else{
axios.get('/api/sgp/cantidad_pieza/'+this.cantidadPieza+'/'+this.form.pieza+'/'+this.form.almacen).then(({ data }) => (this.cantidadPieza = data));
} */
    },

    cantidadPiecePlusM(arreglo) {
      var idObj = arreglo.idObj;
      console.log("arreglo.idObj");
      console.log(arreglo.idObj);
      console.log("arreglo.cantidad_piezas");
      console.log(arreglo.cant_piezas);
      this.cantidadPiezaM = arreglo.cant_piezas;
      console.log("this.cantidadPiezaM");
      console.log(this.cantidadPiezaM);
      this.pieza = arreglo.piezas + " - " + arreglo.np_piezas;
      this.almacen = arreglo.almacenes;
      var slash2 = "";
      slash2 = this.pieza;
      var slash = slash2.replace("/", "|");

      axios
        .get(
          "/api/sgp/cantidad_pieza/" +
            this.cantidadPiezaM +
            "/" +
            slash +
            "/" +
            this.almacen
        )
        .then(({ data }) => (this.arregloStock[idObj].cant_piezas = data));
      this.loadAlmacenes();

      //vm.$set(vm.items, indexOfItem, newValue)
      //Vue.set(this.test, 3, 3);
      //this.arregloStock[idObj].cant_piezas = this.cantidadPiezaM;
      //Vue.set(this.arregloStock[idObj], idObj, this.cantidadPiezaM );
      console.log("this.arregloStock[idObj].cant_piezas");
      console.log(this.arregloStock[idObj].cant_piezas);
    },

    cantidadPieceMinus() {
      axios
        .get("/api/sgp/menos_cantidad_pieza/" + this.cantidadPieza)
        .then(({ data }) => (this.cantidadPieza = data));
    },

    cantidadPieceMinusM(arreglo) {
      var idObj = arreglo.idObj;
      if (arreglo.cant_piezas > 1) {
        this.arregloStock[idObj].cant_piezas =
          this.arregloStock[idObj].cant_piezas - 1;
        this.loadAlmacenes();
        /*this.form.arregloStock[idObj] = this.arregloStock[idObj].cant_piezas;*/
      }
      /*this.arregloStock[idObj].cant_piezas = arreglo.cant_piezas;
      this.cantidadPiezaM = arreglo.cant_piezas;*/
      /*axios.get('/api/sgp/menos_cantidad_pieza/'+this.cantidadPiezaM).then(({ data }) => (this.arregloStock[idObj].cant_piezas = data));*/
    },

    agregarPieza() {
      this.stockPiece = {};
      this.stockPiece.piezas = this.inventarios[0].pieza.nombre;
      this.stockPiece.np_piezas = this.inventarios[0].numero_parte.pn;
      this.stockPiece.cant_piezas = this.cantidadPieza;
      this.stockPiece.almacenes = this.form.almacen;
      if (this.inventarios[0].precio == null) {
        this.tooltip_precio = true
        return this.tooltip_precio = false;
      }
      this.stockPiece.precio_piezas = this.inventarios[0].precio.precio;
      this.stockPiece.idObj = this.piece_id;
      this.arregloStock.push(this.stockPiece);
      this.form.arregloStock = this.arregloStock;
      for (var i = 0; i < this.arregloStock.length; i += 1) {
        this.arregloStock[i].idObj = i;
      }
      console.log("diagnostico");
      console.log(this.form.arregloStock);
      this.piece_id = this.piece_id + 1;
      this.inventarios = {};
      this.stockPiece = {};
      this.cantidadPieza = 1;
      this.piece2 = true;
      this.piece = false;
    },

    quitarPieza() {
      this.inventarios = {};
      this.cantidadPieza = 1;
      this.piece = false;
      if (!this.inventarios.length) {
        this.piece = false;
      } else {
        this.piece = true;
      }
    },

    quitarTipoFalla(arreglo) {
      var idObj = arreglo.idObj;
      this.arregloPF.splice(idObj, 1); //función que elimina un elemento de un array de objetos.
      for (var i = 0; i < this.arregloPF.length; i += 1) {
        this.arregloPF[i].idObj = i;
      }
      this.form.arregloPF = this.arregloPF;
      if (Object.keys(this.arregloPF).length === 0) {
        this.mostrarArreglo = false;
        this.tipofallaId = 0;
        return (this.arregloPF = []);
      }

      return this.arregloPF;
    },

    quitarPiezaSelected(arreglo) {
      var idObj = arreglo.idObj;
      if (arreglo.id) {
        console.log("Quitar pieza Eliminar");
        this.PiezasEliminar.push(arreglo.id);
        this.form.PiezasEliminar = this.PiezasEliminar;
      }
      this.arregloStock.splice(idObj, 1); //función que elimina un elemento de un array de objetos.
      for (var i = 0; i < this.arregloStock.length; i += 1) {
        this.arregloStock[i].idObj = i;
      }
      this.form.arregloStock = this.arregloStock;
      if (Object.keys(this.arregloStock).length === 0) {
        this.piece2 = false;
        this.piece_id = 0;
        return (this.arregloStock = []);
      }

      return this.arregloStock;
    },

    agregarTipo() {
      this.tipoPieza = null;
      this.tipoPieza = this.form.tipoPieza;
      this.form.fallaPieza = null;
      this.fallaPieza = null;
    },

    agregarFalla() {
      this.fallaPieza = null;
      this.fallaPieza = this.form.fallaPieza;
    },

    agregarTipoFalla() {
      this.stockPiezasFallas = {};
      this.stockPiezasFallas.tipoPieza = this.tipoPieza;
      this.stockPiezasFallas.fallaPieza = this.fallaPieza;

      this.stockPiezasFallas.idObj = this.tipofallaId;
      this.arregloPF.push(this.stockPiezasFallas);
      this.form.arregloPF = this.arregloPF;
      for (var i = 0; i < this.arregloPF.length; i += 1) {
        this.arregloPF[i].idObj = i;
      }

      this.tipofallaId = this.tipofallaId + 1;
      this.tiposFallas = {};
      if (this.arregloPF.length) {
        this.mostrarArreglo = true;
      }
    },

    loadCasosTecnicos() {
      axios.get("/api/casoTecnicos/").then(({ data }) => (this.casos = data));
      console.log("casos");
      console.log(this.casos);
    },

    loadAlmacenes() {
      axios.get("api/sgp/almacen").then(({ data }) => (this.almacenes = data));
    },

    loadTiposPiezas() {
      axios.get("api/sgp/piezas").then(({ data }) => {
        this.tiposPiezas = data;
      });
    },

    loadPiezasEtiquetadas() {
      axios.get("api/sgp/piezasEtiquetadas").then(({}) => {});
    },

    loadFallas() {
      axios.get("api/fallas").then(({ data }) => (this.fallas = data));
    },

    loadCasoComentarios() {
      this.form
        .post("api/comentarios_caso")
        .then(({ data }) => (this.comentarios = data));
    },

    loadTiposComentarios() {
      axios.get("api/tipo_comentario").then(({ data }) => (this.tipos = data));
    },

    getResultsComentarios(page = 1) {
      this.form.post("api/comentarios_caso?page=" + page).then(response => {
        this.comentarios = response.data;
      });
    },

    onChange() {
      axios
        .get("api/sgp/piezasAlmacen/" + this.form.almacen)
        .then(({ data }) => (this.piezas = data));
      $("#pieza").attr("disabled", false);

      /*if (this.form.almacen === "PUNTO FIJO - CUARTO DE P/P") {
this.form.almacen = "PUNTO FIJO - CUARTO DE P"
axios.get('api/sgp/piezasAlmacen/'+this.form.almacen).then(({data})=>(this.piezas = data));
$('#pieza').attr('disabled', false);
this.form.almacen = "PUNTO FIJO - CUARTO DE P/P";
}else{}*/
    },

    onChange2() {
      var slash2 = "";
      slash2 = this.form.pieza;
      var slash = slash2.replace("/", "|");
      axios.get("api/sgp/inventario/" + slash + "/" + this.form.almacen)
           .then(({ data }) => (this.inventarios = data))
           .catch((error) => {
                if( error.response ){
                    console.log(error.response.data);
                    toast({type:'warning',title:'Error al cargar informacion del almacen'})
                }
            });
        
      this.piece = true;
      this.cantidadPieza = 1;
      /*if (this.form.almacen === "PUNTO FIJO - CUARTO DE P/P") {
this.form.almacen = "PUNTO FIJO - CUARTO DE P"
axios.get('api/sgp/inventario/'+this.form.pieza+'/'+this.form.almacen).then(({data})=>(this.inventarios = data));
this.piece=true;
this.form.almacen = "PUNTO FIJO - CUARTO DE P/P";
}else{
axios.get('api/sgp/inventario/'+this.form.pieza+'/'+this.form.almacen).then(({data})=>(this.inventarios = data));
this.piece=true;} */
    }
  }
};
</script>
