<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-8">
                            <div class="col-sm-8">
                                <h1 class="m-0 text-dark">{{ titulo }}</h1>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item">
                                        <router-link to="/">
                                            <p>Inicio</p>
                                        </router-link>
                                    </li>
                                    <li class="breadcrumb-item active">SIVIT</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <adm-clients></adm-clients>
                <!-- Componente encargado para realizar la busqueda, creación y edit de los clientes -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                titulo: 'Administración de clientes',
            }
        },
        mounted() {
            // EventBus.$off('datosCliente');
            // EventBus.$off('ocultar');
            console.log('Vista cargada.')
        }
    }
</script>