<template>
    <div>
        <div class="row justify-content-center">
            <!-- Content Header (Page header) -->
        <!-- <div class="content-header col-md-8 mt-5">
            <div class="container-fluid">
                <div class="row mb-8">
                    <div class="col-sm-8">
                        <h1 class="m-0 text-dark">{{ this.titulo }}</h1>
                    </div>
                    <div class="col-sm-4">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            <li class="breadcrumb-item active">Página principal</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div> -->
        </div>
        <!-- /.content-header -->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <Comentario></Comentario>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                titulo: 'Comentarios del caso',
            }
        },
        mounted() {
            // EventBus.$off('datosCliente');
            // EventBus.$off('ocultar');
            console.log('Vista cargada.')
        }
    }
</script>