<template>
    <div>
        <div class="row justify-content-center">
            <!-- Content Header (Page header) -->
            <!-- <div class="content-header col-md-6 mt-5"> -->
                <div :class="{'content-header col-md-6 mt-5': contentSix, 'tcontent-header col-md-8 mt-5': contentEigth} ">
                    <div class="container-fluid">
                        <div class="row mb-8">
                            <div class="col-sm-8">
                                <h1 class="m-0 text-dark">{{ this.titulo }}</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active">Página principal</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
            </div>
        
        <!-- /.content-header -->
        <div class="row justify-content-center">
            <div :class="{'col-md-6': colSix, 'col-md-8':colEigth }">
                <gestionar-caso></gestionar-caso>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                contentSix: true,
                contentEigth: false,
                colSix: true,
                colEigth: false,
                titulo: 'Gestionar Casos',
            }
        },
        mounted() {
            console.log('Vista cargada.')
            EventBus.$on('class', (data) => {
                if(data != null){
                  this.contentEigth = data; 
                  this.colEigth = data;       
              }
          });
        },

        methods:{
        
            }
        }
    </script>