<template>
    <div class="container">
        <div class="row justify-content-center">
            <div :class="{'col-md-8 mt-5':colEigth, 'col-md-12 mt-5':colTwelve}">
                <div class="content-header">
                    <div class="container-fluid">
                        <div v-show = "!ocultar" class="row mb-8">
                            <div class="col-sm-8">
                                <h1 class="m-0 text-dark">{{ titulo }}</h1>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active">Página principal</li>
                                </ol>
                            </div><!-- /.col -->
                        </div>
                    </div>
                </div>
                <adm-clients></adm-clients>
            </div>
            <llamada-caso></llamada-caso>
            <Comentario></Comentario>
            <crear-caso></crear-caso>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                colEigth: true,
                colTwelve:false,
                ocultar:false,
                titulo: 'Llamada',
                colmdheader:'content-header ',
            }
        },
        mounted() {
            console.log('Vista cargada.')
            EventBus.$on('class', (data) => {
                if(data != null){
                  this.colTwelve = data;       
              }
          });

            EventBus.$on('ocultarLlamada', (data) => {
                if(data != null){
                  this.ocultar = data;       
              }
          });
        }

    }
</script>